//# ВЫБОР СЕЛЕКТОРА ПО ВЛОЖЕННОСТИ НА ЛЮБОМ УРОВНЕ
div p {
  // тег <p>, вложенный в <div>
  font-size: 14px;
}
div .class {
  // "class-name", вложенный в <div>
  font-size: 14px;
}
.class .class {
  font-size: 14px;
}