//# Единицы измерения

.class {
  width: 100px; // Абсолютная величина
  width: 100%; // Процент по отношению к родителю
  width: 100vw; // Процент по отношению к ширине экрана
  height: 100vh; // Процент по отношению к высоте экрана
  font-size: 1em; // Процент по отношению к font-size у родителя
  font-size: 1rem; // Процент по отношению к font-size у html

  //* не поддерживается в IE
  // 10% от текущей ширины области просмотра в книжной ориентации и 10% от высоты области просмотра в альбомной ориентации.
  width: 10vmin;
  // 10% от текущей высоты области просмотра в книжной ориентации и 10% ширины области просмотра в альбомной ориентации.
  width: 10vmax;
}
