//# Единицы измерения

.class {
  width: 100px; // Абсолютная величина
  width: 100%; // Процент по отношению к родителю
  width: 100vw; // Процент по отношению к ширине экрана
  height: 100vh; // Процент по отношению к высоте экрана
  font-size: 1em; // Процент по отношению к font-size у родителя
  font-size: 1rem; // Процент по отношению к font-size у html
}
