// * СТИЛИ
.selector-name {
  //* НАПРАВЛЕНИЕ ТЕКСТА НА СТРАНИЦЕ
  writing-mode: horizontal-tb; // по умолчанию. Cверху вниз. И способ письма, и типографский режим являются горизонтальными.
  writing-mode: vertical-rl; // справа налево. И способ письма, и типографский режим являются вертикальными.
  writing-mode: vertical-lr; // слева направо. И способ письма, и типографский режим являются вертикальными.
  writing-mode: initial; // значение по умолчанию.
  writing-mode: inherit; // наследует значение от родительского элемента.
}