// * СТИЛИ
.selector-name {
  //* РАЗМЕРЫ
  width: 500px; // ширина
  min-width: 500px; // минимальная ширина
  max-width: 500px; // максимальная ширина
  height: 500px; // высота (осторожно, Что если контента станет больше?)
  min-height: 500px; // минимальная высота
  max-height: 500px; // максимальная высота (лучше не ограничивать)
  // Ширина и высота не включает толщину границ вокруг элемента, значение отступов и полей.
  // Если задать элементу width/height: 50%, то он посмотрит на родителя, разделит пополам и применит к себе.
  // Ширина элемента body по умолчанию равна видимой ширине окна браузера.
  // Полная ширина окна равна 100vw, полная высота окна — 100vh.
  object-fit: cover; // Подстроит элемент под размер так, чтобы он закрывал определенную площадь c параметрами width/height
  width: 100%; // Нужно указать явно, например 100% ширины и высоты родителя.
  height: 100%; // Нужно указать явно, например 100% ширины и высоты родителя.

  //*ВИДИМОСТЬ
  opacity: 0; // прозрачность от 0.0 до 1.0
  visibility: hidden; // отображение (скрыто)

  //* ШРИФТ
  letter-spacing: 10px; // Текст (расстояние между символами в тексте)
  word-spacing: 5px; // Текст (расстояние между словами)
  white-space: nowrap; // Поведение пробелов внутри элемента (текст в одну строчку)
  white-space: normal; // Поведение пробелов внутри элемента (нормальные пробелы)

  //* ГРАНИЦА
  border-width: 1px; // Граница (толщина)
  border-style: solid; // Граница (начертание - сплошная)
  border-style: dashed; // Граница (начертание - пунктирная)
  border-style: dotted; // Граница (начертание - точками)
  border-style: double; // Граница (начертание - двойная)
  border-color: #000; // Граница (цвет)
  border: 1px solid red; // Граница (толщина начертание цвет)
  border-radius: 1px; // Граница (скругление углов)
  outline-color: black; // Внутренняя граница (цвет)
  outline-style: dashed; // Внутренняя граница (начертание)
  outline-width: 3px; // Внутренняя граница (толщина)

  //* НАПРАВЛЕНИЕ ПОТОКА
  direction: ltr; // Поток (направление слева направо)
  direction: rtl; // Поток (направление справа налево)
  direction: inherit; // Поток (наследует значение родителя)

  //* ВНЕШНИЕ ОТСТУПЫ
  margin: auto;
  // - block, inline, inline-block (цетрирование по горизонтали)
  // - flex (цетрирование по горизонтали и по вертикали)
  margin: 20px; // Внешние отступы (с 4 сторон)
  margin: 20px 20px; // Внешние отступы (верх и низ, по бокам)
  margin: 20px 20px 20px; // Внешние отступы (верх, по бокам, низ)
  margin: 20px 20px 20px 20px; // Внешние отступы (по часовой: верх, справа, низ, слева)
  margin-top: 20px; // Внешний отступ (сверху)
  margin-left: 20px; // Внешний отступ (слева)
  margin-right: 20px; // Внешний отступ (справа)
  margin-bottom: 20px; // Внешний отступ (снизу)

  //* ВНУТРЕННИЕ ОТСТУПЫ
  padding: 20px; // Внутренние отступы (с 4 сторон)
  padding: 20px 20px; // Внутренние отступы (верх и низ, по бокам)
  padding: 20px 20px 20px; // Внутренние отступы (верх, по бокам, низ)
  padding: 20px 20px 20px 20px; // Внутренние отступы (по часовой: верх, справа, низ, слева)
  padding-top: 20px; // Внутренний отступ (сверху)
  padding-left: 20px; // Внутренний отступ (слева)
  padding-right: 20px; // Внутренний отступ (справа)
  padding-bottom: 20px; // Внутренний отступ (снизу)

  //* Z-INDEX (значения: целые числа, чем больше число, тем ближе к нам окажется элемент)
  z-index: 0; // По умолчанию
  z-index: 1; // Не действует на элемент со свойством position: static за исключением display: flex || display: grid

  //* ПОЛОСА ПРОКРУТКИ
  overflow: auto; // полосы прокрутки добавляются только при необходимости
  overflow: hidden; // отображается только область внутри элемента, остальное будет скрыто
  overflow: scroll; // всегда добавляются полосы прокрутки
  overflow: visible; // отображается все содержание элемента, даже за пределами установленной высоты и ширины
  overflow: inherit; // наследует значение родителя

  //* НАПРАВЛЕНИЕ ПОТОКА
  direction: ltr; // слева направо (по умолчанию)
  direction: rtl; // справа налево

  //* НАПРАВЛЕНИЕ ТЕКСТА НА СТРАНИЦЕ
  writing-mode: horizontal-tb; // по умолчанию. Cверху вниз. И способ письма, и типографский режим являются горизонтальными.
  writing-mode: vertical-rl; // справа налево. И способ письма, и типографский режим являются вертикальными.
  writing-mode: vertical-lr; // слева направо. И способ письма, и типографский режим являются вертикальными.
  writing-mode: initial; // значение по умолчанию.
  writing-mode: inherit; // наследует значение от родительского элемента.
}

//* ПСЕВДОКЛАССЫ
// изменение при наведение мышки
.class:hover {
  color: black;
}
// выключенный
.class:disabled {
  color: black;
}