// * СТИЛИ
.selector-name {
  //*ВИДИМОСТЬ
  opacity: 0; // прозрачность от 0.0 до 1.0
  visibility: hidden; // отображение (скрыто)

  //* ГРАНИЦА
  outline-color: black; // Внутренняя граница (цвет)
  outline-style: dashed; // Внутренняя граница (начертание)
  outline-width: 3px; // Внутренняя граница (толщина)

  //* НАПРАВЛЕНИЕ ПОТОКА
  direction: ltr; // Поток (направление слева направо)
  direction: rtl; // Поток (направление справа налево)
  direction: inherit; // Поток (наследует значение родителя)

  //* ПОЛОСА ПРОКРУТКИ
  overflow: auto; // полосы прокрутки добавляются только при необходимости
  overflow: hidden; // отображается только область внутри элемента, остальное будет скрыто
  overflow: scroll; // всегда добавляются полосы прокрутки
  overflow: visible; // отображается все содержание элемента, даже за пределами установленной высоты и ширины
  overflow: inherit; // наследует значение родителя

  //* НАПРАВЛЕНИЕ ПОТОКА
  direction: ltr; // слева направо (по умолчанию)
  direction: rtl; // справа налево

  //* НАПРАВЛЕНИЕ ТЕКСТА НА СТРАНИЦЕ
  writing-mode: horizontal-tb; // по умолчанию. Cверху вниз. И способ письма, и типографский режим являются горизонтальными.
  writing-mode: vertical-rl; // справа налево. И способ письма, и типографский режим являются вертикальными.
  writing-mode: vertical-lr; // слева направо. И способ письма, и типографский режим являются вертикальными.
  writing-mode: initial; // значение по умолчанию.
  writing-mode: inherit; // наследует значение от родительского элемента.
}

//* ПСЕВДОКЛАССЫ
// изменение при наведение мышки
.class:hover {
  color: black;
}
// выключенный
.class:disabled {
  color: black;
}