//# all (Все свойства)
// Свойство all сбрасывает значения всех CSS-свойств, кроме direction и unicode-bidi.

//# Значения
//* initial
// Cбрасывает все свойства элемента до дефолтных, описанных в спецификации.

//* inherit
// Элемент будет наследовать все стили родителя, даже те, которые обычно не наследуются.

//* unset
// Элемент наследует все наследуемые стили родителя, а остальные сбрасывает до дефолтных.

//* revert
/* Действие зависит от источника стилей: браузер, пользователь или сайт.
1. Браузерные стили: действие аналогично unset.
2. Пользовательские стили: откатываемся по каскаду к браузерным стилям (словно пользовательских для этого свойства не существует).
3. Авторские стили: откатываемся по каскаду к пользовательским стилям (словно авторских для этого свойства не существует).
*/

//# Пример
.element {
  all: initial;
  all: inherit;
  all: unset;
  all: revert;
}
