//# all (Все свойства)
// Свойство all сбрасывает значения всех CSS-свойств, кроме direction и unicode-bidi.

//# значения
.element {
  all: initial; // сбрасывает все свойства элемента до дефолтных, описанных в спецификации
  all: inherit; // элемент будет наследовать все стили родителя, даже те, которые обычно не наследуются
  all: unset;   // элемент наследует все наследуемые стили родителя, а остальные сбрасывает до дефолтных
  all: revert;  // действие зависит от источника стилей: браузер, пользователь или сайт
}
