//# animation (Анимация)

.element {
  //* мега-шорткат, в котором можно за раз указать значения для всех свойств
  animation: circle-to-square 2s infinite alternate-reverse ease-in 1s;
  /*
  - Значения указываются через пробел. Порядок указания значений не важен. Из-за того, что значения этих свойств очень разные, браузер сам догадывается, какое значение к какому свойству относится. Важно только помнить, что первое значение времени будет воспринято как значение animation-duration (длительность анимации), а второе — animation-delay (задержка воспроизведения).
  - Для работы анимации совсем не обязательно перечислять все значения. Достаточно указать имя анимации и её длительность. Для остальных свойств будут установлены значения по умолчанию.
  */

  //* несколько анимаций одному элементу через запятую
  animation: circle-to-square 10s infinite alternate ease-out 1s, color-change 5s alternate linear infinite;

  //* свойство, позволяющее ставить анимацию на паузу и запускать снова
  animation-play-state: running; // анимация проигрывается (по умолчанию)
  animation-play-state: paused; // анимация ставится на паузу. При повторном запуске продолжается с того места, где была остановлена
}
