//# border-width
// Свойство border-width управляет толщиной рамки элемента.

//# Значения



.element {
  //* специальные значения
  border-width: medium; // средняя ширина (зависит от браузера, примерно 3 px) (по умолчанию)
  border-width: thin;   // тонкая ширина (зависит от браузера, примерно 1 px)
  border-width: thick;  // толстая ширина (зависит от браузера, примерно 6 px)

  //* любые единицы измерения, кроме процентов
  border-width: 1px;  // ширина в пикселях
  border-width: 1rem; // ширина в rem
  border-width: 1vw;  // ширина в vw
}