//# border
/*
- Свойство border отвечает за отрисовку видимой границы блока. Часто видимую границу блока называют рамкой.
- Само свойство border является шорткатом (короткой записью) и объединяет в себе значение для нескольких полных свойств:
1. border-width
2. border-style
3. border-color
*/

.element {
  border: 5px solid #2e9aff;
}

//# значения




.element {
  //* со всех сторон
  border: 1px solid black;

  //* с каждой стороны по отдельности
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
