//# border-image
/*
- Свойство border-image пригодится в том случае, если вы хотите задать блоку необычную рамку, а не просто сплошную или прерывистую линию одного цвета.
-Это свойство позволяет использовать картинку в качестве «заливки» рамки.
*/

.element {
  border-image: url('custom-border.svg') 10 / 66px 0 66px 66px / 0px 0 stretch;
}

//# Синтаксис
/*
Браузер делит изначальную картинку на девять частей:
1,2,3,4 - четыре угла;
5 - верх;
6 - низ;
7 - лево;
8 - право;
9 - центр.

- После этого он вставляет углы на свои места, а вот поведением вертикальных и горизонтальных сторон мы можем управлять при помощи ключевых слов.

- После двоеточия значения указываются в следующем порядке:
источник фрагмент / ширина / повторение
*/

//# Источник (Обязательный параметр)
/*
- Первым значением указывается ссылка на картинку, которая будет использована в качестве рамки для элемента. Обратите внимание, что ссылку нужно обернуть в круглые скобки и написать перед открывающей скобкой url.
- Картинка может быть в любом формате. В том числе в SVG.
- Можно использовать отдельное свойство border-image-source.
*/

.element {
  border-image: url(border.png);
}

//# Фрагмент (Необязательный параметр)
/*
- Размер одного фрагмента в пикселях. Важный момент: единицы измерения не пишутся, указывается только число.
- Значение может быть указано в процентах.
- Значение по умолчанию — 100%.
- Можно указать от одного до четырёх числовых или процентных значений. Значения разделяются пробелами.
- Можно использовать отдельное свойство border-image-slice.
*/

.element {
  border-image: url(border.png) 10;
}

//# Ширина (Необязательный параметр)
/*
- Для отображения рамки её ширина должна быть указана либо в свойстве border, либо в свойстве border-image. Если ширина рамки нигде не указана, то рамка не отображается.
- Если указываете ширину в свойстве border-image, то её значение отделяется от предыдущих слэшем /.
- При указании ширины нужно указать единицы измерения.
- Можно задать от одного до четырёх значений. Значения разделяются пробелами.
- Можно использовать отдельное свойство border-image-width.
*/

.element {
  border-image: url(border.png) 50% / 10px;
}
