//# border-style
// Свойство border-style управляет стилем рамки элемента.

.element {
  border-style: none; // по умолчанию
}

//# Значения
//* none
// Отключает рамку (значение по умолчанию).

//* solid
// Сплошная рамка. Этот стиль используется чаще всего.

//* Dotted
// Рамка состоит из точек с пробелами между ними.

//* Dashed
// Рамка состоит из коротких чёрточек с пробелами между ними.

//* Double
// Рамка состоит из двух сплошных линий с небольшим нерегулируемым отступом между ними.

//*groove —
// Рамка объёмная, с тенями от источника света, находящегося в верхнем левом наружном углу.
//*ridge —
// Рамка объёмная, с тенями от источника света, находящегося в нижнем правом внешнем углу.
//*inset —
// Рамка с тенями от источника света, находящегося в нижнем правом внутреннем углу.
//*outset —
// Рамка с тенями от источника света, находящегося в левом верхнем внутреннем углу.


.element {


  //* редкие значения
  border-style: groove; // рамка объёмная, с тенями от источника света, находящегося в верхнем левом наружном углу
  border-style: ridge; // рамка объёмная, с тенями от источника света, находящегося в нижнем правом внешнем углу
  border-style: inset; // рамка с тенями от источника света, находящегося в нижнем правом внутреннем углу
  border-style: outset; // рамка с тенями от источника света, находящегося в левом верхнем внутреннем углу

  //* каждой стороны по отдельности
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
}
