//# border (Наружная граница, шорткат)
/*
border-width
border-style (обязательное значение)
border-color

- Для свойства border можно задать только border-style.
- Без border-style обводка не будет отображаться.
- Свойство не наследуется.
- Появление и исчезновение рамки можно анимировать при помощи свойства transition.
- Если задаёте один из не сплошных стилей рамки, и при этом у блока есть фон, то фоновый цвет или картинка будут находиться под рамкой и будут видны в промежутках. Это поведение можно исправить при помощи свойства background-clip.
*/

//# значения
.element {
  //* со всех сторон
  border: 1px solid black;

  //* с каждой стороны по отдельности
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}