//# border-radius (Закругляет углы границы)
/*
- Свойство border-radius закругляет углы почти у любого элемента. И даже если у блока не задана явная рамка.
- Если значение задано в процентах, то оно будет высчитываться от размеров элемента: горизонтальные размеры будут высчитываться от ширины элемента, а вертикальные — соответственно, от высоты (поэтому для квадратного элемента можно задать border-radius: 50%, чтобы сделать его круглым).
- Можно управлять степенью закругления каждого из углов в отдельности или задать одно значение для всех углов сразу. Причём значение на самом деле состоит из двух — скругления по горизонтальной оси и по вертикальной. Чтобы явно задать скругление для каждой из осей (т. е. получить не круглое значение, а эллипсоидное), это значение следует записывать через символ "/". */

//# пример
.element {
  border-radius: 0;   // (по умолчанию)
  border-radius: 5px; // радиус в пикселях
  border-radius: 50%; // радиус в процентах

  //* для каждого из четырёх углов
  border-radius: 5px 0 0 50%;

  //* по горизонтальной оси и по вертикальной оси
  border-radius: 5em / 50%;

  //* для каждого угла в отдельности
  border-top-left-radius: 5em 50%;     // радиус закругления для левого верхнего угла
  border-top-right-radius: 5em 50%;    // радиус закругления для правого верхнего угла
  border-bottom-right-radius: 5em 50%; // радиус закругления для правого нижнего угла
  border-bottom-left-radius: 5em 50%;  // радиус закругления для левого нижнего угла
}
