//# box-shadow (Тень блока)
/*
Каждая тень состоит из следующих значений:
Два, три или четыре значения размера с единицами измерения + цвет

1) Если задано два значения, то они расшифровываются как смещение по оси x и по оси y.
Смещения по осям x и y — обязательные значения для тени. Могут принимать любые числовые значения, в том числе отрицательные. Значение по умолчанию равно 0 для обеих осей. Если первое значение положительное, то тень будет справа от элемента, если отрицательное — слева. Если второе значение положительное, то тень будет снизу, если отрицательное — сверху.

2) Если задано третье значение, то оно интерпретируется как радиус размытия.
Радиус размытия — опциональное значение, положительное числовое значение с единицами измерения. По умолчанию значение 0, что делает его указание необязательным. Если не указываете его или задаёте 0, то край тени будет резким, без размытия. Чем больше значение, тем шире область размытия и тем светлее сама тень.

3) Если задано четвёртое значение, то оно отвечает за радиус распространения.
Радиус распространения — опциональное значение, любое числовое значение с единицами измерения. По умолчанию равно 0, размеры тени совпадают с размерами элемента. Если указано отрицательное значение, то тень будет меньше, если положительное, то тень будет больше.

4) Последним пишется цвет.
Цвет — вроде бы опциональное, но на самом деле обязательное значение цвета тени. Почему? Если не указывать цвет, то решение остаётся за браузером. Как правило, браузер берёт значение свойства color того элемента, которому задана тень. Но Safari отрисует прозрачную тень. Если вам действительно нужен цвет тени, совпадающий с цветом текста элемента, то это можно указать явно при помощи ключевого слова currentColor.

- Дополнительно (необязательно) можно указать ключевое слово inset, которое превратит тень из внешней во внутреннюю.
- Чаще всего, но не обязательно, нужно указывать цвет тени в любом доступном формате цвета.
- Свойство задаёт тень именно для блока. Тень будет совпадать с формой блока. Если вы сделали круглый блок при помощи, например, border-box, то тень тоже будет круглой. Если не менять форму элемента, то тень будет прямоугольной.
- Если нужна тень для букв в тексте, используйте свойство text-shadow.
*/

//# значения
.element {
  //* 2 значения + цвет
  // смещение по оси x (отрицательное значение помещает тень левее элемента, положительное — правее)
  // смещение по оси y (отрицательное значение помещает тень выше элемента, положительное — ниже)
  box-shadow: 1px 2px blue;

  //* 3 значения + цвет
  // смещение по оси x (отрицательное значение помещает тень левее элемента, положительное — правее)
  // смещение по оси y (отрицательное значение помещает тень выше элемента, положительное — ниже)
  // радиус размытия (чем значение больше, тем тень шире и светлей)
  box-shadow: 1px 2px 3px blue;

  //* 4 значения + цвет
  // смещение по оси x (отрицательное значение помещает тень левее элемента, положительное — правее)
  // смещение по оси y (отрицательное значение помещает тень выше элемента, положительное — ниже)
  // радиус размытия (чем значение больше, тем тень шире и светлей)
  // радиус распространения (eсли указано отрицательное значение, то тень будет меньше, если положительное, то тень будет больше)
  box-shadow: 1px 2px 3px 4px blue;

  //* 4 значения + цвет (без сдвига, только размытие)
  box-shadow: 0 0 1px blue;

  //* несколько теней для одного элемента через запятую
  box-shadow: 0 5px 10px gray, -5px -10px 20px pink;
}

//# стили для focus
//* Если используете box-shadow для стилей фокуса, то они не поддерживаются в режиме высокой контрастности в Windows. Режим ограничивает количество цветов, чтобы повысить читаемость текста за счёт изменения контраста текста и фона. Чтобы фокус был виден всем пользователям, задайте альтернативные стили в директиве @media со значением forced-colors.
.element:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em white, 0 0 0 0.4em tomato;
}

@media (forced-colors: active) {
  .element:focus {
    outline: 0.2em solid;
  }
}

//* Второй способ решения проблемы с видимостью box-shadow в режиме высокой контрастности — прозрачный outline.
.element:focus {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 0.2em white, 0 0 0 0.4em tomato;
}
