//# clip (Обрезает элемент)
/*
- С помощью свойства clip можно обрезать элемент, оставив видимой только его часть.
- При кадрировании размер элемента не меняется, остаётся таким же, как до применения свойства clip, меняется только видимая область.
- Свойство не наследуется.
- Можно анимировать.
- Работает только для элементов с позиционированием absolute или fixed
*/

//# значения
.element {
  clip: auto; // края элемента совпадают с краями видимой области (по умолчанию)
  //* функция rect
  clip: rect(top, right, bottom, left);
  // В функции rect() допускается использование всех стандартных единиц измерения и требуется указание всех четырёх значений.
  //* скроет полностью
  clip: rect(0 0 0 0);
}
