//# column-count (Количество колонок)
/* Свойство column-count управляет количеством колонок, на которые будет разбит контент элемента.
- Если одновременно задать column-width и column-count, браузер будет отображать столько колонок, сколько влезет в ширину родительского блока.
- Также на количество колонок внутри элемента, помимо ширины самой колонки, влияет свойство column-gap. */

//# значения
.element {
  column-count: 3;    // одно целое положительное число, означающее количество колонок
  column-count: auto; // количество колонок будет зависеть от ширины, указанной в свойстве column-width

  //* браузер посчитает сам, зная ширину колонки
  column-count: auto;
  column-width: 250px;
}
