//# direction
//! Предупреждение. По возможности авторам рекомендуется избегать использования directionсвойства CSS и вместо этого использовать глобальный атрибут HTML dir.

/*
- Свойство direction задает направление текста, столбцов таблицы и горизонтальное переполнение. Используйте rtl для языков, написанных справа налево (например, иврит или арабский), а также ltr для языков, написанных слева направо (например, английский и большинство других языков).
- Обратите внимание, что направление текста обычно определяется внутри документа (например, с помощью атрибута HTML dir), а не посредством прямого использования свойства directionс.
- Свойство задает базовое направление текста элементов уровня блока и направление вложений, созданных свойством unicode-bidi. Он также устанавливает выравнивание по умолчанию для текста, элементов уровня блока и направление перемещения ячеек внутри строки таблицы.
- В отличие от атрибута dir в HTML, свойство direction не наследуется из столбцов таблицы в ячейки таблицы, поскольку наследование CSS следует за деревом документа, а ячейки таблицы находятся внутри строк, но не внутри столбцов.

*/



/* direction предназначен для сайтов, в которых имеет значение направление текста. Например, при использовании арабского алфавита чтение происходит справа налево.

- Свойство direction достаточно универсально и управляет следующими возможностями:
1) способ отображения текста в блоке
2) порядок колонок в таблице
3) позиция полосы прокрутки в блоке
4) положение последней висячей строки текстового блока при text-align: justify

- При добавлении свойства direction со значением rtl к блоку с полосой прокрутки (например, <textarea>), браузер Internet Explorer и Firefox отображают скроллинг слева, а Opera и Safari — справа. */

//# значения
.element {
  direction: ltr; // слева направо (по умолчанию)
  direction: rtl; // справа налево
  direction: inherit; // Наследует значение родителя.
}


/* Keyword values */
direction: ltr;
direction: rtl;

/* Global values */
direction: inherit;
direction: initial;
direction: revert;
direction: revert-layer;
direction: unset;