//* display: block (занимают всю ширину своего родителя и располагаются на новой строке)
h1
p
header
footer
div
section

//* display: inline (занимают столько места, сколько в них контента, отступы зависят от шрифта (обнуление отступов font-size: 0), не реагируют на width и height)
span
a

//* display: inline-block (ведут себя как строчные, но не игнорируют свойства width и height, выравниваются по последней строке текста внутри них, выравнивание по верхней строчке - vertical-align: top)
img // замещаемый элемент (внешний объект, чьё представление независимо от CSS)

{
  display: block;  // блочный
  display: inline; // строчный
  display: inline-block; // блочно-строчный
  display: flex; // флекс
  display: grid; // гриды
  display: none; // не отображается
}