// Гриды — там, где нужна чёткая структура.
// Например, чтобы создать общую сетку страницы.
// А флексбоксы — для мест, где нужно выравнивание в строке или колонке.
// Например, расположить иконки соцсетей в ряд с равными расстояниями между ними.

.grid-container {
  display: grid; // По умолчанию состоит из одного столбца и одной строки, которые занимают весь его размер
  display: inline-grid; // элементы занимают лишь то пространство, которое необходимо для контента внутри
  grid-template-columns: 100px 100px 150px; // 3 колонки
  grid-template-rows: 150px 150px 100px; // 3 строки
  // распределение элементов происходит слева направо и сверху вниз
  // По умолчанию неявные ячейки имеют значение auto
  // Если у них не будет явной ширины, то они схлопнутся.
  // При значении auto размер грид-полос подстраивается под размер грид-элементов так, чтобы уместился самый большой из них.
  // Другие элементы поделят между собой оставшееся пространство.
}


