//# !important
// Опасный приём для повышения важности стилей. Ломает специфичность и каскад. Переопределяет стили независимо от того, что есть в каскаде (абсолютно все). Если вам пришлось использовать !important в коде, то это сигнал о серьёзных проблемах. Потратьте время и найдите первопричину. Приложите усилия, чтобы не использовать этот модификатор.

//# пример
.element {
  color: green !important;
}

//# использование
//* стили в html
/* Бывают случаи, когда вам приходится иметь дело с элементами HTML-документа, у которых стили заданы при помощи атрибута style.
<h1 class="header" style="color: red">Заголовок</h1>
*/

// Вы не сможете перебить свойство color у элемента <h1> даже усилением веса селектора:
h1.header {
  color: green;
}

// В результате, цвет текста останется красным. Вот тут модификатор !important сможет вам помочь переопределить стили:
.header {
  color: green !important;
}

//* браузерные расширения
// Предположим, вы участвуете в разработке браузерного расширения, которое добавляет на страницу какой-то элемент. Чтобы стили вашего расширения не конфликтовали и не были переопределены стилями самого сайта, допустимо использовать !important.
