//# outline-style (Стиль)
.element {
  outline-style: none;   // отключает рамку (по умолчанию)
  outline-style: solid;  // сплошная
  outline-style: dashed; // пунктирная
  outline-style: dotted; // точками
  outline-style: double; // двойная

  //* редкие значения
  outline-style: groove; // рамка объёмная, с тенями от источника света, находящегося в верхнем левом наружном углу
  outline-style: ridge;  // рамка объёмная, с тенями от источника света, находящегося в нижнем правом внешнем углу
  outline-style: inset;  // рамка с тенями от источника света, находящегося в нижнем правом внутреннем углу
  outline-style: outset; // рамка с тенями от источника света, находящегося в левом верхнем внутреннем углу
}