//# outline-width (Ширина)
.element {
  //* специальные значения
  outline-width: medium; // средняя ширина (зависит от браузера, примерно 3 px) (по умолчанию)
  outline-width: thin;   // тонкая ширина (зависит от браузера, примерно 1 px)
  outline-width: thick;  // толстая ширина (зависит от браузера, примерно 6 px)

  //* любые единицы измерения, кроме процентов
  outline-width: 1px;    // ширина в пикселях
  outline-width: 1rem;   // ширина в rem
  outline-width: 1vw;    // ширина в vw
}