.selector {
  position: static; //* По умолчанию

  position: relative; //* Относительное позиционирование (элемент остаётся в потоке, смещается относительно самого себя)
  top: 20px; // от верхней границы блока (приоритет)
  left: 10px; // от левой границы блока (приоритет)
  right: 40px; // от правой границы блока
  bottom: 10px; // от нижней границы блока

  position: fixed; //* Фиксированное позиционирование (вырывает элемент из потока, смещается относительно окна браузера)
  top: 20px; // от верхней границы браузера (приоритет)
  left: 10px; // от левой границы браузера (приоритет)
  right: 40px; // от правой границы браузера
  bottom: 10px; // от нижней границы браузера

  position: absolute; //* Абсолютное позиционирование (вырывает элемент из потока, смещается относительно родителя)
  // Если родитель (position: static) - ищет ближайщего прародителя,
  // Если не найдет расположится относительно body

  // Если родитель (!position: static)
  // будет размещён согласно top, right, bottom, left относительно границ родителя

  //* Как кросбраузерно скрыть элемент
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);

  position: sticky; //* Липкое позиционирование
}
