//# user-select
/*
- Свойство user-select определяет, может ли пользователь выбрать текст в элементе, для которого это свойство задано.
-

*/

.element {
  user-select: none;
}

//# Значения
//* user-select: none
// Текст внутри элемента нельзя выделить и, как следствие, скопировать.

//* user-select: text
// Текст может быть выделен.

//* user-select: all
// Весь текст, включая текст в дочерних элементах, может быть выделен.

//* user-select: contain

//* user-select: auto




//# значения
.element {
  user-select: none;    // текст внутри элемента нельзя выделить и, как следствие, скопировать
  user-select: text;    // текст может быть выделен
  user-select: all;     // весь текст, включая текст в дочерних элементах, может быть выделен
  user-select: contain; // может быть выделен только текст элемента, которому задано свойство

  user-select: auto;    // значение вычисляется в зависимости от элемента
  // для редактируемого элемента (атрибут contenteditable) значение будет contain
  // для псевдоэлементов ::before и ::after значение будет none;
  // значения user-select: all и user-select: none наследуются от родителя.
  // иначе значение будет text.
}
