//# writing-mode (Направление текста)
// Устанавливает направление текста на странице — по горизонтали или вертикали.

//# значения
.element {
  writing-mode: horizontal-tb; // cверху вниз, по горизонтали (по умолчанию)
  writing-mode: vertical-rl; // справа налево, по горизонтали
  writing-mode: vertical-lr; // слева направо, по горизонтали
}
