//* Псевдоэлементы ::before и ::after всегда содержат свойство content.
// Оно определяет, каким содержимым будут наполнены псевдоэлементы.

.selector::before {
  font-size: 14px;
  content: "Зима";
}
.selector::after {
  font-size: 14px;
  content: "Лето";
}

//* оформление placeholder (не работает для IE)
.input::placeholder {
  color: #c0392b;
}

//* Кросбраузерность placeholder
input::-webkit-input-placeholder {color:#c0392b;}
input::-moz-placeholder          {color:#c0392b;}
input::-ms-input-placeholder     {color:#c0392b;}
input::placeholder               {color:#c0392b;}
