// * СТИЛИ
.selector-name {
  //* РАЗМЕРЫ
  width: 500px; // ширина
  min-width: 500px; // минимальная ширина
  max-width: 500px; // максимальная ширина
  height: 500px; // высота (осторожно, Что если контента станет больше?)
  min-height: 500px; // минимальная высота
  max-height: 500px; // максимальная высота (лучше не ограничивать)
  // Если задать элементу width/height: 50%, то он посмотрит на родителя, разделит пополам и применит к себе.
  // Ширина элемента body по умолчанию равна видимой ширине окна браузера.
  // Полная ширина окна равна 100vw, полная высота окна — 100vh.
  object-fit: cover; // Подстроит элемент под размер так, чтобы он закрывал определенную площадь c параметрами width/height
  width: 100%; // Нужно указать явно, например 100% ширины и высоты родителя.
  height: 100%; // Нужно указать явно, например 100% ширины и высоты родителя.

  //*ВИДИМОСТЬ
  opacity: 0; // прозрачность от 0.0 до 1.0
  visibility: hidden; // отображение (скрыто)

  //* ШРИФТ
  color: black; // Шрифт (цвет)
  font-family: "William", serif; // Шрифт (семейство)
  font-family: "Helvetica", "Arial", sans-serif; // Шрифт (Apple, Windows, default)
  font-family: inherit; // Шрифт (семейство наследуется от родителя)
  font-size: 24px; // Шрифт (размер)
  font-weight: 100;
  font-weight: lighter; // Шрифт-начертание Thin (Hairline) / Тонкий (Волосяной)
  font-weight: 200; // Шрифт-начертание Extra Light (Ultra Light) / Дополнительный Светлый (Сверхсветлый)
  font-weight: 300; // Шрифт-начертание Light / Светлый
  font-weight: 400;
  font-weight: normal; // Шрифт-начертание Normal /	Нормальный
  font-weight: 500; // Шрифт-начертание Medium	/ Средний
  font-weight: 600; // Шрифт-начертание Semi Bold (Demi Bold) / Полужирный
  font-weight: 700;
  font-weight: bold; // Шрифт-начертание Bold	/ Жирный
  font-weight: 800; // Шрифт-начертание Extra Bold (Ultra Bold) / Дополнительный Жирный (Сверхжирный)
  font-weight: 900; // Шрифт-начертание Black (Heavy) / Черный (Густой)
  font-style: normal; // Шрифт-стиль (нормальный)
  font-style: italic; // Шрифт-стиль (курсив)
  font-style: oblique; // Шрифт-стиль (наклонный)
  text-align: left; // Элемент (расположение текста по левому краю)
  text-align: right; // Элемент (расположение текста по правому краю)
  text-align: center; // Элемент (расположение текста по центру)
  text-transform: none; // Текст (обычное нормальное состояние)
  text-transform: uppercase; // Текст (заглавные буквы)
  text-transform: lowercase; // Текст (строчные буквы)
  text-transform: capitalize; // Текст (преобразует Каждую Первую Букву В Заглавную)
  text-decoration: none; // Текст (неоформленный)
  text-decoration: underline; // Текст (подчеркнутый текст)
  text-decoration: overline; // Текст (линии над текстом)
  text-decoration: line-through; // Текст (зачеркнутый текст)
  text-indent: 50px; // Текст (отступ первой строчки от левого края)
  text-shadow: 1px 1px 2px pink; // Текст (тень)
  line-height: 18px; // Текст (высота строки)
  letter-spacing: 10px; // Текст (расстояние между символами в тексте)
  word-spacing: 5px; // Текст (расстояние между словами)
  white-space: nowrap; // Поведение пробелов внутри элемента (текст в одну строчку)
  white-space: normal; // Поведение пробелов внутри элемента (нормальные пробелы)

  //* ПОВЕДЕНИЕ ГРАНИЦ И ВНУТРЕННИХ ОТСТУПОВ
  box-sizing: content-box; // (границы и внутренний отступ расширяют элемент) ПО УМОЛЧАНИЮ
  box-sizing: border-box; // (границы и внутренний отступ отрисуются внутрь)

  //* ГРАНИЦА
  border-width: 1px; // Граница (толщина)
  border-style: solid; // Граница (начертание - сплошная)
  border-style: dashed; // Граница (начертание - пунктирная)
  border-style: dotted; // Граница (начертание - точками)
  border-style: double; // Граница (начертание - двойная)
  border-color: #000; // Граница (цвет)
  border: 1px solid red; // Граница (толщина начертание цвет)
  border-radius: 1px; // Граница (скругление углов)
  outline-color: black; // Внутренняя граница (цвет)
  outline-style: dashed; // Внутренняя граница (начертание)
  outline-width: 3px; // Внутренняя граница (толщина)

  //* НАПРАВЛЕНИЕ ПОТОКА
  direction: ltr; // Поток (направление слева направо)
  direction: rtl; // Поток (направление справа налево)
  direction: inherit; // Поток (наследует значение родителя)

  //* ВНЕШНИЕ ОТСТУПЫ
  margin: auto;
  // - block, inline, inline-block (цетрирование по горизонтали)
  // - flex (цетрирование по горизонтали и по вертикали)
  margin: 20px; // Внешние отступы (с 4 сторон)
  margin: 20px 20px; // Внешние отступы (верх и низ, по бокам)
  margin: 20px 20px 20px; // Внешние отступы (верх, по бокам, низ)
  margin: 20px 20px 20px 20px; // Внешние отступы (по часовой: верх, справа, низ, слева)
  margin-top: 20px; // Внешний отступ (сверху)
  margin-left: 20px; // Внешний отступ (слева)
  margin-right: 20px; // Внешний отступ (справа)
  margin-bottom: 20px; // Внешний отступ (снизу)

  //* ВНУТРЕННИЕ ОТСТУПЫ
  padding: 20px; // Внутренние отступы (с 4 сторон)
  padding: 20px 20px; // Внутренние отступы (верх и низ, по бокам)
  padding: 20px 20px 20px; // Внутренние отступы (верх, по бокам, низ)
  padding: 20px 20px 20px 20px; // Внутренние отступы (по часовой: верх, справа, низ, слева)
  padding-top: 20px; // Внутренний отступ (сверху)
  padding-left: 20px; // Внутренний отступ (слева)
  padding-right: 20px; // Внутренний отступ (справа)
  padding-bottom: 20px; // Внутренний отступ (снизу)

  //* ПОЗИЦИОНИРОВАНИЕ
  position: static; //* По умолчанию

  position: relative; //* Относительное позиционирование (элемент остаётся в потоке, смещается относительно самого себя)
  top: 20px; // от верхней границы блока (приоритет)
  left: 10px; // от левой границы блока (приоритет)
  right: 40px; // от правой границы блока
  bottom: 10px; // от нижней границы блока

  position: fixed; //* Фиксированное позиционирование (вырывает элемент из потока, смещается относительно окна браузера)
  top: 20px; // от верхней границы браузера (приоритет)
  left: 10px; // от левой границы браузера (приоритет)
  right: 40px; // от правой границы браузера
  bottom: 10px; // от нижней границы браузера

  position: absolute; //* Абсолютное позиционирование (вырывает элемент из потока, смещается относительно родителя)
  // Если родитель неспозиционирован (position: static) - ищет ближайщего прародителя, и если не найдет расположится относительно body
  // Если родитель спозиционирован (!position: static) - будет размещён согласно top, right, bottom, left относительно границ родителя.
  //* Как скрыть элемент
  clip-path: inset(top, right, bottom, left); // отвечает за область, внутри которой будет показано содержимое этого элемента
  clip-path: inset(0 0 0 0); // Если все координаты нулевые, элемент не будет показан. Такой код скроет чекбокс
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);

  //* Z-INDEX (значения: целые числа, чем больше число, тем ближе к нам окажется элемент)
  z-index: 0; // По умолчанию
  z-index: 1; // Не действует на элемент со свойством position: static за исключением display: flex || display: grid

  //* ПОЛОСА ПРОКРУТКИ
  overflow: auto; // полосы прокрутки добавляются только при необходимости
  overflow: hidden; // отображается только область внутри элемента, остальное будет скрыто
  overflow: scroll; // всегда добавляются полосы прокрутки
  overflow: visible; // отображается все содержание элемента, даже за пределами установленной высоты и ширины
  overflow: inherit; // наследует значение родителя

  //* НАПРАВЛЕНИЕ ПОТОКА
  direction: ltr; // слева направо (по умолчанию)
  direction: rtl; // справа налево

  //* НАПРАВЛЕНИЕ ТЕКСТА НА СТРАНИЦЕ
  writing-mode: horizontal-tb; // по умолчанию. Cверху вниз. И способ письма, и типографский режим являются горизонтальными.
  writing-mode: vertical-rl; // справа налево. И способ письма, и типографский режим являются вертикальными.
  writing-mode: vertical-lr; // слева направо. И способ письма, и типографский режим являются вертикальными.
  writing-mode: initial; // значение по умолчанию.
  writing-mode: inherit; // наследует значение от родительского элемента.
}

//* ПСЕВДОКЛАССЫ
// изменение при наведение мышки
.class:hover {
  color: black;
}
// выключенный
.class:disabled {
  color: black;
}