//* За тень блока отвечает свойство box-shadow
.box-shadow {
  box-shadow: 1px 1px 1px blue; // (ось X, ось Y, степень размытия, цвет)
  // - горизонтальный сдвиг (отрицательное значение помещает тень левее элемента, положительное — правее);
  // - вертикальный сдвиг (отрицательное значение помещает тень выше элемента, положительное — ниже);
  // - радиус размытия (чем значение больше, тем тень шире и светлей);
  // - цвет (задаётся так же, как цвет текста или фона).
  box-shadow: 0 0 1px blue;
  // - без сдвига, только размытие
}

//* За тень текста отвечает свойство text-shadow
.text-shadow {
  text-shadow: 1px 1px 1px blue;
}