//# text-align (Выравнивание текста по горизонтали)
.class {
  text-align: left; // по левому краю (по умолчанию)
  text-align: right; // по правому краю
  text-align: center; // по центру
  text-align: justify; // по ширине
  text-align: start; // по тому краю, по которому принято в текущем языке (RU - по левому краю)
  text-align: end; // по противоположному краю для текущего языка (RU - по правому краю)
}
