.class {
  //! Лучше задавать интерлиньяж числом, чтобы, при увеличении размера шрифта, увеличивалось и расстояние между строчками.
  line-height: normal; // cтандартный интервал (по умолчанию)
  line-height: 1.5; // множитель — расстояние будет в 1.5 раза больше, чем размер текста
  line-height: 3em; // интервал будет в 3 раза больше интервала родительского элемента
  line-height: 34%; // размер интервала высчитывается относительно размера шрифта
  line-height: 18px; // длина в px
}