//# Сглаживание шрифта
.class {
  -webkit-font-smoothing: antialiased;
  // Сглаживание шрифта (Chrome, Яндекс Браузер, Опера)

  -moz-osx-font-smoothing: grayscale;
  // Сглаживание шрифта (Mozilla Firefox)

  text-rendering: optimizeLegibility;
  // кёрнинг и лигатуры (говорит браузеру, что кёрнинг и лигатуры должны быть отрисованы)
  // сильно замедлит рендеринг страницы
  //* использовать в заголовках

  // кёрнинг — это выборочное изменение расстояния между буквами, чтобы они лучше смотрелись рядом
  // для некоторых пар символов выигрышна меньшая дистанция

  // лигатуры — знаки, образованные слиянием символов, например: њ, љ, œ, æ
  // редко попадаются в русских текстах, но, к примеру, французские без них смотрятся неважно

  -webkit-text-size-adjust: 100%;
  // подгонка размера текста (Chrome, Яндекс Браузер, Опера)

  -moz-text-size-adjust: 100%;
  // подгонка размера текста (Mozilla Firefox)

  -ms-text-size-adjust: 100%;
  // подгонка размера текста (Edge)

  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  // низкоуровневый контроль над функциями шрифтов OpenType (использовать только в особых случаях)
}