//# font-weight (Начертание шрифта)
.class {
  //* Основные значения
  font-weight: normal; // = 400 (по умолчанию)
  font-weight: bold; // = 700

  //* Значения относительно родительского элемента
  font-weight: lighter; // = -100 по отношению к ближайщему родителю
  font-weight: bolder; // = +100 по отношению к ближайщему родителю

  //* Значения в цифрах
  font-weight: 100; // Thin (Hairline) / Тонкий (Волосяной)
  font-weight: 200; // Extra Light (Ultra Light) / Дополнительный Светлый (Сверхсветлый)
  font-weight: 300; // Light / Светлый
  font-weight: 400; // Normal /	Нормальный
  font-weight: 500; // Medium	/ Средний
  font-weight: 600; // Semi Bold (Demi Bold) / Полужирный
  font-weight: 700; // Bold	/ Жирный
  font-weight: 800; // Шрифт-начертание Extra Bold (Ultra Bold) / Дополнительный Жирный (Сверхжирный)
  font-weight: 900; // Шрифт-начертание Black (Heavy) / Черный (Густой)
}
