//# font-style (Стиль начертания)
.class {
  font-style: normal; // обычное начертание текста (по умолчанию)
  font-style: italic; // курсивное начертание
  font-style: oblique; // наклонное начертание (можно использовать, если у шрифта нет курсивного варианта)
}
