//# text-decoration (Декоративные линии)
.class {
  //* Можно использовать хоть все значения (underline, overline, line-through)
  text-decoration: none; // декорация отсутствует (по умолчанию)
  text-decoration: underline; // подчеркнутый текст
  text-decoration: overline; // линии над текстом
  text-decoration: line-through; // зачеркнутый текст

  //* Оформление декоративной линии и тип
  text-decoration: underline solid; // solid - сплошная линия (по умолчанию)
  text-decoration: underline double; // double - двойная линия
  text-decoration: underline dotted; // dotted - точечная линия
  text-decoration: underline dashed; // dashed - пунктирная линия
  text-decoration: underline wavy; // wavy - волнистая линия

  //* Оформление декоративной линии
  text-decoration-style: underline solid; // solid - сплошная линия (по умолчанию)
  text-decoration-style: underline double; // double - двойная линия
  text-decoration-style: underline dotted; // dotted - точечная линия
  text-decoration-style: underline dashed; // dashed - пунктирная линия
  text-decoration-style: underline wavy; // wavy - волнистая линия

  //* Тип декоративной линии
  text-decoration-line: none; // декорация отсутствует (по умолчанию)
  text-decoration-line: underline; // подчеркнутый текст
  text-decoration-line: overline; // линии над текстом
  text-decoration-line: line-through; // зачеркнутый текст

  //* Цвет декоративной линии
  text-decoration-color: currentColor; // цвет такой же, что и у текста (по умолчанию)
  text-decoration-color: red; // цвет красный
}
