//# Относительные размеры текстовых элементов

//* Единица измерения em
// В CSS значение размера шрифта в единицах em высчитывается относительно размера шрифта родительского элемента.
// Если у родителя это 18px, то 1em для дочерних элементов равен 18px, а 0.5em — 9px. Например:

.parent {
  font-size: 24px;
}

.child {
  font-size: 2em; // Здесь размер шрифта у дочернего элемента вдвое больше, чем у родителя и составляет 48 пикселей.
}

//* Единица измерения rem
// При установке размеров в rem за единицу принимают размер шрифта корневого объекта документа — тега <html>.
// Если размер шрифта для него не установлен явно, то во всех современных браузерах 1rem — это 16 пикселей.
html {
  font-size: 30px;
}

.parent {
  font-size: 40px;
}

.child {
  font-size: 2rem; // Здесь размер шрифта элемента .child — 60 пикселей.
}


