//# Контейнер, 2 элемента внутри, меняется пустое пространство между элементами посередине
.flex-container {
  width: 500px; // Или ничего не писать, если берет от родителя
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-element-1 {
  min-width: 100px;
  margin-top: 36px;
  margin-left: 98px;
}
.flex-element-2 {
  min-width: 149px;
}

//# Контейнер, 3 элемента внутри, меняется размер элемента посередине (второго)
.flex-container {
  width: 555px;
  display: flex;
}
.flex-element-1 {
  min-width: 24px;
}
.flex-element-2 {
  min-width: 210px;
  width: 100%;
}
.flex-element-3 {
  min-width: 24px;
}

