//# object-position (Как картинка или видео должны располагаться внутри контейнера)
/*
- Свойство помогает спозиционировать отрисовку картинки <img> или видео <video> внутри контейнера, если к нему применили свойство object-fit.
- Не работает без object-fit.
- Принимает отрицательные значения.
*/

//# значения в процентах (ось X, ось Y)
.element {
  object-position: 50% 50%;
  // центр-центр (по умолчанию)

  object-position: 0% 0%;
  // левый верхний угол

  object-position: 100% 100%;
  // правый нижний угол

  object-position: 15% 5%;
  // слева 15%, сверху 5% (слева от картинки 15% свободного места, а справа — оставшиеся 85%, над картинкой 5% свободного места, а под ней — оставшиеся 95%)
}

//# значения при помощи ключевых слов (ось X, ось Y)
.element {
  object-position: center;
  // центр-центр (по умолчанию)

  object-position: left top;
  // левый верхний угол

  object-position: center bottom;
  // по центру по горизонтали и у нижнего края
}

//# значения при помощи пикселей или других единиц измерения длины (ось X, ось Y)
.element {
  object-position: 10px 150px;
  // 10 px от левого края и 150 px от верхнего края

  object-position: 1rem;
  // 1 rem от левого края и по центру между верхом и низом

  object-position: 15vw 25vh;
  // 15 единиц ширины от левого края и 25 единиц высоты от верха
}

//# значения при помощи ключевых слов и пикселей
.element {
  object-position: right 20px bottom 10px;
  // отступ будет отсчитываться не от верхнего левого угла, а от указанной при помощи ключевого слова стороны (в данном случае картинка будет расположена в двадцати пикселях от правого края и в десяти пикселях от нижнего края)
}
