//# placeholder (Подсказка к input, textarea) (не работает для IE)
.input::placeholder {
  color: #c0392b;
}

//# Кросбраузерный вариант псевдоэлемента placeholder
input::-webkit-input-placeholder {color:#c0392b;}
input::-moz-placeholder          {color:#c0392b;}
input::-ms-input-placeholder     {color:#c0392b;}
input::placeholder               {color:#c0392b;}