//# background-clip (Заполнение)
// Свойство background-clip определяет, в каких областях будет находиться фоновая картинка и фоновый цвет блока.

//# значения
.element {
  background-clip: border-box;  // фон занимает все области, в том числе под рамками (по умолчанию)
  background-clip: padding-box; // фон занимает область контента и внутреннего отступа, но не заходит под рамку
  background-clip: content-box; // фон заполняет только контентную область, но не заходит во внутренний отступ и под рамку
  background-clip: text;        // фон заполняет текст в блоке, работает только если указано color: transparent
}
