//# :default (ДЛЯ ЭЛЕМЕНТОВ С НАЧАЛЬНЫМ СОСТОЯНИЕМ)
/*
- Псевдокласс :default применяется к элементам, которые используются по умолчанию в группе аналогичных элементов.

- Этот псевдокласс можно применить к следующим элементам:
1. теги <option> с атрибутом selected;
2. радиокнопки и чекбоксы <input> с атрибутом selected;
3. первая кнопка отправки формы. Такой кнопкой может быть первый тег <button> или первый тег <input> с типом image или submit.
*/

//# Пример
option:default {
  background-color: #f498ad;
}

input:default {
  border-color: #f498ad;
}

button:default {
  background-color: #f498ad;
}
