//# :lang (СЕЛЕКТОР ПО АТРИБУТУ LANG СОДЕРЖИМОГО)
/*
- Псевдокласс :lang выбирает элементы, в зависимости от их языка, который определяется комбинацией атрибута lang, тега <meta> и иногда информацией из протокола передачи данных (такой, как заголовки HTTP).
- После любого селектора ставим двоеточие и пишем ключевое слово lang. В скобках указываем, для какого языка применяются правила. Список доступных языков можно посмотреть в ISO 639-1 Language Codes.
- Иногда на странице текст может состоять из разных языков, например основной текст написан на русском, но имеет цитаты на английском. В этом случае с помощью :lang можно придать особое оформление конкретному языку.
- Тег <q> автоматически изменяет вид кавычек в зависимости от языка.
*/

//# Пример
blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}

blockquote:lang(de) {
  quotes: '„' '“';
}

blockquote:lang(fr) {
  quotes: '«' '»';
}

blockquote:lang(en) {
  quotes: '“' '”';
}
