//# :not (ВСЕ КРОМЕ СЕЛЕКТОРА АРГУМЕНТА)
/*
- Очень полезный псевдокласс, который поможет вам неплохо так сэкономить строчки кода. Суть работы этого парня — отсечь все элементы, не подходящие под условие.
- Берём любой селектор, ставим двоеточие и пишем ключевое слово not. После него ставим круглые скобки и внутри них указываем селектор, который должен быть исключён из выборки. Селектор в скобках может быть любым, главное чтобы он не включал псевдоэлементы. В скобках можно указать и несколько селекторов, перечисленных через запятую. В таком случае будут исключаться элементы подходящие под любой из перечисленных селекторов.
- Ещё можно выбирать внутри body любой элемент, не являющийся, например, абзацем: body :not(p). По аналогии можете выбирать любой элемент внутри определённого родителя, но не подходящий под условие.
- Можно сказать заумно, что :not(Х) это функция, которая принимает в качестве аргумента селектор Х и находит в разметке элементы, не соответствующие этому самому элементу Х.
- А можно проще: мы командуем браузеру «Выбери все элементы подходящие к селектору до :not и исключи из выборки все элементы, подходящие под селектор в круглых скобках».
- Слева от :not необязательно должен быть селектор. Можно написать :not(.hidden), и браузер выберет вообще все элементы на странице, кроме тех, у которых есть класс .hidden.
- Нельзя вкладывать один :not в другой.
- Можно выстраивать цепочки из :not. Тогда выборка будет уменьшаться по порядку исключая элементы, подходящие под условия.
- Псевдокласс :not похож на оператор ! в программировании:
- В качестве селектора могут указываться псевдоклассы, теги, идентификаторы, классы и селекторы атрибутов. Нельзя использовать двойной псевдокласс :not, то есть конструкция :not(:not(...)) не сработает.

- Также в комбинации с :not не применяются:
1. объединение селекторов: например, li:not(.heart.jack) — некорректный селектор;
2. псевдоэлементы: li:not(::after) — неправильная запись;
3. селекторы-потомки, групповые селекторы или комбинации: например, нельзя писать li:not(a span) или li:not(a + span).
*/

//# Пример
li:not(:last-child) {
  margin-bottom: 1em;
}

li:not(:last-child):not(.active) {
  color: red;
}

input:not([hidden='true']) {
  // стили только к тем инпутам, у которых нет атрибута hidden.
}
