//# :read-write (ИЗМЕНЯЕМЫЕ ПОЛЯ ВВОДА)
/*
- Псевдокласс :read-write показывает что элемент, например, <input> или <textarea>, изменяется.

- Элементы, к которым применяется псевдокласс :read-write:
1. <input> — элементы любого типа, с возможностью редактирования и доступные не только для чтения. Это означает что у них не установлены атрибуты :read-only или disabled.
2. <textarea> — элементы доступны для изменения (без атрибутов :read-only или disabled).
3. Любой элемент не <input> и не <textarea>, у которого установлен атрибут contenteditable.

- Псевдокласс :read-write поддерживается в Chrome, Safari и Opera. Firefox поддерживает псевдокласс со специальным префиксом -moz-.
*/

//# Пример
input:read-write,
input:-moz-read-write {
  border: 1px solid red;
}
