//# required (ОБЯЗАТЕЛЬНЫЕ ПОЛЯ ВВОДА)
/*
- Псевдокласс :required, дополняющий основной селектор, поможет выбрать элементы <input>, <textarea> или <select>, у которых задан атрибут required.
- Если нужно как-то выделить обязательные для заполнения элементы форм, можно использовать в селекторе псевдокласс :required.
- Обратите внимание, что использование этого псевдокласса эквивалентно селектору по атрибуту [required].
- Использование псевдокласса :required допускается исключительно с селекторами полей формы. Использовать с другими селекторами его бесполезно.
*/

//# Пример
input:required {
  border-width: 2px;
  border-color: #ff8630;
  background-color: rgb(255 134 48 / 0.1);
}
