//# Псевдоклассы группы type
/*
- :only-of-type     (единственный элемент)
- :first-of-type    (первый элемент)
- :last-of-type     (последний элемент)
- :nth-of-type()    (конкретный элемент)
- :nth-last-of-type (последний элемент с конца)

Псевдокласс li:first-child, означачает выбрать элемент, если:
1. Этот элемент — li;
2. Это первый элемент родителя.

Псевдокласс li:first-of-type, означачает выбрать элемент, если:
1. Это первый li одного родителя.
*/

//# Пример
/*
<ul>
  <li>Элемент</li>
  <li>Элемент</li>
  <li>Элемент</li>
</ul>
*/

li:first-of-type {
  margin: 0;
}

//# :nth-of-type()
//* :nth-of-type(1)
// Выберет первый элемент.

//* :nth-of-type(an) || :nth-of-type(an + b)
/* В общем виде значение этого псевдокласса задаётся с помощью выражения: an+b, где a и b — целые числа, а n — счетчик, принимающий целые значения от 0 и больше: 0,1,2,3…
1. n=0; 2*0 = 0; нет элементов
2. n=1; 2*1 = 2; 2-й элемент
3. n=2; 2*2 = 4; 4-й элемент
*/

//* :nth-of-type(even)
// Выберет все чётные элементы.

//* :nth-of-type(odd)
// Выберет все нечётные элементы.
