//# ВЕНДОРНЫЕ ПРЕФИКСЫ
// Вендорные префиксы — это приставки перед свойствами, селекторами, функциями или другими сущностями в CSS, позволяющие браузерам внедрять экспериментальные фичи до того, как они полностью стандартизированы и готовы для использования. Когда префикс отбрасывается — это знак, что всё готово.

//# ПРИМЕР
//* Очень важно указывать сущности (свойства, селекторы, директивы и так далее) с вендорными префиксами выше, чем без префиксов.
// Это нужно для того, чтобы браузер использовал самую последнюю стабильную реализацию. Если браузер уже поддерживает фичу без префиксов, то применится последнее из перечисленных. А если нет, то сработает подходящая запись.
div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//* keyframes
@-webkit-keyframes animation {
  0% { left: 0; }
  100% { left: 100%; }
}

@keyframes animation {
  0% { left: 0; }
  100% { left: 100%; }
}

//* фолбэк
// Бывает и так, что свойство старое, а вот значение для него новое, экспериментальное. В данный момент таким новым значением является функция image-set() для свойства background-image:
div {
  background-image: url("image.png");
  background-image: -webkit-image-set(url("image.png") 1x, url("image-2x.png") 2x);
  background-image: image-set("image.png" 1x, "image-2x.png" 2x);
}

//* селекторы
// Случается так, что в процессе внедрения фича меняется. Изначально планировалось, что функция выбора нескольких селекторов будет называться :any(), потом :match(), а в итоге пришли к :is(). Чтобы селектор сработал везде, даже в старых браузерах, где функция называлась иначе, нужна будет такая запись:
:-moz-any(header, footer) a:hover {
  color: red;
}

:-webkit-any(header, footer) a:hover {
  color: red;
}

:matches(header, footer) a:hover {
  color: red;
}

:is(header, footer) a:hover {
  color: red;
}

//* псевдоклассы
input::-webkit-input-placeholder {
  color: #BADA55;
}

input:-moz-placeholder {
  color: #BADA55;
}

input::-moz-placeholder {
  color: #BADA55;
}

input:-ms-input-placeholder {
  color: #BADA55;
}

input::-ms-input-placeholder {
  color: #BADA55;
}

input::placeholder {
  color: #BADA55;
}

//# ОБЩАЯ ИНФОРМАЦИЯ
// -webkit- — Safari, Chrome, Яндекс Браузер, Opera 15+ и другие браузеры на основе движка WebKit или Blink.
// -moz-    — Firefox и браузеры на движке Gecko.
// -o-      — Opera 12 и раньше, на движке Presto.
// -ms-     — Internet Explorer и старый Microsoft Edge 12–18.
// https://autoprefixer.github.io/ru/