//# ЕДИНИЦЫ ИЗМЕРЕНИЯ

.element {
  width: 100px; // Абсолютная величина
  width: 100%; // Процент по отношению к родителю
  width: 100vw; // Процент по отношению к ширине экрана
  height: 100vh; // Процент по отношению к высоте экрана
  font-size: 1em; // Высчитывается относительно размера шрифта родительского элемента
  font-size: 1rem; // Высчитывается относительно размер шрифта корневого объекта документа — тега <html> (по умолчанию 16px)

  //* не поддерживается в IE
  // 10% от текущей ширины области просмотра в книжной ориентации и 10% от высоты области просмотра в альбомной ориентации.
  width: 10vmin;
  // 10% от текущей высоты области просмотра в книжной ориентации и 10% ширины области просмотра в альбомной ориентации.
  width: 10vmax;
}