//# align-items (Выравнивание - поперечная ось)
/*
- Свойство для выравнивания элементов внутри контейнера по поперечной оси.
- Устанавливает одинаковые свойства align-self для всей группы.
- Если флекс-элементы выстроены в несколько колонок, то выравнивание по поперечной оси будет применяться к каждой строке отдельно.
*/

//# значения
.container {
  align-items: stretch;
  // Элементы растягиваются вдоль поперечной оси так, чтобы заполнить всего родителя (по умолчанию)

  align-items: flex-start;
  align-items: start;
  // Элементы выстраиваются у начала поперечной оси. Второе значение учитывает направление чтения выбранного языка.

  align-items: flex-end;
  align-items: end;
  // Элементы выстраиваются у конца поперечной оси. Второе значение учитывает направление чтения выбранного языка.

  align-items: center;
  // элементы выстраиваются по центру поперечной оси

  align-items: baseline;
  // элементы выравниваются по базовой линии текста. «Базовая линия» — baseline — воображаемая линия, проходящая по нижнему краю знаков шрифта (без учёта выносных элементов).
}
