//# grid-template-columns (Создание колонок)
/*
- Свойство, задающее размеры и количество колонок грид-раскладки.
- По умолчанию состоит из одного столбца, который занимает все пространство.
- Элементы в грид-контейнере добавляются сверху вниз (↓), образуя новые строки, и заполняются слева направо (→), образуя столбцы.
- Свойство grid-template-columns командует браузеру, во сколько колонок выстраивать вложенные элементы. И какого размера должны быть колонки.
- В качестве значения указывается то количество размеров, какое количество колонок необходимо. Размеры могут указываться в любых доступных единицах измерения. Размеры перечисляются через пробел.
- Можно использовать функцию repeat() для создания колонок одного размера.
- Удобно использовать единицу измерения fr, чтобы указать, в каких соотношениях колонки разделят свободное место.
- Кроме непосредственного количества колонок и их размеров можно задавать и имена для грид-линий, ограничивающих эти колонки.
- Свободное пространство рассчитывается после того, как место отдано всем фиксированным размерам.
grid-template-columns: 1fr 200px 1fr (сначала будет создана колонка шириной 200 пикселей, а затем свободное пространство — ширина родителя минус 200 пикселей — будет поделено между остальными колонками. Каждая будет занимать ширину (100% - 200px) / 2.
*/

//# значения
.container {
  //* три колонки
  grid-template-columns: 100px 100px 100px;

  //* колонки с функцией repeat
  grid-template-columns: repeat(5, 100px);
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(5, 20%);

  //* колонки с автоматическим размером
  grid-template-columns: repeat(5, auto);
  // при значении auto размер грид-полос подстраивается под размер грид-элементов так, чтобы уместился самый большой из них, другие элементы поделят между собой оставшееся пространство

  grid-template-columns: repeat(auto-fill, 100px);
  // Свойство auto-fill создаёт пустые колонки, чтобы заполнить всё доступное пространство.

  grid-template-columns: repeat(auto-fit, 100px);
  // Значение auto-fit тоже заполняет всё доступное пространство колонками, но в отличие от auto-fill схлопывает пустые и отдаёт больше места под заполненные, пустые колонки всё ещё существуют, просто с нулевым размером

  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  // резиновая сетка

  //* колонки с названиями
  grid-template-columns: [start] 140px [line2] 250px [line3] 40px [end];
  grid-template-columns: [start] 140px [line2 col2-start] 250px [col2-end end];
  // Каждая линия может иметь больше одного имени. Это похоже на классы в HTML — вы можете задать элементу больше одного класса.

  //* колонки с функцией minmax
  grid-template-columns: 100px minmax(100px, 1fr);
  // функция minmax имеет два параметра: минимальный размер min и максимальный max. Можно задавать в пикселях, процентах, фракциях.Трек или элемент с таким размером растягивается и сжимается в пределах этих значений

  grid-template-columns: 100px minmax(min-content, max-content);
  // будет ориентироваться на контент: не ужмётся меньше содержимого, но и не займёт лишнее место, когда контента мало.

  //* колонки с max-content
  grid-template-columns: 100px max-content;
  // Будь такой ширины, чтобы вмещать содержимое без переносов и максимально компактно, без свободного пространства по краям. Это удобно для подписей к картинкам. Значение max-content размещает подпись на одной строке без переносов.

  //* колонки с min-content
  grid-template-columns: 100px min-content;
  // Стремится перенести всё, что переносится, чтобы содержимое ячейки занимало как можно меньше места. Значение min-content сообщает треку: «Ориентируйся на самый маленький — картинку или слово.

  //* колонки с функцией fit-content
  grid-template-columns: 100px fit-content(200px);
  // Предельный размер ширины колонки. Колонка занимает ширину под размер своего контента.
}
