//# grid-auto-flow (Неявные элементы)
/*
- Если грид-элементов больше, чем явно объявленных колонок или рядов, то они автоматически размещаются внутри родителя. А вот каким образом — в ряд или в колонку — можно указать при помощи свойства grid-auto-flow.
- Свойство grid-template-rows командует браузеру, во сколько рядов выстраивать вложенные элементы. И какого размера должны быть эти ряды.
- Не используйте dense в местах, где порядок элементов важен. Иначе меню сайта или подвал окажется не там, где вы ожидаете его увидеть.
*/

//# значения
.container {
  grid-auto-flow: row;
  // автоматически размещаемые элементы выстраиваются в ряды (по умолчанию)

  grid-auto-flow: column;
  // автоматически размещаемые элементы выстраиваются в колонки

  grid-auto-flow: dense;
  // браузер старается заполнить пустые ячейки в разметке, если размеры элементов позволяют. Иными словами старается закрыть все дырки в сетке, переставляя подходящие элементы на свободные места. Можно сочетать с остальными значениями.
}
