//# grid-template-areas (Грид-область)
/*
- Позволяет задать шаблон сетки расположения элементов внутри грид-контейнера. Имена областей задаются при помощи свойства grid-area. Текущее свойство grid-template-areas просто указывает, где должны располагаться эти грид-области.
- Имена областей должны разделяться пробелами. Это важно, особенно в том случае, если вы хотите расположить рядом две пустых ячейки. Разделите точки пробелами, иначе браузер подумает, что это одна пустая ячейка.
*/

//# значения
.container {
  //* по умолчанию
  grid-template-areas: none; // области сетки не задано имя (по умолчанию)

  //* если какую-то область нужно оставить пустой, вместо имени ставится точка или несколько точек
  grid-template-areas:
    'header header header'
    'news news ...'
    'promo promo aside'
    '. footer footer';
}

.element {
  grid-area: header;
}
