//# grid (Мега, шорткат)
/*
grid-template-rows
grid-template-columns
grid-template-areas
grid-auto-rows
grid-auto-columns
grid-auto-flow

- Перед тем как соблазниться возможностью расписать всё в одном свойстве, дважды (а то и трижды) подумайте о читабельности кода. Учтите и то, что гриды относительно новая и не такая уж простая технология. Не каждый коллега сможет прочесть этот шорткат.
*/

//# значения
.container {
  //* ключевые слова
  grid: none; // сбрасывает значения для всех свойств, входящих в этот шорткат (по умолчанию)

  //* допустимые значения для шортката grid-template
  grid: repeat(4, 150px) / 1fr 200px 1fr;
  grid: [row1-start] 25px [row1-end row2-start] 25px [row2-end] / auto 50px auto;

  //* можно задать размеры колонок и рядов
  grid: 200px 100px / 30% 30%;

  //* auto-flow (ключевое слово даёт браузеру понять, что создавать при необходимости: колонки или ряды)
  // Если auto-flow стоит справа от слэша, то будут создаваться автоматические колонки
  grid: 200px 100px / auto-flow 30%;
  // Если auto-flow стоит слева от слэша, то будут создаваться автоматические ряды
  grid: auto-flow 30% / 200px 100px;

  //* к ключевому слову auto-flow можно добавить dense (важно ставить это слово сразу после auto-flow)
  grid: auto-flow dense 30% / 200px 100px;

  //* пример (размеры и количество колонок и рядов)
  grid: 50px 150px / 2fr 1fr;
  // или
  grid-template-rows: 50px 150px;
  grid-template-columns: 2fr 1fr;

  //* пример (размеры и количество рядов, а также автоматические колонки)
  grid: 200px 1fr / auto-flow 200px;
  // или
  grid-auto-flow: column;
  grid-template-rows: 200px 1fr;
  grid-auto-columns: 200px;

  //* пример (размеры и количество рядов, автоматические колонки и распределение dense)
  grid: auto-flow dense 300px / 2fr 3fr;
  // или
  grid-auto-flow: row dense;
  grid-auto-rows: 300px;
  grid-template-columns: 2fr 3fr;

  //* пример (имя области)
  grid:
    [row1-start] 'header header header' 1fr [row1-end]
    [row2-start] 'footer footer footer' 25px [row2-end]
    / auto 50px auto;
  // или
  grid-template-areas:
    'header header header'
    'footer footer footer';
  grid-template-rows: [row1-start] 1fr [row1-end row2-start] 25px [row2-end];
  grid-template-columns: auto 50px auto;
}
