//# justify-content (Выравнивание контейнера по строке)
/*
- Свойство, с помощью которого можно выровнять элементы вдоль оси строки. Данное свойство работает, только если общая ширина столбцов меньше ширины контейнера сетки. Другими словами, вам нужно свободное пространство вдоль оси строки контейнера, чтобы выровнять его столбцы слева или справа.
*/

//# значения
.container {
  justify-content: start;         // выравнивает сетку по левой стороне грид-контейнера
  justify-content: end;           // выравнивает сетку по правой стороне грид-контейнера
  justify-content: center;        // выравнивает сетку по центру грид-контейнера
  justify-content: stretch;       // масштабирует элементы, чтобы сетка могла заполнить всю ширину грид-контейнера
  justify-content: space-around;  // одинаковое пространство между элементами и полуразмерные отступы по краям
  justify-content: space-evenly;  // одинаковое пространство между элементами и полноразмерные отступы по краям
  justify-content: space-between; // одинаковое пространство между элементами без отступов по краям
}
