//# justify-items (Выравнивание внутри грид ячеек по оси X)
/*
- Свойство, с помощью которого задаётся выравнивание грид-элементов по горизонтальной оси. Применяется ко всем элементам внутри грид-родителя.
- Можно управлять выравниванием отдельных грид-элементов при помощи свойства justify-self.
*/

//# значения
.container {
  justify-items: start;   // выравнивает элемент по начальной (левой для LTR) линии
  justify-items: end;     // выравнивает элемент по конечной (правой для LTR) линии
  justify-items: center;  // выравнивает элемент по центру грид-ячейки
  justify-items: stretch; // растягивает элемент на всю ширину грид-ячейки
}
