//# Наличие отступа у картинки
// Поскольку картинка — строчный элемент, после неё есть небольшой отступ, похожий на пробел между словами.

//* Изменить поведение картинки со строчного по умолчанию на блочное (block) или строчно-блочное (inline-block).
.element {
  display: block;
  display: inline-block;
}

//* vertical-align. Для маленьких изображений может понадобиться уменьшить line-height, чтобы контейнер не оставлял место под строку.
.element {
  vertical-align: top;
}
