//# text-transform (Трансформация)
/*
- Свойство text-transform позволяет трансформировать буквы в тексте. С помощью этого свойства можно сделать текст из одних заглавных или наоборот, из одних маленьких букв вне зависимости от формата исходного текста.
- Свойство трансформации нельзя анимировать при помощи свойства transition.
- При применении свойства text-transform меняется регистр текста.
- Это означает, что при копировании текст будет именно таким, как отображается на экране.
*/

//# значения
.element {
  text-transform: none; // обычное неизмененное состояние (по умолчанию)
  text-transform: uppercase; // заглавные буквы
  text-transform: lowercase; // строчные буквы
  text-transform: capitalize; // Преобразует Каждую Первую Букву В Заглавную
}
