//# :visited (ПОСЕЩЕННЫЕ)
/*
- Псевдокласс :visited добавляется ссылкам, по которым уже переходил пользователь.
- Браузер отслеживает, по каким ссылкам на странице кликнул пользователь, и подставляет фантомный класс :visited тем из них, по которым был совершён переход на другую страницу. При этом весь механизм присвоения этого класса скрыт под капотом браузера.
- С самого начала интернета браузеры могли присваивать псевдокласс :visited ссылкам. В какой-то момент истории злоумышленники научились собирать информацию о тех сайтах, на которые ходит пользователь, и использовать это для собственной выгоды. Подобный «шпионаж» осуществлялся довольно просто: на странице со ссылками запускался скрипт, который проверял стили ссылок и собирал все посещённые в свою базу.
- Для предотвращения злодеяний браузеры приняли решение, что ограничат стили, которые будут срабатывать для псевдокласса :visited. Вот список доступных свойств:
1. color,
2. background-color,
3. border-color,
4. border-bottom-color или border-block-end-color,
5. border-left-color или border-inline-start-color,
6. border-right-color или border-inline-end-color,
7. border-top-color или border-block-start-color,
8. outline-color,
9. column-rule-color,
10. fill,
11. stroke.
- Любые другие стили будут игнорироваться. Так что не удивляйтесь, если что-то из написанного вами кода не будет работать.
- Кроме того, браузер проигнорирует цвета с альфа-каналом (прозрачностью, проще говоря) и прозрачность opacity.
- Смену стилей между состояниями можно анимировать при помощи transition.
- Если дизайнер хочет применить для посещённой ссылки стили, которые не входят в перечень разрешённых — не стесняйтесь ему на это указать и пояснить, что его задумка технически не реализуема.
*/

//# Пример
a {
  color: green;
}

a:visited {
  color: purple;
}
