//# ::first-letter (ПЕРВАЯ БУКВА ПЕРВОЙ СТРОКИ)
/*
- Псевдоэлемент ::first-letter позволяет задать стили для первой буквы первой строки блочного элемента, если перед текстом нет другого содержимого.
- Знаки препинания, которые предшествуют первой букве или непосредственно следуют за ней, попадают под ::first-letter.
- Если вы создаёте содержимое с помощью ::before и content, стили указанные в ::first-letter всё равно будут распространяться на первую букву.

Для псевдоэлемента сработает лишь небольшой набор CSS-свойств:
1. Шорткат font и шрифтовые свойства, начинающиеся на font-;
2. Шорткат background и свойства фона, начинающиеся на background-;
3. Шорткат margin и внешние отступы, начинающиеся на margin-;
4. Шорткат padding и внутренние отступы, начинающиеся на padding-;
5. Шорткат border и свойства рамок, начинающиеся на border-;
6. цвет текста color;
7. текстовые свойства text-decoration, text-shadow, text-transform, letter-spacing, word-spacing, line-height, text-decoration-color, text-decoration-line, text-decoration-style, box-shadow, float, vertical-align.
*/

//# Пример
blockquote::first-letter {
  font-size: 1.86rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.12rem;
}
