//# HEIGHT (ВЫСОТА БЛОКА)
// Свойство для управления высотой элемента.

//# ПРИМЕР
.element {
  height: auto; // (по умолчанию)
  height: 200px; // любые относительные и абсолютные единицы
  height: 100%; // 100% высоты родителя
  min-height: 200px; // минимальная высота
  max-height: 200px; // максимальная высота
  object-fit: cover; // подстроит элемент под размер так, чтобы он закрывал определенную площадь c параметрами width/height
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* При помощи свойства height можно задать высоту любому блочному (block) или строчно-блочному (inline-block) элементу.
- Помимо фиксированной высоты мы можем задать минимальную высоту элемента — min-height. В этом случае элемент сможет растягиваться на большую высоту, если того требует контент, размещённый внутри, но никогда не сожмётся по высоте меньше, чем указано в свойстве min-height.
- Для максимальной высоты мы пишем свойство max-height. И тогда элемент будет иметь возможность растягиваться по высоте до тех пор, пока не достигнет размера, указанного в свойстве max-height. И дальше не растянется ни на пиксель.
- Чтобы из-за фиксированной высоты контент не вываливался из блока нужно Заменить height на min-height.
- Не задавайте фиксированную высоту блокам, в которых есть контент. Если контента станет больше, то блок не растянется и контент из него выпадет. Не надо так. Если без высоты никак не обойтись, то используйте min-height.
- Строчные элементы не реагируют на height. Хотите изменить высоту? Меняйте элемент со строчного (inline) на блочный (block) или строчно-блочный (inline-block).
- Высота в процентах рассчитывается от высоты родителя. И сработает, только если у родителя задана эта самая высота.
- Чаще всего не требуется задавать фиксированную высоту блокам с контентом. Можно обойтись внутренними отступами (padding).*/