//# MARGIN (ВНЕШНИЙ ОТСТУП)
// Задаёт размер внешнего отступа вокруг элемента.

//# ПРИМЕР
.element {
  margin: 20px; // с 4 сторон
  margin: 20px 20px; // верх и низ, по бокам
  margin: 20px 20px 20px; // верх, по бокам, низ
  margin: 20px 20px 20px 20px; // по часовой: верх, справа, низ, слева
  //* отступ для каждой стороны по отдельности
  margin-top: 20px; // отступ сверху
  margin-left: 20px; // отступ слева
  margin-right: 20px; // отступ справа
  margin-bottom: 20px; // отступ снизу
  //* автоматический отступ
  margin: auto;
  // block, inline, inline-block (сделает цетрирование по горизонтали)
  // flex (сделает цетрирование по горизонтали и по вертикали)
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* Объединяет в себе значение для нескольких полных свойств: margin-top, margin-left, margin-right, margin-bottom.
- Значение margin может выражаться в пикселях (px), процентах (%) или словом auto, а также в любых других доступных в вебе единицах измерения.
- Проценты — отступ в процентах % от ширины блока.
- Auto — браузер сам выбирает подходящий размер отступа. Например, можно использовать в некоторых случаях, чтобы центровать элемент.
- Верхний и нижний отступы не работают для элементов <span>, <code> и других строчных элементов.
- Margin задаёт расстояние от края элемента до родительского элемента, а если такого нет, то до края окна браузера. По умолчанию браузерное окно имеет свои отступы внутри; чтобы от них избавиться, добавь в <body> значение margin: 0.
- Если у одного блока задан margin-bottom, а у следующего за ним margin-top, то они схлопнутся.
- Итоговый отступ будет равен бо́льшему отступу из двух.*/