//# overflow (Переполнение блочного элемента)
// Свойство overflow позволяет буквально определить, что делать с содержимым блочного (то есть для элемента, у которого display определяется как block, inline-block, flex или grid) элемента, если оно не влезает в размеры — отобразить или обрезать (с полосами прокрутки или без).

//# значения
.element {
  overflow: visible; // (по умолчанию)
  // содержимое отображается снаружи родительского блока, если его размеры больше размеров родительского блока

  overflow: hidden;
  // содержимое, выходящее за пределы «родительского» блока, обрезается по его границам без прокрутки

  overflow: clip;
  // новое значение (поддерживается всеми основными браузерами, кроме Safari), похожее по результату на hidden, но границы родительского блока рассчитываются с учётом внутренних отступов

  overflow: scroll;
  // контент обрезается по границам «родительского» блока, но внутри этой области содержимое доступно с помощью прокрутки

  overflow: auto;
  // если содержимое переполняет блок, контент будет доступен для прокрутки

  overflow-x: visible;
  // тоже самое только по оси x

  overflow-y: visible;
  // тоже самое только по оси Y
}

//# общая информация
/*
- Синтаксис свойства позволяет задать два значения — для оси x и оси y (аналогичного результата можно добиться, используя самостоятельные CSS-свойства overflow-x и overflow-y). Если указано одно значение, оно равнозначно применяется для обеих осей.
- Чтобы контент внутри блока можно было скроллить, его содержимое должно явно превышать высоту родительского блока. Этого можно добиться или явно задав ему height, или ограничив высоту родительского блока.
- Задавая родительскому блоку фиксированную высоту, учитывайте, что, если не указан box-sizing: border-box, то это значение не учитывает внутренние отступы, заданные с помощью padding, что может спровоцировать появление нежелательной прокрутки.
- При вёрстке «классических» макетов необходимости в управлении полосой прокрутки практически нет. Чтобы избежать появления нежелательных полос прокрутки, минимизируйте явное задание высоты (кроме случаев, где это действительно необходимо).
*/
