//# TEXT-OVERFLOW (ПОВЕДЕНИЕ ТЕКСТА ПРИ ПЕРЕПОЛНЕНИИ)
// Свойство text-overflow определяет, как будет обрезаться текст, если он не влезает в доступную область полностью. Работает только если элементу заданы также свойства white-space со значением nowrap и overflow со значением hidden, scroll или auto.

//# ПРИМЕР
.element {
  text-overflow: clip; // текст обрезается ровно по краю родительского блока.
  text-overflow: ellipsis; // при обрезке текста в конце строки добавляется многоточие «…», показывая незавершённость предложения.
  white-space: nowrap;
  overflow: hidden;
}
