//# WIDTH (ШИРИНА БЛОКА)
// Свойство width отвечает за ширину элемента.

//# ПРИМЕР
.element {
  width: auto; // (по умолчанию)
  width: 200px; // любые относительные и абсолютные единицы
  width: 100%; // 100% ширины родителя
  min-width: 200px; // минимальная ширина
  max-width: 200px; // максимальная ширина
  object-fit: cover; // подстроит элемент под размер так, чтобы он закрывал определенную площадь c параметрами width/height
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* С его помощью мы можем увеличивать или уменьшать ширину строчно-блочных (inline-block) и блочных (block) элементов.
- На строчные элементы это свойство не будет иметь никакого влияния.
- Блочные (block) элементы по умолчанию имеют ширину 100%.
- Блочный (block) элемент занимает всю строку вне зависимости от своей ширины. Оставшееся пространство займёт внешний отступ.
- Строчно-блочные (inline-block) элементы по умолчанию подстраиваются под ширину контента, лежащего у них внутри.
- Кроме фиксированной ширины можно задавать элементу минимальную ширину min-width или максимальную ширину max-width.
- Ширина в процентах рассчитывается от ширины родительского элемента.
- Ограничив ширину блочного элемента, можно очень просто выровнять его по центру экрана. Для этого пропишем внешний отступ (margin) со значениями 0 auto, где 0 отвечает за отступы сверху и снизу, а ключевое слово auto — за боковые отступы.
- Ширина элемента body по умолчанию равна видимой ширине окна браузера.
- Полная ширина окна равна 100vw, полная высота окна — 100vh.*/