//# Z-INDEX (НАЛОЖЕНИЕ ЭЛЕМЕНТОВ ДРУГ НА ДРУГА)
// Свойство z-index позволяет управлять порядком наложения элементов друг на друга.

//# ПРИМЕР
.element {
  z-index: auto; // (по умолчанию)
  z-index: 1; // элемент будет показан первым
  z-index: 0; // элемент будет показан вторым
  z-index: -1; // элемент будет показан третьим
  z-index: 10; // если нужно что-то максимальное, то значения 10 будет вполне достаточно.
  z-index: -10; // если нужно что-то максимальное, то значения -10 будет вполне достаточно.
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* Браузер выстраивает блоки страницы не только по вертикали и горизонтали, но и по глубине. Это встроенный механизм обработки документа. Чем ниже блок в разметке, тем выше он в стопке. Управлять порядком наложения блоков мы как раз и можем при помощи z-index.
- Значения: целые числа, чем больше число, тем ближе к нам окажется элемент.
- Z-index срабатывает для элементов с позиционированием (свойство position), отличающимся от статичного (значения relative, absolute, fixed, sticky).
- Исключение из правил: z-index работает с элементами, у которых значение свойства opacity меньше 1. Например, трюк с opacity: 0.999 почти не повлияет на внешний вид, но позволит использовать z-index без изменения позиционирования элемента.
- Z-index также срабатывает у флекс и грид-элементов и везде, где создаётся контекст наложения.
- Если z-index не указан, то блоки накладываются друг на друга в том порядке, в котором указаны в разметке. Чем ниже в разметке, тем выше в стопке. А если указан, то стопка блоков формируется согласно значению этого свойства.*/
