//# border (Наружная граница)
/* Шорткат - border-width; border-style (обязательное значение), border-color.
- Для свойства border можно задать только border-style. Без него обводка не будет отображаться.
- Свойство не наследуется.
- Появление и исчезновение рамки можно анимировать при помощи свойства transition.
- Если задаёте один из не сплошных стилей рамки, и при этом у блока есть фон, то фоновый цвет или картинка будут находиться под рамкой и будут видны в промежутках. Это поведение можно исправить при помощи свойства background-clip. */

//# значения
.element {
  //* со всех сторон
  border: 1px solid black;

  //* с каждой стороны по отдельности
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

//# border-width (ширина)
.element {
  //* специальные значения
  border-width: medium; // средняя ширина (зависит от браузера, примерно 3 px) (по умолчанию)
  border-width: thin;   // тонкая ширина (зависит от браузера, примерно 1 px)
  border-width: thick;  // толстая ширина (зависит от браузера, примерно 6 px)

  //* любые единицы измерения, кроме процентов
  border-width: 1px;  // ширина в пикселях
  border-width: 1rem; // ширина в rem
  border-width: 1vw;  // ширина в vw
}

//# border-style (стиль)
.element {
  //* border-style
  border-style: none;   // отключает рамку (по умолчанию)
  border-style: solid;  // сплошная
  border-style: dashed; // пунктирная
  border-style: dotted; // точками
  border-style: double; // двойная

  //* редкие значения
  border-style: groove; // рамка объёмная, с тенями от источника света, находящегося в верхнем левом наружном углу
  border-style: ridge;  // рамка объёмная, с тенями от источника света, находящегося в нижнем правом внешнем углу
  border-style: inset;  // рамка с тенями от источника света, находящегося в нижнем правом внутреннем углу
  border-style: outset; // рамка с тенями от источника света, находящегося в левом верхнем внутреннем углу

  //* каждой стороны по отдельности
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
}

//# border-color (цвет)
.element {
  //* специальные значения
  border-color: currentColor; // текущий цвет текста родителя (по умолчанию)
  border-color: transparent;  // прозрачная рамка
  border-color: invert;       // противоположный цвету фона элемента

  //* названия цветов, форматы HEX, RGB, HSL
  border-color: tomato;                            // со всех сторон
  border-color: tomato skyblue;                  // сверху и снизу, по бокам
  border-color: tomato skyblue olive;          // сверху, по бокам, снизу
  border-color: tomato skyblue olive silver; // сверху, справа, снизу, слева
}
