//# color
/*
- Свойство color задаёт цвет текста.
-
*/

.element {
  color: currentColor;
}

//# Значения
//* color: currentColor
// Наследует значение свойства color у ближайшего родителя, у которого оно указано.

//* color: red
// Задаёт значение по названию цвета.

//* color: #090
// HEX-код цвета, 3- или 6-символьные для сплошных и 4- и 8-символьные для полупрозрачных.

//* color: rgb(34, 12, 64)
//* color: rgba(34, 12, 64, 0.6)
// Значение RGB в старом синтаксисе rgb для сплошных и rgba для полупрозрачных

//* color: rgb(34 12 64)
//* color: rgb(34 12 64 / 0.6)
//* color: rgb(34 12 64 / 60%)
// Значение RGB в новом синтаксисе rgb для сплошных и для полупрозрачных.


//* color: hsl(30, 100%, 50%)
//* color: hsla(30, 100%, 50%, 0.6)
//* color: hsla(30, 100%, 50%, 60%)
// Значение HSL в старом синтаксисе hsl для сплошных и hsla для полупрозрачных.

//* color: hsl(30 100% 50%)
//* color: hsl(30 100% 50% / 0.6)
//* color: hsl(30 100% 50% / 60%)
// Значение HSL в новом синтаксисе hsl для сплошных и для полупрозрачных.





//# значения
//* прозрачный цвет
.element {
  color: transparent;
}



//* значение по названию цвета
.element {
  color: red;
  color: orange;
  color: tan;
  color: rebeccapurple;
}

//* HEX-код цвета, 3- или 6-символьные для сплошных и 4- и 8-символьные для полупрозрачных
.element {
  color: #090;
  color: #009900;
  color: #090a;
  color: #009900aa;
}

//* значение RGB в старом синтаксисе rgb для сплошных и rgba для полупрозрачных
.element {
  color: rgb(34, 12, 64);
  color: rgba(34, 12, 64, 0.6);
}

//* значение RGB в новом синтаксисе rgb для сплошных и для полупрозрачных
.element {
  color: rgb(34 12 64);
  color: rgb(34 12 64 / 0.6);
  color: rgb(34 12 64 / 60%);
}

//* значение HSL в старом синтаксисе hsl для сплошных и hsla для полупрозрачных
.element {
  color: hsl(30, 100%, 50%);
  color: hsla(30, 100%, 50%, 0.6);
  color: hsla(30, 100%, 50%, 60%);
}

//* значение HSL в новом синтаксисе hsl для сплошных и для полупрозрачных
.element {
  color: hsl(30 100% 50%);
  color: hsl(30 100% 50% / 0.6);
  color: hsl(30 100% 50% / 60%);
}
