//# object-fit (Подгонка картинки, видео)
/*
- Свойство, которое позволяет управлять тем, как картинка <img> или видео <video> будет подстраиваться под заданные размеры.
- По своему поведению очень похоже на свойство background-size для фоновых изображений.
- Дословно свойство переводится как «объект подходит», что вполне точно отражает принцип его работы. Свойство управляет тем, как подгружаемая картинка будет вписываться в рамки заданных размеров.
- Свойство задаётся для самого тега <img>, не для родителя. Пишем свойство, а в качестве значения задаём одно из ключевых слов. В отличие от background-size мы не можем задать конкретные размеры в качестве значения.
- Работает только если картинке задан хотя бы один размер: ширина или высота. Иначе браузер не понимает в какую область нужно вписать картинку.
- Свойство и его значение не наследуется.
- Не анимируется.
- Классно работает в сочетании со свойством object-position.
*/

//# значения
.element {
  object-fit: fill;
  // картинка полностью вписывается в указанные размеры без соблюдения собственных пропорций. Часто это приводит к ощутимым деформациям (по умолчанию)

  object-fit: contain;
  // картинка подстроится под заданные размеры так, чтобы поместиться внутри целиком без нарушения пропорций

  object-fit: cover;
  // картинка без нарушения пропорций заполнит всю доступную область, обрезая всё ненужное

  object-fit: none;
  // картинка отображается без изменения пропорций или размеров

  object-fit: scale-down;
  // браузер сравнивает размеры картинки со значением none и со значением contain и выбирает одно из этих значений, деформируя картинку соответствующим образом
}
