//# opacity (Прозрачность)
// Свойство opacity управляет прозрачностью элемента. С его помощью можно полностью спрятать текст или элемент. А можно сделать полупрозрачным — дизайнеры любят такой приём на современных сайтах.

//# значения
.element {
  opacity: 1; // Элемент совсем непрозрачный (по умолчанию)
  opacity: 0.5; // Элемент полупрозрачный, сквозь него видно фон
  opacity: 0; // Элемент станет прозрачным
}

//# общая информация
/*
- Свойство opacity принимает дробные или целые значения от 0 до 1 включительно. 0 будет означать полную прозрачность, а 1 полную непрозрачность (значение по умолчанию).
- Свойство прозрачности можно анимировать.
- Элемент не пропадает со страницы, продолжает влиять на поток документа.
- Можно задавать любые дробные значения. Например, 0.33 или 0.1.
- Это не наследуемое свойство. НО! Если родителю задано это свойство, то и все дети вместе с ним будут становиться прозрачными.
- Вместо opacity: 0 можно использовать свойство visibility: visibility: hidden — будет тот же результат.
- В дробных значениях можно опустить первый ноль: opacity: .5. И всё равно будет работать.
*/
