//# outline (Внутренняя граница)
/* Шорткат - outline-width, outline-style (обязательное значение) и outline-color.
- Для свойства outline можно задать только outline-style. Без него обводка не будет отображаться.
- На сентябрь 2021 года обводка подстраивается под форму обводимого элемента! Во всех актуальных версиях браузеров, кроме Safari.
- Обводка без зазрения совести накладывается на рядом стоящие элементы, не замечая их.
- Если задать обводку для многострочного текста, то каждая строка будет обведена своим прямоугольником. Лучше уж задать обводку для родителя. */

//# outline-offset (Отступ от края элемента)
/* Позволяет задать отступ от края элемента до границы.
- Может принимать в качестве значения любое указание размера в любых единицах измерения.
- Можно задать отрицательное значение и тогда обводка будет сдвинута внутрь. Тогда стоит учитывать ширину самой обводки, поскольку свойство outline-offset указывает расстояние от края элемента до внутреннего края обводки. */

//# значения
.element {
  outline: 5px solid green; // граница со всех сторон
  outline-offset: 10px;       // отступ от края элемента до границы
}

//# outline-width (ширина)
.element {
  //* специальные значения
  outline-width: medium; // средняя ширина (зависит от браузера, примерно 3 px) (по умолчанию)
  outline-width: thin;   // тонкая ширина (зависит от браузера, примерно 1 px)
  outline-width: thick;  // толстая ширина (зависит от браузера, примерно 6 px)

  //* любые единицы измерения, кроме процентов
  outline-width: 1px;    // ширина в пикселях
  outline-width: 1rem;   // ширина в rem
  outline-width: 1vw;    // ширина в vw
}

//# outline-style (стиль)
.element {
  //* outline-style
  outline-style: none;   // отключает рамку (по умолчанию)
  outline-style: solid;  // сплошная
  outline-style: dashed; // пунктирная
  outline-style: dotted; // точками
  outline-style: double; // двойная

  //* редкие значения
  outline-style: groove; // рамка объёмная, с тенями от источника света, находящегося в верхнем левом наружном углу
  outline-style: ridge;  // рамка объёмная, с тенями от источника света, находящегося в нижнем правом внешнем углу
  outline-style: inset;  // рамка с тенями от источника света, находящегося в нижнем правом внутреннем углу
  outline-style: outset; // рамка с тенями от источника света, находящегося в левом верхнем внутреннем углу
}

//# outline-color (цвет)
.element {
  //* специальные значения
  outline-color: currentColor; // текущий цвет текста родителя (по умолчанию)
  outline-color: transparent;  // прозрачная рамка
  outline-color: invert;       // противоположный цвету фона элемента

  //* названия цветов, форматы HEX, RGB, HSL
  outline-color: tomato;                            // со всех сторон
  outline-color: tomato skyblue;                  // сверху и снизу, по бокам
  outline-color: tomato skyblue olive;          // сверху, по бокам, снизу
  outline-color: tomato skyblue olive silver; // сверху, справа, снизу, слева
}
