//# PADDING (ВНУТРЕННИЙ ОТСТУП)
// Позволяет оттолкнуть контент от границ родительского элемента.

//# ПРИМЕР
.element {
  padding: 20px; // с 4 сторон
  padding: 20px 20px; // верх и низ, по бокам
  padding: 20px 20px 20px; // верх, по бокам, низ
  padding: 20px 20px 20px 20px; // по часовой: верх, справа, низ, слева
  //* отступ для каждой стороны по отдельности
  padding-top: 20px; // отступ сверху
  padding-left: 20px; // отступ слева
  padding-right: 20px; // отступ справа
  padding-bottom: 20px; // отступ снизу
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* Объединяет в себе значение для нескольких полных свойств: padding-top, padding-left, padding-right, padding-bottom.
- Значения можно указывать в любых относительных или абсолютных единицах измерения, доступных в вебе: px, em, rem, %, vh, vw и так далее. Также можно использовать функцию calc().
- Отступы можно анимировать при помощи свойства transition.*/
