//# Видео как фон
//* <div class="project">
//*   <video class="project-video" src="https://code.s3.yandex.net/web-code/procrastinate.mov" autoplay muted loop></video>
//* </div>

.project {
  background-position: center;
  background-size: cover;
}

.project-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}