//# Колонки одинаковой высоты
//* 1. Создать flex-контейнер с свойством align-items: stretch
.container {
  align-items: stretch;
}

//* 2. Все дочерние элементы будут подстраиваться под высоту самого большого из них
.element-1 {
  height: 100px; // фактическая высота будет 300px
}

.element-2 {
  height: 200px; // фактическая высота будет 300px
}

.element-3 {
  height: 300px; // фактическая высота будет 300px
}
