//# Несколько фонов
// Суть техники заключается в том, что мы вкладываем элементы друг в друга и делаем их одинакового размера, а затем каждому элементу задаём свой фон. То есть каждый элемент служит одним слоем фона.

// Фоны вложенных элементов перекрывают друг друга: чем глубже элемент, тем выше его фон.

// Кстати, для удобства ширину лучше задавать внешнему элементу (так как все вложенные будут той же ширины), а высоту самому глубокому, так как он растянет по высоте всех своих родителей.

/*
<div class="block1">
  <div class="block2">
    <div class="block3"></div>
  </div>
</div>
*/

.block1 {
  width: 256px;
  margin: 0 auto;
  background: url('cows.jpg') no-repeat;
  box-shadow: 1px 1px 3px #999999;
}

.block2 {
  background: url('cat_walk.png') no-repeat 190px 195px;
}

.block3 {
  background: url('fence.png') no-repeat;
  height: 256px;
}
