//# Стилизация progress
// Внешний вид элемента <progress> может быть разным — это зависит от браузера и операционной системы устройства пользователя. Стандартный прогресс-бар на устройствах с macOS и Windows имеет голубую заливку в Chrome, Safari и Firefox. Только Edge использует серый цвет. Сильнее всего элемент отличается в Safari. Он гораздо уже остальных.

// Если нужно, чтобы прогресс-бар выглядел везде одинаково, то стилизуйте его. Например, следующее правило убирает границу элемента, которая есть по умолчанию, и меняет цвет фона:

progress {
  border: none;
  background-color: #ff8630;
}

// В Firefox эти стили не затронут бегунок, поэтому дополнительно используйте вендорный префикс -moz. Для стилизации в Chrome и Safari как самого элемента, так и его бегунка, используйте префиксы -webkit.

// Так что для того, чтобы прогресс-бар и бегунок выглядели одинаково во всех основных браузерах, нам потребуется добавить следующие правила:

progress::-moz-progress-bar {
  border: none;
  background-color: #ff8630;
}

progress::-webkit-progress-bar {
  border: none;
  background-color: #ff8630;
}

progress::-webkit-progress-value {
  background-color: #ff8630;
}
