//# Стили для hover на мобильных устройствах
// А что если на сайт зайти с планшета, к которому подключена bluetooth-мышь? Однозначно, ховер должен работать! А если дополнительных устройств ввода нет, то, конечно, стили по наведению должны быть сброшены, чтобы избежать визуального залипания при нажатии на соответствующие элементы.

// Вот удобная практика для таких случаев, она ещё и позволяет писать чуточку меньше кода.

// Чтобы не писать дополнительные обнуления ховер-стилей для тач-устройств, состояние :hover удобно задавать внутри медиавыражений с условием по типу взаимодействия с устройством.

// Пример, исключающий тач-устройства, но не полностью:

.link {
  color: #ffffff;
  text-decoration-color: #2e9aff;
  transition: background-color 0.5s linear;
}

/* Есть возможность навести указатель на элемент */
@media (any-hover: hover) {
  .link:hover {
    background-color: #2e9aff;
    transition: background-color 0.1s linear;
  }
}

// Условие any-hover: hover допускает устройства с сенсорным экраном, но только если подключено дополнительное устройство ввода с нужной функциональностью для ховера (мышь, тачпад и т. п.)

// Таким образом, мы успешно задали стили по наведению на ссылку, которые не будут учтены на мобильных устройствах, но заработают, если имеется курсор.

// По аналогии можно использовать и другое состояние — :active.


