//# Вендорные префиксы
/* Вендорные префиксы — это приставки перед свойствами, селекторами, функциями или другими сущностями в CSS, позволяющие браузерам внедрять экспериментальные фичи до того, как они полностью стандартизированы и готовы для использования. Когда префикс отбрасывается — это знак, что всё готово.

Основные браузеры используют следующие префиксы:
-webkit- — Safari, Chrome, Opera 15+ и другие браузеры на основе движка WebKit или Blink.
-moz- — Firefox и браузеры на движке Gecko.
-o- — Opera 12 и раньше, на движке Presto.
-ms- — Internet Explorer и старый Microsoft Edge 12–18.

Как и в случае с директивами, префиксы в псевдоэлементах тоже приводят к дублированию кода: если перечислить всё через запятую, браузеры вас не поймут. Например написать директивы @-webkit-keyframes и @keyframes через запятую, чтобы не дублировать их содержимое, не получится.

Очень важно указывать сущности (свойства, селекторы, директивы и так далее) с вендорными префиксами выше, чем без префиксов:

Это нужно для того, чтобы браузер использовал самую последнюю стабильную реализацию. Если браузер уже поддерживает фичу без префиксов, то применится последнее из перечисленных. А если нет, то сработает подходящая запись из кода выше.
*/

//# Использование
//* Свойство css
div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//* Директива @keyframes
@-webkit-keyframes animation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes animation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

//* Псевдоэлемент placeholder
input::-webkit-input-placeholder {
  color: #bada55;
}
input:-moz-placeholder {
  color: #bada55;
}
input::-moz-placeholder {
  color: #bada55;
}
input:-ms-input-placeholder {
  color: #bada55;
}
input::-ms-input-placeholder {
  color: #bada55;
}
input::placeholder {
  color: #bada55;
}

//* Значение свойства css
div {
  background-image: url('image.png');
  background-image: -webkit-image-set(url('image.png') 1x, url('image-2x.png') 2x);
  background-image: image-set('image.png' 1x, 'image-2x.png' 2x);
}

// Сначала браузер прочитает свойство background-image со значением url(), которое он точно понимает. Потом увидит такое же свойство с другим значением, и если он его поймёт, то забудет первое свойство и применит второе. Это называется фолбэк.

// Но браузер на этом не остановится и пойдёт дальше: если он поддерживает значение без префикса, то он предпочтёт его — ведь оно последнее. Поэтому порядок следования свойств с префиксами в значениях тоже важен: сначала идут значения с префиксами, потом — без, чтобы браузеры выбрали последний, максимально современный вариант.
