//# 1. initial (начальное значение)
/*
- У каждого из свойств в CSS есть значение по умолчанию. Оно применяется ещё до того, как вы написали что-либо в вашем файле стилей.
- Ключевое слово initial указывает браузеру использовать значение по умолчанию данного свойства CSS.
*/

//# 2. user agent stylesheet (cтили браузера)
/*
- После применения начальных стилей всех свойств CSS браузер загружает их стили.
- Эти стили не имеют ничего общего с базовыми начальными значениями свойств CSS.
*/

//# 3. inherit (наследование)
/*
- Позволяет явно задать наследуемость какого-то из свойств, неважно, является ли оно наследуемым или нет.
1. Указывает браузеру искать значение ближайшего родительского элемента
2. Если у ближайшего родителя тоже значение inherit, браузер продолжит искать дальше
3. Если значения нет вообще, браузер будет использовать user agent stylesheet
4. Если нет user agent stylesheet, он будет использовать initial
*/

//# 4. unset (cпециальное свойство)
/*
- Это ключевое слово ведёт себя по-разному с наследуемыми и ненаследуемыми свойствами:
1) С наследуемыми свойствами ключевое слово unset ведёт себя как inherit. Наследуемые - свойства, которые наследуются от родителя (в основном текстовые)
2) С ненаследуемыми свойствами оно ведёт себя как initial. Ненаследуемые - свойства, которые не наследуются от родителя (все остальные)

//* Для наследуемых свойств unset будет работать как inherit
h2 {
  color: unset; // color: inherit
  font-size: unset; // font-size: inherit
}

//* Для ненаследуемых свойств unset будет работать как initial
.selector {
  display: unset; // display: initial;
}

//* использование со свойством all (cброс всех наследуемых свойств на inherit, а всех ненаследуемых свойств на initial)
body {
  all: unset;
}

//* использование со свойством all (cброс всех стилей на базовые стили браузера)
body {
  all: revert;
}
*/

//# 5. revert (cброс до стилей браузера)
/*
- Это ключевое слово сбрасывает значение свойства до указанного в стилях браузера.
- Например, если указать для <h1> свойство font-size со значением revert, то фактическим значением будет 2em — ровно такой размер устанавливает браузер для заголовка первого уровня.
*/
