/* # Новый css */
/* Переменные */
.block {
  --color: #ffffff;
  color: var(--color);
}

/* Вложенность 1 */
h2 {
  span {
    color: var(--color);
  }
}

/* Вложенность 2 */
h2 {
  & span {
    color: var(--color);
  }
}

/* BEM */
.main {
  [class*='__title'] {
    font-size: 50px;
    line-height: 1.5;
    &._s {
      font-size: 35px;
    }
    &._m {
      font-size: 45px;
    }
  }
}
