//* Ширина и высота не включает толщину границ вокруг элемента, значение отступов и полей.
//* Если задать элементу width/height: 50%, то он посмотрит на родителя, разделит пополам и применит к себе.
//* Ширина элемента body по умолчанию равна видимой ширине окна браузера.
//* Полная ширина окна равна 100vw, полная высота окна — 100vh.

.class {
  width: 100%; // Нужно указать явно, например 100% ширины и высоты родителя.
  height: 100%; // Нужно указать явно, например 100% ширины и высоты родителя.

  width: 500px;  // ширина
  min-width: 500px; // минимальная ширина
  max-width: 500px; // максимальная ширина

  height: 500px; // высота (осторожно, Что если контента станет больше?)
  min-height: 500px; // минимальная высота
  max-height: 500px; // максимальная высота (лучше не ограничивать)

  object-fit: cover; // Подстроит элемент под размер так, чтобы он закрывал определенную площадь c параметрами width/height
}