.element {
  width: 100%;
  height: 100%;
  object-fit: contain; // или cover
}

//# Сжатие
/*
- Как пропорционально уменьшать ширину и высоту различных элементов при изменении ширины родительского контейнера?
- Для изображений это делается очень просто, задаем свойству height значение auto, при этом максимальную ширину изображения ограничиваем шириной родительского контейнера max-width: 100%;
*/

.element {
  max-width: 100%;
  height: auto;
}
