//# Определить зону конента - максимальный размер страницы, повесить класс на body
.page {
  max-width: $desktop-max-width;
}

//# Определить автоматическую центровку по бокам
.page_position_center {
  margin: 0 auto;
}

//# Определить размеры секции. Секция автоматически растянется на ширину родителя по центру, а это page c уже заданным width
.header {
  // можно ничего не писать
}

//# Размеры (styes/modules/variables/_variables.scss)
@import "./modules/variables/variables"; // Подключение
$desktop-max-width: 1440px;
$width-1280: 1280px;
$width-1024: 1024px;
$width-900: 900px;
$width-800: 800px;
$width-600: 600px;
$width-480: 480px;

//# Подключение миксина
@include desktop {
	background-color: green;
}

//# Создать миксины для адаптива (styes/modules/mixins/_mixins.scss)
@import "./modules/mixins/mixins"; // Подключение
@mixin desktop-max-width {
  @media screen and (max-width: $desktop-max-width) {
    @content;
  }
}
@mixin width-1280 {
  @media screen and (max-width: $width-1280) {
    @content;
  }
}
@mixin width-1024 {
  @media screen and (max-width: $width-1024) {
    @content;
  }
}
@mixin width-900 {
  @media screen and (max-width: $width-900) {
    @content;
  }
}
@mixin width-800 {
  @media screen and (max-width: $width-800) {
    @content;
  }
}
@mixin width-600 {
  @media screen and (max-width: $width-600) {
    @content;
  }
}
@mixin width-480 {
  @media screen and (max-width: $width-480) {
    @content;
  }
}