//# Определить зону конента - максимальный размер страницы, повесить класс на body
.page {
  max-width: $desktop-max-width;
}

//# Определить автоматическую центровку по бокам
.page_position_center {
  margin: 0 auto;
}

//# Определить размеры секции. Секция автоматически растянется на ширину родителя по центру, а это page c уже заданным width
.header {
  // можно ничего не писать
}

//# Размеры (styes/modules/variables/_variables.scss)
@import "./modules/variables/variables"; // Подключение
$desktop-max-width: 1440px;
$desktop-width: 1280px;
$tablet-plus-width: 1024px;
$tablet-width: 768px;
$mobile-plus: 600px;
$mobile: 480px;

//# Подключение миксина
@include desktop {
	background-color: green;
}

//# Создать миксины для адаптива (styes/modules/mixins/_mixins.scss)
@import "./modules/mixins/mixins"; // Подключение
//* 1440
@mixin desktop-max {
  @media screen and (max-width: $desktop-max-width) {
    @content;
  }
}
//* 1280
@mixin desktop {
  @media screen and (max-width: $desktop-width) {
    @content;
  }
}
//* 1024
@mixin tablet-plus {
  @media screen and (max-width: $tablet-plus-width) {
    @content;
  }
}
//* 768
@mixin tablet {
  @media screen and (max-width: $tablet-plus) {
    @content;
  }
}
//* 600
@mixin tablet {
  @media screen and (max-width: $mobile-plus) {
    @content;
  }
}
//*480
@mixin tablet {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
