//# object-fit
/*
- Свойство, которое позволяет управлять тем, как картинка <img> или видео <video> будет подстраиваться под заданные размеры.
- По своему поведению очень похоже на свойство background-size для фоновых изображений.
- Свойство задаётся для самого тега <img>, не для родителя.
- Работает только если картинке задан хотя бы один размер: ширина или высота. Иначе браузер не понимает в какую область нужно вписать картинку.
- Свойство и его значение не наследуется.
- Не анимируется.
- Классно работает в сочетании со свойством object-position.
*/

.element {
  object-fit: fill;
  width: 100%; // нужно задать явно
  height: 100%; // нужно задать явно
}

//# Значения
//* object-fit: fill (по умолчанию)
// Картинка полностью вписывается в указанные размеры без соблюдения собственных пропорций. Часто это приводит к ощутимым деформациям.

//* object-fit: contain
// Картинка подстроится под заданные размеры так, чтобы поместиться внутри целиком без нарушения пропорций.

//* object-fit: cover
// картинка без нарушения пропорций заполнит всю доступную область, обрезая всё ненужное.

//* object-fit: none
// Картинка отображается без изменения пропорций или размеров.

//* object-fit: scale-down
// Браузер сравнивает размеры картинки со значением none и со значением contain и выбирает одно из этих значений, деформируя картинку соответствующим образом.
