/*
Поскольку картинка — строчный элемент, после неё есть небольшой отступ, похожий на пробел между словами.
Иногда этот отступ сильно мешает.
Но не все начинающие разработчики понимают, как от него избавиться.
Всё просто! Измени поведение картинки со строчного на блочное (block) или строчно-блочное (inline-block).
Альтернатива: vertical-align:top (или bottom), но для маленьких изображений может понадобиться уменьшить line-height, чтобы контейнер не оставлял место под строку.
*/

.element {
  display: block;
}

.element {
  display: inline-block;
}

.element {
  vertical-align: top;
}


