//# grid-row-start (Начало строки)
/*
- Определяют положение элемента внутри грид-сетки при помощи указания на конкретные направляющие линии.
- Ключевое слово span работает только с положительными значениями.
- Если не указать значения для свойств grid-column-end и grid-row-end, то элемент по умолчанию будет размером в одну грид-ячейку.
- Элементы могут перекрывать друг друга, накладываться друг на друга. Можно использовать свойство z-index для управления порядком следования элементов.

Возможные значения:
название или номер линии — может быть порядковым номером или названием конкретной линии.
span число               — элемент растянется на указанное количество ячеек.
span имя                 — элемент будет растягиваться до следующей указанной линии.
auto                     — автоматическое размещение, автоматический диапазон клеток или дефолтное растягивание элемента, равное одному.
*/

//# пример
.element {
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
}
