//# justify-self (Выравнивание внутри грид ячейки по оси X)
// С помощью этого свойства можно установить горизонтальное выравнивание для отдельного элемента, отличное от выравнивания, заданного грид-родителю. Возможные значения аналогичны значениям свойства justify-items.

//# значения
.element {
  justify-self: start;   // выравнивает элемент по начальной (левой для LTR) линии
  justify-self: end;     // выравнивает элемент по конечной (правой для LTR) линии
  justify-self: center;  // выравнивает элемент по центру грид-ячейки
  justify-self: stretch; // растягивает элемент на всю ширину грид-ячейки
}
