//# align-self (Выравнивание внутри грид ячейки по оси Y)
// Выравнивает отдельный элемент по вертикальной оси. Возможные значения аналогичны значениям свойства align-items.

//# значения
.element {
  align-self: start;   // выравнивает элемент по начальной (верхней) линии
  align-self: end;     // выравнивает элемент по конечной (нижней) линии
  align-self: center;  // выравнивает элемент по центру грид-ячейки
  align-self: stretch; // растягивает элемент на всю высоту грид-ячейки
}
