//# place-self (Выравнивание внутри грид ячейки, шорткат)
/*
align-self (первое значение)
justify-self (второе значение)
*/

//# пример
.element {
  place-self: auto;        // стандартное значение, можно использовать для сброса ранее заданных значений (по умолчанию)
  place-self: stretch end; // 2 значения
  place-self: center;      // 1 значение для обоих свойств
}
