//# @FONT-FACE (ДЕКЛАРАЦИЯ ШРИФТА)
// Встроенных в операционные системы шрифтов часто не хватает для создания уникального дизайна сайта. Для подключения нестандартных шрифтов существует директива @font-face. С её помощью можно подключить и использовать на странице любой шрифт из файла.

//# ПРИМЕР
@font-face {
  font-family: "Best Font Ever";
  font-style: italic;
  font-weight: bold;
  src: local("Inter"),
       url("font.woff2") format("woff2"),
       url("font.woff") format("woff"),
       url("font.svg") format("svg"),
       url("") format("truetype"),
       url("") format("eot");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("fonts/Inter-Thin.woff2") format("woff2"),
       url("fonts/Inter-Thin.woff") format("woff");
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* Чтобы шрифты работали во всех современных браузерах, достаточно подключить шрифты в форматах woff2 и woff.
- Поскольку пользователь имеет возможность устанавливать в свою систему любые нестандартные шрифты, то есть вероятность, что нужный нам шрифт уже есть на его компьютере. Если это так, то браузеру будет удобнее и быстрее взять шрифт из системы, чем читать файл.
- В качестве одного или нескольких значений у свойства src можно указать конструкцию local("имя-шрифта-в-системе"). Нужно указывать локальные названия до ссылок на внешние файлы, чтобы браузер, найдя шрифт в системе под таким именем, даже не пошёл загружать и читать внешние файлы.
- Важно, чтобы файлы со шрифтами лежали на том же домене, что и сайт, на котором они используются. Если вы захотите обратиться к шрифтам из другого домена, то подобный запрос будет заблокирован по правилам безопасности кроссдоменных запросов (CORS).
- @font-face нужно объявлять до того, как вы обратитесь в CSS к этому шрифту. Принято подключать шрифты в самом начале файла стилей (но после всех @import).
- @font-face нельзя объявить внутри другого CSS-правила.
- Важно использовать в точности то название подключённого шрифта, которое вы задаёте внутри @font-face.*/

//# КОНВЕРТОРЫ ШРИФТОВ:
// Font Converter (https://www.font-converter.net)
// Online @font-face generator (https://transfonter.org)