//# @MEDIA (МЕДИАЗАПРОСЫ)
// Директива, которая позволяет задавать разные стили для разных параметров экрана — ширины, высоты, ориентации и даже типа устройства.

//# СИНТАКСИС
// @media [тип устройства] [характеристики устройства] {
//   CSS-правила
// }

//# ПРИМЕР
//* ко всем типам устройств
@media (min-width: 900px) {
  .block {
    display: flex;
  }
}

//* если верны оба: тип устройства и характеристики
@media print and (min-width: 320px) {
  .link {
    text-decoration: underline;
  }
}

//* если верно любое из условий, первое или второе
@media (orientation: landscape), (max-width: 960px) {
  .text {
    color: tomato;
  }
}

//* медиавыражения можно вкладывать в медиавыражения и другие директивы
@media (min-width: 520px) {
  @media (max-width: 1080px) {
    .cell {
      background: peachpuff;
    }
  }
}

@supports (position: sticky) {
  @media (min-width: 1080px) {
    .block {
      position: sticky;
    }
  }
}

/* для устройств, в которых основной механизм ввода позволяет навести указатель на элемент */
@media (hover: hover) {
  /* ... */
}
/* если основное устройство ввода не позволяет навести указатель на элемент */
@media (hover: none) {
  /* ... */
}
/* смартфоны, устройства с сенсорными экранами */
@media (hover: none) and (pointer: coarse) {
  /* ... */
}
/* устройства с сенсорными экранами, в которых основным механизмом ввода является стилус */
@media (hover: none) and (pointer: fine) {
  /* ... */
}
/* Smart TV, игровые консоли */
@media (hover: hover) and (pointer: coarse) {
  /* ... */
}
/* десктопы и ноутбуки, в которых основным механизмом ввода является мышь или тачпад */
@media (hover: hover) and (pointer: fine) {
  /* ... */
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/*
Размещают медиазапросы обычно в конце CSS-кода. Каждому режиму отображения — свой медиазапрос. Если проект верстается по БЭМ, медиазапросы прописываются по отдельности — для каждого компонента в конце его файла стилей, для блоков, элементов и модификаторов в их CSS-файлах. Если же стили группируются по типу, то в конце общего CSS-файла
- Если мы пишем и тип устройства, и указываем характеристики, то после типа обязательно пишется and.
- Для вёрстки от мобильных (mobile first) лучше использовать медиавыражения с min-width и располагать их в порядке увеличения ширины экрана; для вёрстки от десктопа (desktop first) — max-width, и располагать выражения в обратном порядке.

Тип устройства:
1) all - медиавыражение применится ко всем устройствам. Если не задать никакой тип, по умолчанию применится этот.
2) print - стили внутри такого медиавыражения применятся при печати на принтерах или экспорте в PDF, в том числе в режиме предпросмотра документа.
3) screen — для устройств с экранами.

Характеристики страницы и окна браузера:
width — ширина окна браузера;
min-width — минимальная ширина окна браузера;
max-width — максимальная ширина окна браузера;
height — высота окна браузера;
min-height — минимальная высота окна браузера;
max-height — максимальная высота окна браузера;
aspect-ratio — соотношение между шириной и высотой окна;
min-aspect-ratio — минимальное соотношение между шириной и высотой окна;
max-aspect-ratio — максимальное соотношение между шириной и высотой окна;
orientation — ориентация устройства: landscape (альбомная, горизонтальная) или portrait (портретная, вертикальная);
overflow-block — проверка, как устройство вывода обрабатывает содержимое, которое выходит за пределы области просмотра по оси блока;
overflow-inline — проверка, можно ли прокручивать содержимое, выходящее за пределы области просмотра по встроенной оси.

Качество отображения:
environment-blending — метод для определения внешнего окружения устройства, такого как тусклое или слишком яркое освещение;
display-mode — проверка режима браузера, используется в PWA: fullscreen (полноэкранный режим без интерфейса браузера), standalone (как нативное приложение), minimal-ui (минимальный интерфейс браузера) и browser (обычное окно браузера);
grid — проверка, является ли экран растровым (все современные экраны) или сеточным (как старые телефоны или текстовые терминалы);
resolution — разрешение устройства в dpi или dpcm;
min-resolution — минимальное разрешение устройства в dpi или dpcm;
max-resolution — максимальное разрешение устройства в dpi или dpcm;
scan — процесс сканирования устройства вывода;
update — скорость обновления экрана: none (не обновляется), slow (медленно), fast (быстро).

Цвет:
color — количество бит на цвет на устройстве вывода;
min-color — минимальное количество бит на цвет на устройстве вывода;
max-color — максимальное количество бит на цвет на устройстве вывода;
color-index — количество цветов, которое может отображаться устройством;
min-color-index — минимальное количество цветов, которое может отображаться устройством;
max-color-index — максимальное количество цветов, которое может отображаться устройством;
monochrome — количество бит на цвет на монохромном устройстве вывода;
min-monochrome — минимальное количество бит на цвет на монохромном устройстве вывода;
max-monochrome — максимальное количество бит на цвет на монохромном устройстве вывода;
color-gamut — примерный диапазон цветов, поддерживаемый браузером и устройством вывода;
dynamic-range — комбинация уровня яркости, глубины цвета и контрастного соотношения для видео в браузере или устройстве вывода;
inverted-colors — проверка, инвертируются ли цвета браузером или ОС.

Взаимодействие:
hover — проверка, позволяет ли основное устройство наводить указатель на элементы;
any-hover — проверка, позволяет ли любое из устройств ввода наводить указатель на элементы;
pointer — проверка, является ли основное устройство ввода указателем, и насколько оно точное;
any-pointer — проверка, является ли любое из устройств ввода указателем, и насколько оно точное.

Характеристики с префиксом video-:
video-width — ширина видео на выбранном дисплее (ведётся обсуждение);
video-height — высота видео на выбранном дисплее (ведётся обсуждение);
video-color-gamut — примерный диапазон цветов, поддерживаемый для видео в браузере и устройстве вывода;
video-dynamic-range — комбинация уровня яркости, глубины цвета и контрастного соотношения для видео в браузере или устройстве вывода;
video-resolution — разрешение видео на выбранном дисплее (ведётся обсуждение).

Скрипты:
scripting — проверка, включены ли скрипты;

Пользовательские настройки:
forced-colors — проверка, запрещает ли браузер цвета, доступные для использования;
prefers-color-scheme — определяет, какую тему предпочитает пользователь — светлую или тёмную;
prefers-contrast — определяет, установлены ли настройки для увеличения или уменьшения контраста между цветами;
prefers-reduced-data — определяет, предпочитает ли пользователь загружать меньше данных на странице;
prefers-reduced-motion — определяет, отключены ли анимации в системных настройках пользователя;
prefers-reduced-transparency — определяет, отключена ли прозрачность в системных настройках пользователя.

Устаревшие:
device-aspect-ratio — соотношение между шириной и высотой устройства вывода;
device-height — высота дисплея устройства;
device-width — ширина дисплея устройства.
*/
