//# grid-template-columns (Создание колонок)
.grid-container {
  grid-template-columns: 100px 100px 150px;
  // 3 колонки

  grid-template-columns: repeat(5, auto);
  // 5 колонок с автоматическим размером
  grid-template-columns: repeat(5, 20%);
  // 5 колонок по 20%
  grid-template-columns: repeat(6, 1fr);
  // 6 колонок по 1 фракции (т.е. 6 колонок одинаковой ширины)

  grid-template-columns: [aside-start] [aside-center] [aside-end];
  // 3 колонки с названиями

  grid-template-columns: 1fr 1fr minmax(300px, 1fr);
  // функция minmax имеет два параметра: минимальный размер min и максимальный max. Можно задавать в пикселях, процентах, фракциях
  // Трек или элемент с таким размером растягивается и сжимается в пределах этих значений

  grid-template-columns: 1fr 1fr max-content;
  // Будь такой ширины, чтобы вмещать содержимое без переносов и максимально компактно, без свободного пространства по краям
  // Это удобно для подписей к картинкам.
  // Значение max-content размещает подпись на одной строке без переносов.

  grid-template-columns: 1fr 1fr min-content;
  // Оно стремится перенести всё, что переносится, чтобы содержимое ячейки занимало как можно меньше места.
  // Значение min-content сообщает треку: «Ориентируйся на самый маленький — картинку или слово.

  grid-template-columns: 1fr 1fr minmax(min-content, max-content);
  // будет ориентироваться на контент: не ужмётся меньше содержимого, но и не займёт лишнее место, когда контента мало.

  grid-template-columns: 1fr 1fr fit-content(200px);
  // Предельный размер ширины колонки. Колонка занимает ширину под размер своего контента.

  grid-template-columns: repeat(auto-fill, 100px);
  // Свойство auto-fill создаёт пустые колонки, чтобы заполнить всё доступное пространство.

  grid-template-columns: repeat(auto-fit, 100px);
  // Значение auto-fit тоже заполняет всё доступное пространство колонками, но в отличие от auto-fill схлопывает пустые и отдаёт больше места под заполненные, пустые колонки всё ещё существуют, просто с нулевым размером

  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  // резиновая сетка
}
