//# grid-template-rows (Создание строк)
.grid-container {
  grid-template-rows: 150px 150px 100px;
  // 3 строки

  grid-template-rows: repeat(5, auto);
  // 5 строк с автоматическим размером
  grid-template-rows: repeat(5, 20%);
  // 5 строк по 20%
  grid-template-rows: repeat(6, 1fr);
  // 6 строк по 1 фракции (т.е. 6 строк одинаковой высоты)

  grid-template-rows: [aside-start] [aside-center] [aside-end];
  // 3 строки с названиями

  grid-template-rows: 1fr 1fr minmax(300px, 1fr);
  // функция minmax имеет два параметра: минимальный размер min и максимальный max.
  // Трек или элемент с таким размером растягивается и сжимается в пределах этих значений
  // третья строчка не может быть меньше 300px и больше одной фракции
  // Значения параметров min и max можно задавать в пикселях, процентах, фракциях

  grid-template-rows: 1fr 1fr max-content;
  // Будь такой высоты, чтобы вмещать содержимое без переносов и максимально компактно, без свободного пространства по краям
  // Это удобно для подписей к картинкам.
  // Значение max-content размещает подпись на одной строке без переносов.

  grid-template-rows: 1fr 1fr min-content;
  // Максимально сжимает по содержимому.
  // Значение min-content сообщает треку: «Ориентируйся на самый маленький — картинку или слово.

  grid-template-rows: 1fr 1fr minmax(min-content, max-content);
  // будет ориентироваться на контент: не ужмётся меньше содержимого, но и не займёт лишнее место, когда контента мало.

  grid-template-rows: 1fr 1fr fit-content(200px);
  // Предельный размер высоты строки. Строка занимает высоту под размер своего контента.

  grid-template-rows: repeat(auto-fill, 100px);
  // Свойство auto-fill создаёт пустые строки, чтобы заполнить всё доступное пространство.

  grid-template-rows: repeat(auto-fit, 100px);
  // Значение auto-fit тоже заполняет всё доступное пространство строками, но в отличие от auto-fill схлопывает пустые и отдаёт больше места под заполненные, пустые строки всё ещё существуют, просто с нулевым размером

  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  // резиновая сетка
}
