//# grid-auto-flow (Управление неявными элементами)
.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(4, 100px);

  grid-auto-flow: row;
  // добавлятся будут неявные строки (по умолчанию)

  grid-auto-flow: column;
  // добавлятся будут неявные столбцы

  grid-auto-flow: dense;
  // Как только появятся элементы поменьше, они займут пробелы в сетке.
  // Значение dense помогает заполнять пробелы в сетке, которые появляются из-за разных размеров элементов.
  // Не используйте dense в местах, где порядок элементов важен.
  // Иначе меню сайта или подвал окажется не там, где вы ожидаете его увидеть.
}