//# align-items (Выравнивание по оси Y)
.grid-container {
  align-items: stretch;
  // растягивает элементы в контейнере  (по умолчанию)

  align-items: start;
  // сначала идут элементы, за ними — оставшееся пустое пространство

  align-items: end;
  // сначала идёт пустое пространство, а к концу контейнера прижаты элементы

  align-items: center;
  // элементы собраны посередине, а пустое пространство распределено поровну с двух сторон от них
}