//# gap (Отступы между элементами)
.grid-container {
  column-gap: 20px;
  // отступы между колонками

  row-gap: 20px;
  // отступы между строками

  gap: 10px;
  // отступы между всеми элементами

  gap: 10px 10px;
  // отступы между колонками, между строками
}
