//# grid-row (grid-row-start + grid-row-end (Расположение элемента по строкам)
.grid-element {
  grid-row: 1 / 3; // = grid-row-start: 1; grid-row-end: 3;
  grid-row: 1; // = grid-row-start: 1; grid-row-end: auto;

  grid-row: 1 / 3;
  grid-row-start: 1;
  grid-row-end: 3;
  // Расположение элемента по горизонтали с 1 грид-линии до 3 грид-линии

  grid-row: aside-start / aside-end;
  grid-row-start: aside-start;
  grid-row-end: aside-end;
  // Расположение элемента по горизонтали с aside-start до aside-end

  grid-row: 2 / span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
  // Расположение элемента по горизонтали с 2 грид-линии до +2
}
