//# justify-items (Выравнивание элементов по X)
.grid-container {
  justify-items: stretch;
  // растягивает элементы в контейнере  (по умолчанию)

  justify-items: start;
  // сначала идут элементы, за ними — оставшееся пустое пространство

  justify-items: end;
  // сначала идёт пустое пространство, а к концу контейнера прижаты элементы

  justify-items: center;
  // элементы собраны посередине, а пустое пространство распределено поровну с двух сторон от них
}