//# justify-content (Выравнивание сетки по X)
.grid-container {
  justify-content: start;
  // сначала идут элементы, за ними — оставшееся пустое пространство (по умолчанию)

  justify-content: end;
  // сначала идёт пустое пространство, а к концу контейнера прижаты элементы

  justify-content: center;
  // элементы собраны посередине, а пустое пространство распределено поровну с двух сторон от них

  justify-content: stretch;
  // элементы растянуты

  justify-content: space-between;
  // первый элемент прижат к началу контейнера, последний — к концу, а остальные расставлены между ними с одинаковыми промежутками

  justify-content: space-around;
  // всё пустое пространство делится на равные промежутки. Каждый элемент получает отступы по обе стороны, равные этому промежутку. Так между элементами оказывается отступ в 2 промежутка, а перед первым и после последнего элементов — в 1 промежуток

  justify-content: space-evenly;
  // все отступы равной величины. И между элементами, и между границами контейнера и первым и последним элементами
}