//# attr (ПОЛУЧАЕТ ЗНАЧЕНИЕ АТРИБУТА)
/*
- attr() — это CSS-функция, которая умеет получать значение любого атрибута элемента, а потом использовать это значение прямо в стилях.
- Функцию attr() можно использовать в качестве значения любого CSS-свойства, однако полностью поддерживается только свойство content. Для остальных свойств поддержка экспериментальная и может различаться от браузера к браузеру. Актуальную информацию о поддержке можно посмотреть на Can I use.
- Написание с указанием типа или фолбэка пока имеет статус экспериментальной технологии и не поддерживается браузерами. Но в будущем это позволит гораздо сильнее расширить область применения функции attr().
*/

//# Пример
//* Обычный атрибут
div::before {
  content: 'Элемент с классом ' attr(class);
}

//* С указанием типа
div::before {
  content: attr(src url);
  content: attr(data-count number);
  content: attr(data-width px);
}

//* С указанием фолбэка, то есть запасного значения
div::before {
  content: attr(data-count number, 0);
  content: attr(src url, '');
  content: attr(data-width px, inherit);
  content: attr(data-something, 'default');
}

//# Пример (печать страницы)
/*
<p>
  Подробнее о скидках и акциях можно узнать
  <a href="http://best-site.ru/sales">по ссылке</a>
</p>
*/

@media print {
  a::after {
    content: ' [' attr(href) ']';
  }
}
