//# calc (МАТЕМАТИЧЕСКИЕ ВЫЧИСЛЕНИЯ)
/* Классная функция, позволяющая производить математические вычисления прямо в CSS. Раньше, до появления calc(), приходилось страдать и вычислять размеры примерно.
- Но лучше не перегружать браузер расчётами. На каждую операцию он тратит некую долю секунды и часть оперативной памяти. Если расчётов будет много, то это потенциально повлияет на скорость загрузки страницы. Используйте calc() с умом.

- В круглых скобках мы можем писать любые математические операции с любыми единицами измерения, доступными в вебе (%, px, rem, em, vw, vh, vmin и т.д.). Доступны четыре стандартных операнда:
1) + (сложение)
2) - (вычитание)
3) / (деление)
4) * (умножение)

- Операторы сложения и вычитания обязательно с двух сторон должны отбиваться пробелом. Иначе браузер воспримет их как часть числа. Хоть операторы деления и умножения не требуют такой строгости к себе, но принято и их тоже отбивать пробелами для удобства чтения.
- Внутри скобок может быть больше одного вычисления, можно группировать операции при помощи скобок. Но не стоит увлекаться: чем короче вычисление, тем проще потом его прочитать и понять что там вообще происходит.
- Для каких свойств можно указать calc() в качестве значения? Для любых, значением которых должна быть цифра! Причём если свойство предполагает составное значение, то можно указать функцию как часть этого значения.
- Внутри круглых скобок можно складывать только числовые значения. Нельзя сложить число со строкой.
- Не использовать в медиавыражениях.
- Очень удобно (и часто приходится) использовать, когда из одной величины в относительных единицах надо вычесть другую величину в абсолютных единицах. Самостоятельно это никак не посчитать, а браузеру раз плюнуть. */

//# Пример
.selector {
  width: calc(100% / 3);
  width: calc(100% - 2rem);
  margin: calc(5vh / 4) 20px;
  transition: transform calc(0.5s + 120ms);
  height: calc(100vh - 34px);
  width: calc(33.3% - 80px);
}
