//# var (ПОДСТАВЛЯЕТ КАСТОМНЫЕ СВОЙСТВА)
/*
- CSS-функция var() позволяет подставлять кастомные свойства в качестве значения свойств.
- Функция var() возвращает текущее значение кастомного свойства. Если оно поменяется, то функция var() сразу вернёт актуальное значение.
*/

//# Синтаксис
//* var(--custom-name, 10px)
/*
- Функция var() принимает 2 аргумента:
1. Имя кастомного свойства.
2. Резервное значение (необязательный).

- Если кастомное свойство, на которое ссылается первый аргумент, недопустимо, функция использует второе значение.
- Всё, что находится после первой запятой, воспринимается как единое значение. То есть в качестве резервного значения функция вернёт значение от первой запятой до закрывающей скобки.
- Если в качестве значения введено недопустимое значение, например пиксели для цвета, бразузер проверяет, наследуется ли свойство от родительского элемента. Если да, он его использует. В противном случае устанавливает значение initial.
- Функция var() не может использоваться в качестве имён свойств, селекторов или чего-либо ещё, кроме значений свойств.
*/

//# Пример
//* Объявляем кастомное свойство
:root {
  --color-cyan: #00ffff;
}

//* Подставляем значение кастомного свойства
.button {
  background-color: var(--color-cyan);
}

//* Два резервных значения
.title {
  font-size: var(--font-size, var(--title-font-size, 20px));
}
