//# letter-spacing
/*
- letter-spacing задаёт межбуквенное расстояние — интервал между символами в тексте.
- С помощью letter-spacing можно сжать или растянуть текст на веб-странице. При этом расстояние между буквами и другими символами уменьшается или увеличивается, а сами символы остаются прежнего размера.
- Слишком большое или маленькое межбуквенное расстояние может растянуть или сжать текст так, что его будет сложно прочесть.
- Помните, что у каждого шрифта своё стандартное расстояние между символами. Поэтому для одного шрифта разряженный интервал может смотреться хорошо, а для другого ужасно.
*/

.element {
  letter-spacing: normal;
}

//# Значения
//* letter-spacing: normal (по умолчанию)
// Cтандартное межбуквенное расстояние, которое задано для шрифта

//* letter-spacing: 3px (0.3em, 0.3px)
// Конкретное значение — положительное или отрицательное значение в любых единицах величины длины. Значение может быть дробным. Положительное значение добавляется к стандартному расстоянию между буквами, а отрицательное — вычитается из него. Задать межбуквенное расстояние можно в пикселях px, дюймах in, пунктах pt или других единицах, которые используются в CSS. Значение может быть отрицательным, например, -1px. В этом случае убедитесь, что текст всё ещё можно прочесть, потому что, скорее всего, буквы «склеятся».

//* letter-spacing: inherit (initial, unset)
// Значение, относительно другого элемента.





//# letter-spacing (Интервал между буквами)
/*
- Задаёт межбуквенное расстояние — интервал между символами в тексте.
- С помощью letter-spacing можно сжать или растянуть текст на веб-странице. При этом расстояние между буквами и другими символами уменьшается или увеличивается, а сами символы остаются прежнего размера.
- Задать межбуквенное расстояние можно в пикселях px, дюймах in, пунктах pt или других единицах, которые используются в CSS.
- Значение может быть отрицательным, например, -1px. В этом случае убедитесь, что текст всё ещё можно прочесть, потому что, скорее всего, буквы «склеятся».
- Слишком большое или маленькое межбуквенное расстояние может растянуть или сжать текст так, что его будет сложно прочесть.
- Помните, что у каждого шрифта своё стандартное расстояние между символами. Поэтому для одного шрифта разряженный интервал может смотреться хорошо, а для другого ужасно.
*/

//# значения
.element {
  letter-spacing: normal; // стандартное расстояние между символами (по умолчанию)
  letter-spacing: 0.3em; // расстояние с помощью значений длины
  letter-spacing: 3px; // расстояние с помощью значений длины
  letter-spacing: 0.3px; // расстояние с помощью значений длины
  letter-spacing: inherit; // наследуется от родителя
  letter-spacing: initial; // начальное значение
  letter-spacing: unset; // все наследуемые свойства - inherit, а все ненаследуемые - initial.
}

//# проблема с photoshop
/* При вёрстке макета, нарисованного в Фотошоп, у вас могут возникнуть проблемы с letter-spacing. Причина в том, что в Фотошопе используется другая логика для расчёта межбуквенного расстояния.
- Нужно использовать следующую хитрую функцию:

x * z / 1000 = y (для px)
z — размер шрифта (font-size) в пикселях.
x — значение межбуквенного расстояния из Фотошоп.
y — результат вычисления, нужное значение для свойства letter-spacing в пикселях.

x / 1000 = y (для em)
x — значение межбуквенного расстояния из Фотошоп. */
