//# по атрибуту
//* Выбирает элементы с атрибутом, значение которого в точности равно value — строке внутри кавычек.
a[href='www.yandex.ru'] {
  font-size: 14px;
}

//* Выбирает элементы с атрибутом, значение которого в точности равно value или содержит value в своём (разделённом пробелами) списке значений.
a[href~='www'] {
  font-size: 14px;
}

//* Выбирает элементы с атрибутом, значение которого в точности равно value или начинается с value, за которым сразу следует дефис.
a[href|='.pdf'] {
  font-size: 14px;
}

//* Выбирает элементы с атрибутом, значение которого начинается с value.
a[href^='.pdf'] {
  font-size: 14px;
}

//* Выбирает элементы с атрибутом, значение которого заканчивается на value.
a[href$='.pdf'] {
  font-size: 14px;
}

//* Выбирает элементы с атрибутом, значение которого содержит value, независимо от его положения внутри строки.
a[href*='.pdf'] {
  font-size: 14px;
}
