//* justify- для основных осей, а align- для поперечных;

//* для align-content и justify-content требуется свободное пространство;
//* свойства align-content и justify-content применяются к элементам в группе, распределяя пространство между ними.

//* если хотите выровнять один элемент или разбить группу по основной оси, используйте автоматические поля;

//* align-items устанавливает одинаковые свойства align-self для всей группы.
//* Используйте align-self для дочернего элемента группы, чтобы установить ему значение индивидуально.




.flex-element {

  //* БАЗОВЫЙ РАЗМЕР
  flex-basis: 100px; // Значение задаётся в пикселях (ширина, если флекс-элементы отображаются в ряд, и высота — если в колонку)

  //* РАСПРЕДЕЛЕНИЕ ПРОСТРАНСТВА, ОТВЕДЕННОГО ЭЛЕМЕНТУ
  // Когда элементы занимают не весь контейнер, остаётся свободное пространство. Это пространство можно распределить.
  // когда пространство родителя больше, чем нужно элементам:
  flex-grow: 1; // ПО УМОЛЧАНИЮ Первый элемент - получит столько же пространства, сколько и второй
  flex-grow: 1; // ПО УМОЛЧАНИЮ Второй элемент - получит столько же пространства, сколько и первый

  flex-grow: 3; // Первый элемент получит 3/4 пространства
  flex-grow: 1; // Второй элемент получит 1/4 пространства

  flex-grow: 0; // Первый элемент получит 0% пространства
  flex-grow: 1; // Второй элемент получит 100% пространства

  // Когда пространство родителя меньше, чем нужно элементам (указывает на то, насколько каждый элемент урежется при нехватке места)
  flex-shrink: 1; // ПО УМОЛЧАНИЮ Первый элемент - урежется настолько, сколько и второй
  flex-shrink: 1; // ПО УМОЛЧАНИЮ Второй элемент - урежется настолько, сколько и первый

  flex-shrink: 3; // Первый элемент урежется на 3/4
  flex-shrink: 1; // Второй элемент урежется на 1/4
}
