//# Выравнивание элемента поперек оси flex-direction (Y)
.flex-element {
  align-self: stretch;
  // элементы растянуты от одного края контейнера до другого (по умолчанию)

  align-self: flex-start;
  // по началу флекс-контейнера

  align-self: flex-end;
  // по концу флекс-контейнера

  align-self: center;
  // центральная ось контейнера делит каждый элемент пополам

  align-self: baseline;
  // базовые линии всех флекс-элементов становятся продолжением базовой линии первого по порядку
}
