//# flex-shrink (Распределение пространства, отведенного элементу (Родитель меньше, чем пространство элементов)
.flex-element {
  //* flex-element-1
  flex-shrink: 1; // Первый элемент - урежется настолько, сколько и второй (по умолчанию)
  //* flex-element-2
  flex-shrink: 1; // Второй элемент - урежется настолько, сколько и первый (по умолчанию)

  //* flex-element-1
  flex-shrink: 3; // Первый элемент урежется на 3/4 пространства
  //* flex-element-2
  flex-shrink: 1; // Второй элемент урежется на 1/4 пространства
}
