//# flex-direction, flex-wrap
.flex-container {
  flex-flow: row nowrap;
}

//# flex-direction (Направление потока)
.flex-container {
  flex-direction: row;
  // строка слева направо (по умолчанию)

  flex-direction: row-reverse;
  // строка в обратном порядке

  flex-direction: column;
  // колонка сверху вниз

  flex-direction: column-reverse;
  // колонка в обратном порядке
}

//# flex-wrap (Перенос элементов при сжатии)
.flex-container {
  flex-wrap: nowrap;
  // запрет переноса (по умолчанию)

  flex-wrap: wrap;
  // последние элементы заворачиваются (переходят) на новую строчку, если не умещаются на текущей

  flex-wrap: wrap-reverse;
  // переносятся не последние, а первые элементы строки/колонки.
  // расположение элементов при переносе (поперек оси флекс-контейнера)
}