//# align-content, justify-content
.flex-container {
  place-content: space-between stretch;
}

//# justify-content (Выравнивание по оси flex-direction (X)
.flex-container {
  justify-content: flex-start;
  // сначала идут флекс-элементы, за ними — оставшееся пустое пространство (по умолчанию)

  justify-content: flex-end;
  // сначала идёт пустое пространство, а к концу контейнера прижаты элементы

  justify-content: center;
  // флекс-элементы собраны посередине, а пустое пространство распределено поровну с двух сторон от них

  justify-content: space-between;
  // первый элемент прижат к началу контейнера, последний — к концу, а остальные расставлены между ними с одинаковыми промежутками

  justify-content: space-around;
  // всё пустое пространство делится на равные промежутки. Каждый флекс-элемент получает отступы по обе стороны, равные этому промежутку. Так между флекс-элементами оказывается отступ в 2 промежутка, а перед первым и после последнего элементов — в 1 промежуток

  justify-content: space-evenly;
  // все отступы равной величины. И между элементами, и между границами контейнера и первым и последним элементами
}

//# align-content (Расположение элементов при переносе, т.е. при наличии несколько осей)
.flex-container {
  align-content: flex-start;
  // блоки выстраиваются от начала поперечной оси флекс-контейнера (по умолчанию)

  align-content: flex-end;
  // блоки прижимаются к концу поперечной оси — к низу блока

  align-content: center;
  // заставляет элементы выравниваться относительно центра поперечной оси

  align-content: space-around;
  // всё свободное пространство делится на равные промежутки. Они добавятся флекс-элементам сверху и снизу.

  align-content: space-between;
  // прижимает крайние элементы к границам флекс-контейнера и старается разместить элементы так, чтобы между ними были равные отступы

  align-content: stretch;
  // растягивает элементы так, чтобы они занимали всю поперечную ось флекс-контейнера
}


