//# начальное значение initial
/*
- У каждого из свойств в CSS есть значение по умолчанию. Оно применяется ещё до того, как вы написали что-либо в вашем файле стилей.
- Ключевое слово initial указывает браузеру использовать значение по умолчанию данного свойства CSS.
*/

//# пример
.element {
  font-style: initial;  // normal
  line-height: initial; // normal
  display: initial;     // inline
  color: initial;       // black
}
