//# @KEYFRAMES (КЛЮЧЕВЫЕ КАДРЫ АНИМАЦИИ)
// Директива @keyframes используется для создания ключевых кадров CSS-анимаций.
// https://tools.webdevpuneet.com/css-animation-generator/

//# ПРИМЕР
//* keyframes простой из 2-х кадров (Браузер расшифровывает ключевое слово from как 0%, а ключевое слово to как 100%.)
@keyframes circle-to-square {
  from {
    border-radius: 50%;
    background-color: red;
  }
  to {
    border-radius: 0;
    background-color: blue;
  }
}

//* keyframes из 3 кадров
@keyframes move {
  from {
    left: 0;
    top: 0;
  }
  50% {
    left: 60px;
    top: 0;
  }
  to {
    left: 120px;
    top: 0;
  }
}

//* простая анимация от исходного значения к конечному
@keyframes circle-to-square {
  to {
    border-radius: 0;
    background-color: blue;
  }
}
