//# @font-face
/*
- Встроенных в операционные системы шрифтов часто не хватает для создания уникального дизайна сайта. Для подключения нестандартных шрифтов существует директива @font-face. С её помощью можно подключить и использовать на странице любой шрифт из файла.
- При загрузке сайта браузер будет брать шрифт из указанного файла и отображать текст именно этим шрифтом.
- Директива @font-face по своей «анатомии» отличается от стандартных CSS-правил, где есть селектор и применяемые к нему правила. Основное отличие в том, что на месте селектора мы активируем функцию, адресованную браузеру.

Внутри этого правила должно быть два обязательных свойства:
1. Название шрифта, которое мы будем использовать ниже в CSS: свойство font-family. Название может отличаться от настоящего названия этого шрифта.
2. Ссылки на файлы, из которых браузер может взять шрифт: свойство src.

- Тут важно указать ссылки на файлы в нескольких форматах, чтобы любой браузер — старый или новый — мог загрузить шрифт в понятном ему формате. Принято хранить и подключать шрифты в форматах WOFF, WOFF2, SVG.
- Подключение из внешних файлов происходит при помощи конструкции url("ссылка-на-файл"). Несколько файлов можно подключить, перечислив эти конструкции несколько раз через запятую.
- Если указаны ссылки на несколько файлов в разных форматах, то после url() оставляют браузеру подсказку в виде записи format("формат-подключаемого-файла").
- Поскольку пользователь имеет возможность устанавливать в свою систему любые нестандартные шрифты, то есть вероятность, что нужный нам шрифт уже есть на его компьютере. Если это так, то браузеру будет удобнее и быстрее взять шрифт из системы, чем читать файл.
- Для этого в качестве одного или нескольких значений у свойства src можно указать конструкцию local("имя-шрифта-в-системе"). Нужно указывать локальные названия до ссылок на внешние файлы, чтобы браузер, найдя шрифт в системе под таким именем, даже не пошёл загружать и читать внешние файлы.
- Важно, чтобы файлы со шрифтами лежали на том же домене, что и сайт, на котором они используются. Если вы захотите обратиться к шрифтам из другого домена, то подобный запрос будет заблокирован по правилам безопасности запросов с разными источниками (CORS).
- @font-face нужно объявлять до того, как вы обратитесь в CSS к этому шрифту. Принято подключать шрифты в самом начале файла стилей (но после всех @import).
- @font-face нельзя объявить внутри другого CSS-правила.
- Важно использовать в точности то название подключённого шрифта, которое вы задаёте внутри @font-face. Иначе магия не сработает.
*/

@font-face {
  font-family: 'Lexend Peta';
  src: local('Lexend Peta Regular'),
    url('Lexend_Peta-webfont.woff2') format('woff2'),
    url('Lexend_Peta-webfont.woff') format('woff'),
    url('Lexend_Peta-webfont.svg') format('svg'),
    url('Lexend_Peta-webfont.ttf') format('truetype'),
    url('Lexend_Peta-webfont.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lexend Peta', sans-serif;
}
