//# align-items (Выравнивание внутри грид ячеек по оси Y)
/*
- Свойство, с помощью которого можно выровнять элементы по вертикальной оси внутри грид-контейнера.
- Можно также управлять выравниванием отдельных грид-элементов при помощи свойства align-self.
*/

//# значения
.container {
  align-items: start;   // выравнивает элемент по начальной (верхней) линии
  align-items: end;     // выравнивает элемент по конечной (нижней) линии
  align-items: center;  // выравнивает элемент по центру грид-ячейки
  align-items: stretch; // растягивает элемент на всю высоту грид-ячейки
}
