//# justify-content (Выравнивание по оси flex-direction (X), требуется свободное пространство)
.flex-container {
  justify-content: flex-start;
  // сначала идут флекс-элементы, за ними — оставшееся пустое пространство (по умолчанию)

  justify-content: flex-end;
  // сначала идёт пустое пространство, а к концу контейнера прижаты элементы

  justify-content: center;
  // флекс-элементы собраны посередине, а пустое пространство распределено поровну с двух сторон от них

  justify-content: space-between;
  // первый элемент прижат к началу контейнера, последний — к концу, а остальные расставлены между ними с одинаковыми промежутками
  //* запасное выравнивание - flex-start (Если один элемент)

  justify-content: space-around;
  // всё пустое пространство делится на равные промежутки. Каждый флекс-элемент получает отступы по обе стороны, равные этому промежутку. Так между флекс-элементами оказывается отступ в 2 промежутка, а перед первым и после последнего элементов — в 1 промежуток
  //* запасное выравнивание - center (Если один элемент)

  justify-content: space-evenly;
  // все отступы равной величины. И между элементами, и между границами контейнера и первым и последним элементами
}