//# align-items (Выравнивание поперек оси flex-direction (Y)
.flex-container {
  align-items: stretch;
  // элементы растянуты от одного края контейнера до другого (по умолчанию)

  align-items: flex-start;
  // по началу флекс-контейнера

  align-items: flex-end;
  // по концу флекс-контейнера

  align-items: center;
  // центральная ось контейнера делит каждый элемент пополам

  align-items: baseline;
  // базовые линии всех флекс-элементов становятся продолжением базовой линии первого по порядку
}