//# flex-grow (Распределение пространства, отведенного элементу (Родитель больше, чем пространство элементов)
.element {
  //* flex-element-1
  flex-grow: 1; // Первый элемент - получит столько же пространства, сколько и второй (по умолчанию)
  //* flex-element-2
  flex-grow: 1; // Второй элемент - получит столько же пространства, сколько и первый (по умолчанию)

  //* flex-element-1
  flex-grow: 3; // Первый элемент получит 3/4 пространства
  //* flex-element-2
  flex-grow: 1; // Второй элемент получит 1/4 пространства

  //* flex-element-1
  flex-grow: 0; // Первый элемент получит 0% пространства
  //* flex-element-2
  flex-grow: 1; // Второй элемент получит 100% пространства
}
