//# before (Псевдоэлемент "ДО")
// Когда мы в CSS добавляем ::before к селектору, для соответствующего элемента создаётся псевдоэлемент. Этот псевдоэлемент — его самый первый потомок, он идёт до внутреннего содержимого.

//# пример
//* добавление иконки перед важным текстом
.warning::before {
  content: "⚠";
  margin-right: 0.5em;
}

//* свойство content
.element::before {
  font-size: 14px;
  content: "Зима";
}

//* стилизация нестандартных маркеров списка
li::before {
  content: "💜";
  margin-right: 5px;
}

//* пустое свойство content
li {
  position: relative;
  padding-left: 25px;
}
li::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #2e9aff;
  position: absolute;
  left: 0;
  top: 5px;
}

//# общая информация
/*
В CSS 3 версии ввели написание с двумя двоеточиями, чтобы отличать запись псевдоэлемента от псевдокласса. Но синтаксис с одним двоеточием также поддерживается современными браузерами.
- Чаще всего псевдоэлемент используется для оформительских целей, либо позволяя добавить дополнительное содержимое перед текстом, либо выступая в роли дополнительного стилизованного блока.
- По умолчанию псевдоэлемент ::before является строчным.
- Самый простой пример использования ::before — добавление иконки перед важным текстом.
- Не забывайте прописывать свойство content для псевдоэлемента ::before. Это самая частая ошибка, из-за которой псевдоэлемент не появляется на странице.
- Псевдоэлемент ведёт себя ровно так же, как любой другой элемент в разметке, подчиняется тем же свойствам и законам. Просто его нет в HTML.*/
