// Гриды — там, где нужна чёткая структура. Например, чтобы создать общую сетку страницы.
// Флексбоксы — для мест, где нужно выравнивание в строке или колонке. Например, расположить иконки соцсетей в ряд с равными расстояниями между ними.
// распределение элементов происходит слева направо и сверху вниз
// По умолчанию неявные ячейки имеют значение auto. Если у них не будет явной ширины, то они схлопнутся.
// При значении auto размер грид-полос подстраивается под размер грид-элементов так, чтобы уместился самый большой из них.
// Другие элементы поделят между собой оставшееся пространство.
// Чтобы каждый раз не считать линии, им можно давать имена.
// Цифровые названия линий останутся доступными.
// Имена линиям указывают в квадратных скобках на этапе создания строк и столбцов
// Словом span указывают, какое количество строк или столбцов должен занимать элемент до или после какой-то линии

.grid-container {
  display: grid; // По умолчанию состоит из одного столбца и одной строки, которые занимают весь его размер
  display: inline-grid; // Элементы занимают лишь то пространство, которое необходимо для контента внутри


  // грид-область обязательно должна быть прямоугольником
  grid-template-areas:
    "header header header"
    "news news aside"
    "promo promo aside"
    ". footer footer"; // Если какую-то область нужно оставить пустой, вместо имени ставится точка или несколько точек
}

.grid-element {
  grid-column-start: 1; // Расположение элемента по горизонтали с 1 грид-линии до 3 грид-линии
  grid-column-end: 3;
  grid-row-start: 1; // Расположение элемента по вертикали с 1 грид-линии до 3 грид-линии
  grid-row-end: 3;

  grid-column: 1/3; // сокращенная запись
  grid-row: 1/3; // сокращенная запись
  grid-column: 1; // сокращенная запись grid-column: 1/auto;
  grid-row: 1; // сокращенная запись grid-row: 1/auto;
  grid-row: aside-start / 4; // название строки/4 грид-линия

  grid-column-start: 2; /* начинается со 2-й линии */
  grid-column-end: span 2; /* растянется на два столбца */
  grid-row-start: span 2; /* растянется на две строки */
  grid-row-end: 3 /* вплоть до 3-й линии */;

  grid-area: header; // использование грид-области
}
