//# flex-direction (Направление потока)
/*
- Свойство управляет направлением основной оси (justify) внутри флекс-контейнера.
- Поскольку поперечная ось (align) всегда идёт перпендикулярно основной оси, то при помощи этого свойства мы управляем и её поведением тоже.
- Как только зададите display: flex для родителя, его дети выстроятся в ряд. Не пишите дополнительно свойство flex-direction, если не требуется менять это поведение.
- Помните, что блочные элементы по умолчанию выстраиваются друг под другом, каждый в новом ряду. Если вы написали display: flex, а потом flex-direction: column, и при этом никаких других возможностей флексбоксов не используете, то убедитесь, точно ли вам тут нужен флекс-контейнер?
*/

//# значения
.container {
  flex-direction: row;            // justify по горизонтали слева направо (по умолчанию)
  flex-direction: row-reverse;    // justify по горизонтали справа налево
  flex-direction: column;         // justify по вертикали сверху вниз
  flex-direction: column-reverse; // justify по вертикали снизу вверх
}
