//# flex-wrap (Перенос элементов при переполнении)
/*
- Позволяем флекс-элементам переноситься на новые строки.
- Флекс-элементы по умолчанию стараются уместиться в один ряд, даже если размер им не позволяет.
- Чтобы изменить это поведение, свойству flex-wrap нужно задать значение, отличное от nowrap.
- Если вы позволяете элементам переноситься на новый ряд, изменив значение свойства flex-wrap, то для каждой строки будут созданы дополнительные основные оси. Каждый ряд будет вести себя как отдельный флекс-контейнер, но с общим управлением.
*/

//# значения
.element {
  flex-wrap: nowrap;
  // запрет переноса (по умолчанию)
  // 1 2 3 4 5

  flex-wrap: wrap;
  // флекс-элементы будут иметь возможность перенестись в новый ряд, если не влезают в одну линию в рамках родителя
  // 1 2 3
  // 4 5

  flex-wrap: wrap-reverse;
  // элементы будут располагаться снизу вверх, заполнив собой сперва нижний ряд, а те, что не влезли, перепрыгнут в ряд выше
  // 4 5
  // 1 2 3
}
