//# justify-content (Выравнивание - основная ось)
/*
- Свойство выравнивает флекс-элементы внутри флекс-контейнера по основной оси.
- При расположении флекс-элементов в ряд свойство управляет выравниванием по горизонтали. При расположении в колонку — выравниванием по вертикали.
*/

//# значения
.container {
  justify-content: flex-start;
  // элементы прижимаются к краю, от которого начинается основная ось (по умолчанию)
  justify-content: flex-end;
  // элементы прижимаются к краю, у которого основная ось заканчивается

  justify-content: start;
  // элементы прижимаются к тому краю, откуда начинается чтение на том языке, на котором отображается сайт
  justify-content: end;
  // элементы прижимаются к краю, противоположному началу направления чтения на языке сайта

  justify-content: left;
  // элементы прижмутся к левому краю родителя
  justify-content: right;
  // элементы прижмутся к правому краю родителя
  justify-content: center;
  // элементы выстраиваются по центру родителя

  justify-content: space-between;
  // крайние элементы прижимаются к краям родителя, оставшиеся выстраиваются внутри контейнера равномерно, так, чтобы между ними были одинаковые отступы
  justify-content: space-around;
  // свободное пространство делится поровну между элементами и по половине от этой доли размещается по бокам от каждого элемента. Таким образом, между соседними элементами будет равное расстояние, а снаружи крайних элементов — по половине этого расстояния
  justify-content: space-evenly;
  // свободное место будет распределено так, чтобы расстояние между любыми двумя элементами было одинаковым и расстояние от крайних элементов до края было таким же
}
