//# align-content (Расположение строк по поперечной оси)
/*
- Как justify-content, но управляет целыми строками, а не отдельными флекс-элементами.
- Свойство распределяет свободное пространство по поперечной оси между строками флекс-элементов.
- Работает практически как свойство justify-content, но управляет строками по поперечной оси.
- Не имеет видимого значения, если элементы располагаются в одну строку.
- Свойство срабатывает, только если во флекс-контейнере больше одной строки элементов. А значит без flex-wrap: wrap работать не будет.
- Видимый эффект будет только если высота родителя больше чем суммарная высота всех элементов во всех рядах.
*/

//# значения
.container {
  align-content: stretch;
  // Строки растягиваются одинаково так, чтобы занять всё доступное пространство родителя (по умолчанию)

  align-content: flex-start;
  align-content: start;
  // Все строки располагаются у начала поперечной оси. Второе значение учитывает направление чтения выбранного языка.

  align-content: flex-end;
  align-content: end;
  // Все строки располагаются у конца поперечной оси. Второе значение учитывает направление чтения выбранного языка.

  align-content: center;
  // Строки выравниваются по центру родителя

  align-content: space-between;
  // Первая строка прижимается к началу поперечной оси, последняя — к концу поперечной оси, а остальные располагаются так, чтобы свободное пространство было поделено на отступы между ними равномерно.

  align-content: space-around;
  // Отступы у каждой строки равнозначны отступам у любой другой строки.

  align-content: space-evenly;
  // Отступы между строками и от краёв родителя одинаковые.
}
