//# 06. align-self (Выравнивание - поперечная ось)
/*
- Свойство для выравнивания элемента внутри контейнера по поперечной оси.
- При помощи этого свойства можно выровнять элемент по вертикальной оси иначе, чем задано у родительского элемента.
*/

//# значения
.element {
  align-self: stretch;
  // Элемент растягивается вдоль поперечной оси так, чтобы заполнить всего родителя (по умолчанию)

  align-self: flex-start;
  align-self: start;
  // Элемент выстраивается у начала поперечной оси. Второе значение учитывает направление чтения выбранного языка.

  align-self: flex-end;
  align-self: end;
  // Элемент выстраивается у конца поперечной оси. Второе значение учитывает направление чтения выбранного языка.

  align-self: center;
  // элемент выстраивается по центру поперечной оси

  align-self: baseline;
  // элемент выравнивается по базовой линии текста. «Базовая линия» — baseline — воображаемая линия, проходящая по нижнему краю знаков шрифта (без учёта выносных элементов).
}
