//# gap (Отступы между элементами, шорткат)
/*
row-gap (первое значение)
column-gap (первое значение)

- Работает как с гридами, так и с флексбоксами.
*/

//# пример
.element {
  //* 1 значение (row-gap, column-gap)
  gap: 20px;

  //* 2 значения (row-gap, column-gap)
  gap: 10px 10px;
}

//# column-gap
.element {
  column-gap: 20px;
}

//# row-gap
.element {
  row-gap: 20px;
}
