//# flex-shrink (Родитель меньше, чем элементы, свободного места нет) (shrink: "сжатие")
/*
- Если в контейнере не хватает места для расположения всех элементов без изменения размеров, то свойство flex-shrink указывает, в каких пропорциях элемент будет уменьшаться.
- Свойство flex-shrink полностью противоположно свойству flex-grow.
- Чем больше значение у этого свойства, тем быстрее элемент будет сжиматься по сравнению с соседями, имеющими меньшее значение.
- Значение по умолчанию — 1. Значением может быть любое целое положительное число (включая 0).
- Свойство работает с пропорциональным разделением пространства, не с конкретными размерами элементов.
- Чаще всего в работе используется flex-shrink: 0. Это нужно чтобы элементы не сжимались, игнорируя заданные размеры.
- Flex контейнер распределяет свободное место своим элементам, пропорционально их flex-grow фактору, чтобы заполнить контейнеры или урезать их, пропорционально их flex-shrink фактору, для того того, чтобы пресечь переполнение контейнера.
*/

//# значения
.element {
  flex-shrink: 1; // (по умолчанию)

  //* элементы равного размера, каждый урежется на -1/2 места
  flex-shrink: 1;
  flex-shrink: 1;

  //* первый элемент урежется на -1/4 места, второй элемент урежется на -3/4 места
  flex-shrink: 1;
  flex-shrink: 3;
}
