//# flex-shrink (Родитель меньше, чем элементы, свободного места нет) (shrink: "сжатие")
/*
- Если в контейнере не хватает места для расположения всех элементов без изменения размеров, то свойство flex-shrink указывает, в каких пропорциях элемент будет уменьшаться.
- Свойство flex-shrink полностью противоположно свойству flex-grow.
- Чем больше значение у этого свойства, тем быстрее элемент будет сжиматься по сравнению с соседями, имеющими меньшее значение.
- Значение по умолчанию — 1. Значением может быть любое целое положительное число (включая 0).
- Свойство работает с пропорциональным разделением пространства, не с конкретными размерами элементов.
*/

//# значения
.element {
  flex-shrink: 1; // (по умолчанию)

  //* элементы равного размера и урежутся одинаково
  flex-shrink: 1;
  flex-shrink: 1;

  //* первый элемент урежется на 1/4 места, второй элемент урежется на 3/4 места
  flex-shrink: 1;
  flex-shrink: 3;
}
