//# align-content (СТРОКИ ПОПЕРЕЧНАЯ ОСЬ)
/*
- Свойство распределяет свободное пространство по поперечной оси между строками флекс-элементов.
- Работает практически как свойство justify-content, но управляет целыми строками по поперечной оси, а не отдельными флекс-элементами.
- Не имеет видимого значения, если элементы располагаются в одну строку.
- Свойство срабатывает, только если во флекс-контейнере больше одной строки элементов. А значит без flex-wrap: wrap работать не будет.
- Видимый эффект будет только если высота родителя больше чем суммарная высота всех элементов во всех рядах.
*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

//# Значения
//* align-content: stretch (по умолчанию)
// Cтроки растягиваются одинаково так, чтобы занять всё доступное пространство родителя.

//* align-content: flex-start || start
// Все строки располагаются у начала поперечной оси. Первое значение не зависит от режима чтения текущего языка в то время как второе значение смотрит на него.

//* align-content: flex-end || end
// Все строки располагаются у конца поперечной оси. end смотрит на режим чтения текущего языка.

//* align-content: center
// Cтроки выравниваются по центру родителя.

//* align-content: space-between
// Первая строка прижимается к началу поперечной оси, последняя — к концу поперечной оси, а остальные располагаются так, чтобы свободное пространство было поделено на отступы между ними равномерно.

//* align-content: space-around
// Отступы у каждой строки равнозначны отступам у любой другой строки.

//* align-content: space-evenly
// Отступы между строками и от краёв родителя одинаковые.
