//# grid-template-areas
/*
- Позволяет задать шаблон сетки расположения элементов внутри грид-контейнера. Имена областей задаются при помощи свойства grid-area. Текущее свойство grid-template-areas просто указывает, где должны располагаться эти грид-области.
*/

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'news news .'
    'promo promo aside'
    '. footer footer';
}

.grid-element {
  grid-area: header;
}

//# Значения
/*
- Обратите внимание, что нужно называть каждую из ячеек. Например, если шапка или подвал нашего сайта будут занимать все три существующие колонки, то нужно будет трижды написать названия этих областей. Удобнее всего будет подписывать области в виде некой таблицы. Подобный способ записи чем-то похож на таблицы в Markdown.
- Между строками не ставятся запятые или какие-то другие символы, имена разделяются пробелами.
- Имена областей должны разделяться пробелами. Это важно, особенно в том случае, если вы хотите расположить две пустых ячейки рядом. Разделите точки пробелами, иначе браузер подумает, что это одна пустая ячейка.
*/

//* grid-template-areas: none (по умолчанию)
// Области сетки не задано имя.

//* grid-template-areas: . || ...
// Означает пустую ячейку.

//* grid-template-areas: 'name'
// Название области, может быть абсолютно любым словом или даже эмодзи.
