// cоздание миксина
@mixin desktop {
	@media screen and (max-width: $desktop) {
		@content;
	}
}

// создание миксина c параметрами
@mixin flex ($align, $justify) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

// создание миксина c параметрами (и значением по умолчанию)
@mixin flex ($align: center, $justify: center) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

// подключение миксина
.block {
	background-color: red;
	@include desktop {
		background-color: green;
	}
}

// подключение миксина передача конкретного параметра
.block {
	background-color: red;
  @include flex($justify: center);
}

