//# transition-delay
/*
- Если нужно плавно изменить какое-то CSS-свойство, но запустить изменение не сразу, а с задержкой, то используем transition-delay.

*/

.element {
  transition-delay: 1s;
}

//# Значения





//# transition-delay
// задержка перед началом изменения (одно или несколько значений времени в секундах или миллисекундах)
.element {
  transition-delay: 1s; // время в секундах
  transition-delay: 120ms; // время в миллисекундах
  transition-delay: 0.1s, 15s; // несколько времён в секундах
  transition-delay: 10s, 30s, 230ms; // несколько времён в секундах и миллисекундах
}
