//# :hover
/*
- Этот псевдокласс позволяет выбрать элемент, когда на него наведён курсор мыши и кнопка мыши не нажата.
- :hover можно очень круто анимировать, добавив в блок кода свойство transition.
- На наведения курсора может реагировать абсолютно любой элемент, необязательно ссылка или кнопка.

*/

//# Пример
.link {
  color: #000;
  text-decoration: none;
}

.link:hover {
  color: pink;
  text-decoration: underline;
}
