//# :nth-child()
/* С помощью псевдокласса nth-child можно выбирать теги по порядковому номеру, не используя классы. Синтаксис псевдокласса: селектор:nth-child(выражение). Выражением может быть число или формула.

Псевдокласс li:nth-child(2), означачает выбрать элемент, если:
1. Этот элемент — li;
2. Это второй элемент одного родителя.

Псевдокласс li:nth-of-type(2), означачает выбрать элемент, если:
1. Это второй li одного родителя.
*/

//# Пример
/*
<ul>
  <li>Элемент</li>
  <li>Элемент</li>
  <li>Элемент</li>
</ul>
*/

li:nth-child(1) {
  margin: 0;
}

li:nth-child(2n) {
  margin: 0;
}

li:nth-child(2n + 1) {
  margin: 0;
}

li:nth-child(2n - 1) {
  margin: 0;
}

//# Значения
//* :nth-child(1)
// Выберет первый элемент.

//* :nth-child(an) || :nth-child(an + b)
/* В общем виде значение этого псевдокласса задаётся с помощью выражения: an+b, где a и b — целые числа, а n — счетчик, принимающий целые значения от 0 и больше: 0,1,2,3…
1. n=0; 2*0 = 0; нет элементов
2. n=1; 2*1 = 2; 2-й элемент
3. n=2; 2*2 = 4; 4-й элемент
*/

//* :nth-child(even)
// Выберет все чётные элементы.

//* :nth-child(odd)
// Выберет все нечётные элементы.
