// flex-row универсальный класс с единственным свойством. Назначают всем элементам, которым это свойство нужно
.flex-row {
  display: flex;
}

.flex-container {
  margin: auto; // Выравнивание по центру:

  //* ПОРЯДОК ЭЛЕМЕНТОВ
  flex-direction: row; // ПО УМОЛЧАНИЮ обычный ряд, элементы следуют в потоке, слева направо
  flex-direction: row-reverse; // ряд в обратном порядке
  flex-direction: column; // колонка в обычном порядке
  flex-direction: column-reverse; // колонка в обратном порядке.

  //* УПРАВЛЕНИЕ ПУСТЫМ ПРОСТРАНСТВОМ (row по горизонтали)
  // Регулировка вдоль строки либо колонки (row - ось x, column - ось y)
  justify-content: flex-start; // сначала идут флекс-элементы, за ними — оставшееся пустое пространство
  justify-content: flex-end; // сначала идёт пустое пространство, а к концу контейнера прижаты элементы
  justify-content: center; // флекс-элементы собраны посередине, а пустое пространство распределено поровну с двух сторон от них
  justify-content: space-between; // первый элемент прижат к началу контейнера, последний — к концу, а остальные расставлены между ними с одинаковыми промежутками
  justify-content: space-around; // всё пустое пространство делится на равные промежутки. Каждый флекс-элемент получает отступы по обе стороны, равные этому промежутку. Так между флекс-элементами оказывается отступ в 2 промежутка, а перед первым и после последнего элементов — в 1 промежуток
  justify-content: space-evenly; // все отступы равной величины. И между элементами, и между границами контейнера и первым и последним элементами

  //* ВЫРАВНИВАНИЕ ЭЛЕМЕНТОВ (row по вертикали)
  align-items: stretch; // ПО УМОЛЧАНИЮ элементы растянуты от одного края контейнера до другого
  align-items: flex-start; // по началу флекс-контейнера
  align-items: flex-end; // по концу флекс-контейнера
  align-items: center; // центральная ось контейнера делит каждый элемент пополам
  align-items: baseline; // базовые линии всех флекс-элементов становятся продолжением базовой линии первого по порядку

  //* ПЕРЕНОС ЭЛЕМЕНТОВ ПРИ СЖАТИИ ОКНА БРАУЗЕРА
  flex-wrap: nowrap; // ПО УМОЛЧАНИЮ запрет переноса
  flex-wrap: wrap; // последние элементы заворачиваются (переходят) на новую строчку, если не умещаются на текущей
  flex-wrap: wrap-reverse; // переносятся не последние, а первые элементы строки/колонки.
}

.flex-element {
}
