.parent-block {
  //* поведение родительского блока при переполнении можно определить свойством overflow (англ. overflow, «переполнение»)
  overflow: visible; // по умолчанию
  overflow: auto; // скрывать зоны, которые выходят за границы блока, но показывать скролл
  overflow: scroll; // всегда показывать скролл, если его не прячет браузер
  overflow: hidden; // скрыть не поместившуюся часть целиком без скролла

  //* подтипы с теми же значениями
  overflow-x: auto;
  overflow-y: auto;
  // добавив одному из свойств значение, отличное от visible, оно перестает работать у другого
}
