/*
-webkit-  для браузеров на основе движка WebKit https://ru.wikipedia.org/wiki/WebKit
-moz-     FireFox
-o-       Opera
-ms-      для браузеров компании Microsoft
*/

/* Некроссбраузерные свойства принято писать с нужными префиксами, до объявления основного свойства: */
/* Если браузер не знает свойство с префиксом, он проигнорирует его и перейдёт к следующей записи. */
.my-class {
  -webkit-box-shadow: 1px 1px 1px blue;
  box-shadow: 1px 1px 1px blue;
}

/* префиксы не всегда пишут перед указанием свойства. Для flex это выглядит так: */
.my-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Проверить, какие префиксы нужны и как их писать */
/* https://autoprefixer.github.io/ru/ */