//* Выбор всех элементов сразу
* {
  font-size: 14px;
}

//* Выбор по тегу
h1 {
  font-size: 14px;
}

//* Выбор нескольких тегов
body,
h1 {
  font-size: 14px;
}

//* Селекторы вложенности (все p внутри div)
div p {
  font-size: 14px;
}
div .class-name {
  font-size: 14px;
}

//* Комбинированные селекторы (c несколькими классами/тегами)
a.class-name {
  font-size: 14px;
}
.my-button.my-button_large {
  font-size: 14px;
}

//* Вложенные селекторы (element-child, вложенный в element-parent)
.element-parent .element-child {
  font-size: 14px;
}

//* Селекторы по атрибутам (выберет только изображение с источником по адресу logo.png)
img[src='logo.png'] {
  font-size: 14px;
}

//* Стиль для тега <a>, вложенного на первом уровне в <div>
div > a {
  font-size: 14px;
}

//* По ID
#id-name {
  font-size: 14px;
}

//* Выбор по классу
.class-name {
  font-size: 14px;
}