//* Выбор всех элементов сразу
* {
  font-size: 14px;
}

//* Выбор по тегу
h1 {
  font-size: 14px;
}

//* Выбор нескольких тегов
body,
h1 {
  font-size: 14px;
}

//* Селекторы вложенности (все p внутри div)
div p {
  font-size: 14px;
}
div .class-name {
  font-size: 14px;
}

//* Комбинированные селекторы (c несколькими классами/тегами)
a.class-name {
  font-size: 14px;
}
.my-button.my-button_large {
  font-size: 14px;
}

//*стиль для третьего по счёту тега <a>, вложенного на первом уровне в <div>, если у этого <a> атрибут href заканчивается на '.pdf'
div > a[href$='.pdf']:nth-of-type(3) {
  font-size: 14px;
}

//* По ID
#id-name {
  font-size: 14px;
}

//* Выбор по классу
.class-name {
  font-size: 14px;
}