// todo БЛОЧНЫЕ ЭЛЕМЕНТЫ (занимают всю ширину своего родителя и располагаются на новой строке)
// Центрирование блочных элементов - margin: 0 auto;
// - div
// - section
// - header
// - h1–h6
// - p
// - footer

// todo СТРОЧНЫЕ ЭЛЕМЕНТЫ (занимают столько места, сколько в них контента, отступы зависят от размера шрифта, не реагируют на изменение ширины и высоты)
// обнуление отступов font-size: 0
// - a

// todo БЛОЧНО-СТРОЧНЫЕ ЭЛЕМЕНТЫ (ведут себя как строчные, но не игнорируют свойства width и height, выравниваются по последней строке текста внутри них)
// обнуление отступов - font-size: 0
// выравнивание по верхней строчки - vertical-align: top;
// - img (замещаемый элемент (внешний объект, чьё представление независимо от CSS)


// todo СТИЛИ
.selector-name {
  //* РАЗМЕРЫ
  width: 500px; // Элемент (ширина)
  height: 500px; // Элемент (высота)
  // Если задать элементу width/height: 50%, то он посмотрит на родителя, разделит пополам и применит к себе.
  // Ширина элемента body по умолчанию равна видимой ширине окна браузера.
  // Полная ширина окна равна 100vw, полная высота окна — 100vh.

  //* Отображение
  display: block; // Элемент-отображение (блочный)
  display: inline; // Элемент-отображение (строчный)
  display: inline-block; // Элемент-отображение (блочно-строчный)
  display: flex; // Элемент-отображение (флекс)
  display: grid; // Элемент-отображение (гриды)

  //* ФОН
  background-color: white; // Фон-цвет
  background-image: url(""); // Фон-изображение
  background-size: cover; // Фон-размер (сожмёт или растянет картинку так, чтобы занимала всю поверхность, сохранит пропорции)
  background-size: contain; // Фон-размер (сделает так, чтобы вся картинка уместилась, сохранит пропорции)
  background-size: 220px 400px; // Фон-размер (ширина высота)
  background-repeat: no-repeat; // Фон-повторение (отмена повтора)
  background-repeat: repeat-y; // Фон-повторение (только по вертикали)
  background-repeat: repeat-x; // Фон-повторение (только по горизонтали)
  background-position: center; // Фон-позиционирование (горизонталь - по цетру, вертикаль - по центру)
  background-position: right bottom; // Фон-позиционирование (горизонталь - к правому краю, вертикаль — к нижнему краю)
  background-position: 150px -50px; // Фон-позиционирование: смотрим на левый верхний угол блока
  // (горизонталь - сдвиг на 150px вправо, вертикаль — на 50px вверх)

  //* ШРИФТ
  color: black; // Шрифт (цвет)
  font-family: "William", serif; // Шрифт (семейство) // Шрифт (стандарт, Apple, Windows, default)
  font-family: "Helvetica", "Arial", sans-serif;
  font-family: inherit; // Шрифт (семейство наследуется от родителя)
  font-size: 24px; // Шрифт (размер)
  font-weight: normal; // Шрифт-начертание (нормальный)
  font-weight: bold; // Шрифт-начертание (жирное)
  font-weight: lighter; // Шрифт-начертание (тонкое)
  font-weight: 100; // Шрифт-начертание Thin (Hairline) / Тонкий (Волосяной)
  font-weight: 200; // Шрифт-начертание Extra Light (Ultra Light) / Дополнительный Светлый (Сверхсветлый)
  font-weight: 300; // Шрифт-начертание Light / Светлый
  font-weight: 400; // Шрифт-начертание Normal /	Нормальный
  font-weight: 500; // Шрифт-начертание Medium	/ Средний
  font-weight: 600; // Шрифт-начертание Semi Bold (Demi Bold) / Полужирный
  font-weight: 700; // Шрифт-начертание Bold	/ Жирный
  font-weight: 800; // Шрифт-начертание Extra Bold (Ultra Bold) / Дополнительный Жирный (Сверхжирный)
  font-weight: 900; // Шрифт-начертание Black (Heavy) / Черный (Густой)
  font-style: normal; // Шрифт-стиль (нормальный)
  font-style: italic; // Шрифт-стиль (курсив)
  font-style: oblique; // Шрифт-стиль (наклонный)
  text-align: left; // Элемент (расположение текста по левому краю)
  text-align: right; // Элемент (расположение текста по правому краю)
  text-align: center; // Элемент (расположение текста по центру)
  text-transform: uppercase; // Текст (заглавные буквы)
  text-transform: lowercase; // Текст (строчные буквы)
  text-decoration: underline; // Текст (подчеркнутый текст)
  text-decoration: none; // Текст (убирает подчёркивание)
  line-height: 18px; // Текст (высота строки)
  letter-spacing: 10px; // Текст (расстояние между символами в тексте)

  //* ПОВЕДЕНИЕ ГРАНИЦ И ВНУТРЕННИХ ОТСТУПОВ
  box-sizing: content-box; // (границы и внутренний отступ расширяют элемент) ПО УМОЛЧАНИЮ
  box-sizing: border-box; // (границы и внутренний отступ отрисуются внутрь)

  //* ГРАНИЦА
  border-width: 1px; // Граница (толщина)
  border-style: solid; // Граница (начертание - сплошная)
  border-style: dashed; // Граница (начертание - пунктирная)
  border-style: dotted; // Граница (начертание - точками)
  border-style: double; // Граница (начертание - двойная)
  border-color: #000; // Граница (цвет)
  border: 1px solid red; // Граница (толщина начертание цвет)
  border-radius: 1px; // Граница (скругление углов)

  //* ТЕНИ
  box-shadow: 1px 1px 1px blue;
  // - горизонтальный сдвиг (отрицательное значение помещает тень левее элемента, положительное — правее);
  // - вертикальный сдвиг (отрицательное значение помещает тень выше элемента, положительное — ниже);
  // - радиус размытия (чем значение больше, тем тень шире и бледней);
  // - цвет (задаётся так же, как цвет текста или фона).
  box-shadow: 0 0 1px blue;
  // - без сдвига, только размытие
  text-shadow: 1px 1px 1px blue;
  // - тоже самое для текста

  //* НАПРАВЛЕНИЕ ПОТОКА
  direction: ltr; // Поток (направление слева направо)
  direction: rtl; // Поток (направление справа налево)
  direction: inherit; // Поток (наследует значение родителя)

  //* ВНЕШНИЕ ОТСТУПЫ
  margin: auto;
  // - block, inline, inline-block (цетрирование по горизонтали)
  // - flex (цетрирование по горизонтали и по вертикали)
  margin: 20px; // Внешние отступы (с 4 сторон)
  margin: 20px 20px; // Внешние отступы (верх и низ, по бокам)
  margin: 20px 20px 20px; // Внешние отступы (верх, по бокам, низ)
  margin: 20px 20px 20px 20px; // Внешние отступы (по часовой: верх, справа, низ, слева)
  margin-top: 20px; // Внешний отступ (сверху)
  margin-left: 20px; // Внешний отступ (слева)
  margin-right: 20px; // Внешний отступ (справа)
  margin-bottom: 20px; // Внешний отступ (снизу)

  //* ВНУТРЕННИЕ ОТСТУПЫ
  padding: 20px; // Внутренние отступы (с 4 сторон)
  padding: 20px 20px; // Внутренние отступы (верх и низ, по бокам)
  padding: 20px 20px 20px; // Внутренние отступы (верх, по бокам, низ)
  padding: 20px 20px 20px 20px; // Внутренние отступы (по часовой: верх, справа, низ, слева)
  padding-top: 20px; // Внутренний отступ (сверху)
  padding-left: 20px; // Внутренний отступ (слева)
  padding-right: 20px; // Внутренний отступ (справа)
  padding-bottom: 20px; // Внутренний отступ (снизу)
}
