// Выбор по тегу (не рекомендуется)
h1 {
  color: black;
}

// выбор по классу
.selector-name {
  width: 500px;                  // Блок (ширина)
  height: 500px;                 // Блок (высота)
  text-align: center;            // Блок (расположение текста по центру)
  background-color: white;     // Блок-цвет фона
  border: 1px solid white;     // Блок-граница (толщина/тип - сплошная/цвет)
  border: 1px dashed white;    // Блок-граница (толщина/тип - пунктирная/цвет)
  border-radius: 1px;            // Блок-граница (скругление углов)
  box-shadow: 1px 1px 1px blue; // Блок-тень: (влево- или вправо+ / вниз+ или вверх- / радиус размытия / цвет)

  color: black;                // Шрифт (цвет)
  text-transform: uppercase;     // Шрифт (заглавные буквы)
  font-family: 'William', serif; // Шрифт (семейство)
  font-style: italic;            // Шрифт (курсив)
  font-size: 24px;               // Шрифт (размер)
  font-weight: normal;           // Шрифт (жирность)
  line-height: 18px;             // Шрифт (междустрочный размер)

  direction: ltr;                // Поток (направление слева направо)
  direction: rtl;                // Поток (направление справа налево)
  direction: inherit;            // Поток (наследует значение родителя)

  margin: 20px; // Внешние отступы с 4 сторон
  margin-top: 20px; // Внешний отступ сверху
  margin-left: 20px; // Внешний отступ слева
  margin-right: 20px; // Внешний отступ справа
  margin-bottom: 20px; // Внешний отступ снизу

  padding: 20px; // Внутренние отступы с 4 сторон
  padding-top: 20px; // Внутренний отступ сверху
  padding-left: 20px; // Внутренний отступ слева
  padding-right: 20px; // Внутренний отступ справа
  padding-bottom: 20px; // Внутренний отступ снизу
}
