/* Выбор по тегу (не рекомендуется) */
h1 {}

/* выбор по классу */
.selector-name {
  /* Цвет фона */
  background-color: white;

  /* Цвет шрифта */
  color: black;

  /* заглавные буквы */
  text-transform: uppercase;

  /* курсив */
  font-style: italic;

  /* размер шрифта */
  font-size: 24px
}