*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #123e66;
  font-family: 'Roboto', sans-serif;
}

.button:focus {
  outline: none;
}

.button {
  padding: 15px 50px;
  border: none;
  border-radius: 25px;
  color: #c5e3ff;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 5px 5px 10px #020d18, inset -5px -5px 8px -4px #020d18, -5px -5px 10px #3185d5,
    inset 5px 5px 8px -4px #3185d5;
  font-family: inherit;
  font-size: 20px;
  font-weight: 300;
  user-select: none;
}

.button:active {
  box-shadow: 5px 5px 10px #020d18, inset -5px -5px 8px -4px #020d18, inset -6px -6px 8px 0 #3185d5,
    -5px -5px 10px #3185d5, inset 5px 5px 8px -4px #3185d5, inset 6px 6px 8px 0 #020d18;
  text-shadow: #c5e3ff 1px 0 10px;
}
