//# relative (Относительное позиционирование).scss
.class {
  position: relative;
  // смещается относительно самого себя, ранее занимавшее место остается в потоке

  top: 20px; // от верхней границы блока (приоритет)
  left: 10px; // от левой границы блока (приоритет)
  right: 40px; // от правой границы блока
  bottom: 10px; // от нижней границы блока
}