//# fixed (Фиксированное позиционирование)
.class {
  position: fixed;
  // вырывает элемент из потока, смещается относительно окна браузера

  top: 20px; // от верхней границы браузера (приоритет)
  left: 10px; // от левой границы браузера (приоритет)
  right: 40px; // от правой границы браузера
  bottom: 10px; // от нижней границы браузера
}