//# absolute (Абсолютное позиционирование)
.class {
  position: absolute;
  // вырывает элемент из потока, смещается относительно родителя с заданным позиционированием (кроме static),
  // ищет ближайщего родителя, если не найдет расположится относительно body

  top: 20px; // от верхней границы родителя (приоритет)
  left: 10px; // от левой границы родителя (приоритет)
  right: 40px; // от правой границы родителя
  bottom: 10px; // от нижней границы родителя
}

//# Как кросбраузерно скрыть элемент
.hide-element {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}