//# sticky (Липкое позиционирование)
.class {
  position: sticky;
  // Привязывается (прилипает) к родителю и не может выходить за его пределы
  // Но прокручивается вместе с браузером
  // смещается относительно родителя с заданным display (кроме block),
  // ищет ближайщего родителя, если не найдет расположится относительно body

  top: 20px; // от верхней границы родителя (приоритет)
  left: 10px; // от левой границы родителя (приоритет)
  right: 40px; // от правой границы родителя
  bottom: 10px; // от нижней границы родителя
}