//# box-shadow (Тень блока)
.class {
  box-shadow: 1px 2px inset blue;
  //! inset - превратит тень из внешней во внутреннюю
  //! можно создавать несколько теней (0 5px 10px gray, -5px -10px 20px pink)
  //! с помощью тени можно создать блок с несколькими рамками

  box-shadow: 1px 2px blue;
  //* смещение по оси x (отрицательное значение помещает тень левее элемента, положительное — правее)
  //* смещение по оси y (отрицательное значение помещает тень выше элемента, положительное — ниже)
  //* цвет (обязательное значение. Если вам нужен цвет тени, совпадающий с цветом текста элемента, то это можно указать явно при помощи ключевого слова currentColor)

  box-shadow: 1px 2px 3px blue;
  //* смещение по оси x (отрицательное значение помещает тень левее элемента, положительное — правее)
  //* смещение по оси y (отрицательное значение помещает тень выше элемента, положительное — ниже)
  //* радиус размытия (чем значение больше, тем тень шире и светлей)
  //* цвет (обязательное значение. Если вам нужен цвет тени, совпадающий с цветом текста элемента, то это можно указать явно при помощи ключевого слова currentColor)

  box-shadow: 1px 2px 3px 4px blue;
  //* смещение по оси x (отрицательное значение помещает тень левее элемента, положительное — правее)
  //* смещение по оси y (отрицательное значение помещает тень выше элемента, положительное — ниже)
  //* радиус размытия (чем значение больше, тем тень шире и светлей)
  //* радиус распространения (eсли указано отрицательное значение, то тень будет меньше, если положительное, то тень будет больше)
  //* цвет (обязательное значение. Если вам нужен цвет тени, совпадающий с цветом текста элемента, то это можно указать явно при помощи ключевого слова currentColor)

  box-shadow: 0 0 1px blue;
  //* - без сдвига, только размытие
}
