//# font-style
// Определяет начертание шрифта: обычное, курсивное или наклонное.

.element {
  font-style: normal;
}

//# значения
.element {
  font-style: normal;  // обычное начертание текста (по умолчанию)
  font-style: italic;  // курсивное начертание
  font-style: oblique; // наклонное начертание
}

//# общая информация
// Касаемо наклонного шрифта, который задаётся через font-style: oblique - он очень похож на курсив, но по сути, это его имитация, которую используют, если у выбранного шрифта нет курсивного написания. Нужно помнить, что oblique может выглядеть хуже по качеству, чем курсивный шрифт. Это особенно заметно при печати страницы.
