//# font-family (Семейство шрифта)
// С помощью font-family можно задать семейство шрифта, которым будет написан текст.

//# значения
.element {
  font-family: "Helvetica", "Arial", sans-serif; // Apple, Windows, default
  font-family: inherit;    // семейство наследуется от родителя
  font-family: serif;      // шрифт с засечками, например, «Times»
  font-family: sans-serif; // шрифт без засечек, например, «Arial»
  font-family: monospace;  // моноширинный шрифт (с одинаковой шириной каждого символа)
  font-family: cursive;    // курсивный шрифт или italic
  font-family: fantasy;    // декоративный шрифт
  font-family: system-ui;  // использует стандартный шрифт на устройстве пользователя
}

//# общая информация
/*
- Рекомендация использовать не больше трёх разных семейств шрифтов на одной странице.
- Например, один для заголовков, другой для обычного текста и третий для подписей.
- Не забывайте добавлять желаемый тип шрифта (serif, sans-serif или другой), так как нет гарантий, что нужный вам шрифт найдётся на компьютере пользователя.

- Всегда указывай несколько вариантов шрифтов в следующем порядке:
1) Кастомный шрифт
2) Стандартный системный шрифт
3) Семейство шрифтов

- Это нужно на случай, если кастомный шрифт по какой-то причине не загрузился на устройстве пользователя.
- Если не указывать альтернативу (фолбэк), то при незагрузке кастомного шрифта дизайн страницы скорее всего полностью сломается.
- Если указать альтернативный системный шрифт, максимально близкий к кастомному по внешнему виду, то дизайн останется прежним.
- Семейство шрифтов указывают на случай, если ни кастомный шрифт не загрузился, ни системный шрифт не нашёлся в системе (такое возможно, поскольку в разных ОС разный набор шрифтов). */
