//# line-height (Интервал между строчками)
/*
- Задаёт интервал между строчками текста, который называют интерлиньяж.
- С помощью line-height можно выбрать, насколько большое расстояние будет между строчками текста. Обычно это расстояние немного больше, чем высота шрифта.
- Лучше задавать интерлиньяж числом, чтобы, при увеличении размера шрифта, увеличивалось и расстояние между строчками.
- Задавать высоту строки в каких-то единицах измерения не самый лучший вариант, потому что тогда высота строки не подстраивается автоматически под размер шрифта и может выглядеть не так, как ожидается.
- Для обычного текста чаще всего используют полуторный интервал line-height: 1.5. С таким интервалом текст удобнее читать.
*/

//# значения
.element {
  line-height: normal; // cтандартный интервал (по умолчанию), отличается в разных браузерах, но, как правило, равно 1.2.
  line-height: 3.5;    // число без единиц измерения, множитель, расстояние будет в 3.5 раза больше, чем размер текста
  line-height: 3em;    // интервал будет в 3 раза больше интервала родительского элемента
  line-height: 34%;    // размер интервала высчитывается относительно размера шрифта
  line-height: 18px;   // интервал px
}
