//# :VISITED (ЕСЛИ ПОЛЬЗОВАТЕЛЬ ОТКРЫВАЛ ССЫЛКУ)
// Псевдокласс :visited добавляется ссылкам, по которым уже переходил пользователь.

//# ПРИМЕР
a {
  color: green;
}

a:visited {
  color: purple;
}

.link:visited::before {
  // Стили
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* Для предотвращения злодеяний браузеры приняли решение, что ограничат стили, которые будут срабатывать для псевдокласса :visited. Вот список доступных свойств: color, background-color, border-color, border-bottom-color, border-left-color, border-right-color,border-top-color, outline-color, column-rule-color, fill, stroke. Любые другие стили будут игнорироваться. Так что не удивляйтесь, если что-то из написанного вами кода не будет работать.
- Кроме того, браузер проигнорирует цвета с альфа-каналом (прозрачностью, проще говоря) и прозрачность opacity.
- Смену стилей между состояниями можно анимировать при помощи transition.
- Если дизайнер хочет применить для посещённой ссылки стили, которые не входят в перечень разрешённых — не стесняйтесь ему на это указать и пояснить, что его задумка технически не реализуема.*/
