//# focus-visible (Элемент в фокусе)
// Выделяем элементы в фокусе только тогда, когда это действительно необходимо.

//# пример
button:focus {
  outline: none;
}

.button:focus-visible {
  border: 2px solid #ffffff;
  outline: none;
}

//# общая информация
/* Зачем нужен этот :focus-visible, если есть :focus? Оба псевдокласса применяются, когда элемент в фокусе. Но отличие в том, что focus-visible используется только тогда, когда браузер считает, что наличие фокуса на элементе необходимо обозначить визуально.
- Например, людям при использовании мышки или тачпада не обязательно знать, что элемент в фокусе, но когда для навигации используется клавиатура, визуальное отображение фокуса просто необходимо.
- Важно помнить, что отсутствие фокуса — не очень хорошая практика с точки зрения доступности. Некоторых людей может запутать разное поведение фокуса при использовании мыши и клавиатуры.
- Если же элемент подразумевает использование клавиатуры (например, <input>), то неважно, что использовалось для навигации до него, :focus-visible применится в любом случае.
- Изменить стандартное поведение фокуса можно с помощью атрибутов contenteditable и tabindex.*/
