//# NOT (ОТСЕКАЕТ НЕ ПОДХОДЯЩИЕ ПОД УСЛОВИЕ)
// Суть работы этого парня — отсечь все элементы, не подходящие под условие

//# ПРИМЕР
//* выберем все пункты списка, кроме последнего
li:not(:last-child) {
  margin-bottom: 1em;
}

//* выберем все ссылки, по которым пользователь ещё не переходил
a:not(:visited) {
  font-size: 14px;
}

//* красим в красный все пункты списка, кроме последнего элемента и кроме тех, у которых есть класс .active
li:not(:last-child):not(.active) {
  color: red;
}

//* применим нужные стили только к тем инпутам, у которых нет атрибута hidden.
input:not([hidden="true"]) {
  color: red;
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* Берём любой селектор, ставим двоеточие и пишем ключевое слово not. После него ставим круглые скобки и внутри них указываем селектор, который должен быть исключён из выборки. Селектор в скобках может быть любым, главное чтобы он не включал псевдоэлементы. В скобках можно указать и несколько селекторов, перечисленных через запятую. В таком случае будут исключаться элементы подходящие под любой из перечисленных селекторов.
- Ещё можно выбирать внутри body любой элемент, не являющийся, например, абзацем: body :not(p). По аналогии можете выбирать любой элемент внутри определённого родителя, но не подходящий под условие.
- Слева от :not необязательно должен быть селектор. Можно написать :not(.hidden), и браузер выберет вообще все элементы на странице, кроме тех, у которых есть класс .hidden.
- Нельзя вкладывать один :not в другой.
- Можно выстраивать цепочки из :not. Тогда выборка будет уменьшаться по порядку исключая элементы, подходящие под условия.*/
