//# HAS (ВЫБИРАЕТ ПОДХОДЯЩИЕ ПОД УСЛОВИЕ)
// Проверяет, содержит ли родитель хотя бы один конкретный элемент или выполняется ли условие.
// Нужно проверить совместимость, не работает в firefox.

//# ПРИМЕР
//* применятся только к секциям, внутри которых есть заголовок второго уровня
section:has(h2) {
  font-size: 14px;
}

//* проверим есть ли у родителя card__image и установим стили только для него
.card:has(.card__image) {
  display: flex;
  align-items: center;
}