//# EMPTY (ПУСТОЙ ЭЛЕМЕНТ)
// Псевдокласс :empty используется для выбора пустых элементов. Пустыми считаются элементы без потомков, текста или псевдоэлементов внутри.

//# ПРИМЕР
.reactions {
  border: 1px solid blue;
  border-radius: 16px;
  padding: 5px;
  background-color: #123e66;
}
.with-empty:empty {
  display: none;
}

//# ОБЩАЯ ИНФОРМАЦИЯ
// В реальных проектах этот селектор сильно помогает, когда нет возможности управлять элементом, но точно знаешь, что иногда он может быть пустым. Использование псевдокласса :empty позволяет убрать лишние отступы или рамки, которые могут быть у пустого элемента.
