//# INDETERMINATE (ПРОМЕЖУТОЧНОЕ СОСТОЯНИЕ)
// Элементы, которые могут находиться в промежуточном состоянии.
input:indeterminate + span,
input:indeterminate + span::before,
.progress-bar:indeterminate {
  opacity: 0.45;
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* Элементы, которые могут находиться в промежуточном состоянии.
1) <input type="checkbox">, отображающий, что не все пункты вложенной группы были выделены.
2) Группа <input type="radio"> с одинаковым name, но у которой ни один элемент не установлен в checked.
3) <progress>.
- Для <input> состояние indeterminate в HTML можно задать только через JavaScript.