//# :IN RANGE && :OUT-IN-RANGE (ПРОВЕРЯЕТ MIN-MAX)
// Эти псевдоклассы используются для стилизации полей ввода, поддерживающих атрибуты min и max.

//# ПРИМЕР
.with-range {
  border: 1px solid black;
}

.with-range:in-range {
  border-color: green;
  background-color: rgb(0 255 0 / 20%);
}

.with-range:out-of-range {
  border-color: red;
  background-color: rgb(255 0 0 / 20%);
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* Применение:
1) :in-range для полей, в которых введённое значение попадает в диапазон от min до max
2) :out-of-range для полей, в которых введённое значение не попадает в диапазон от min до max
- Поля ввода с типами date, month, week, time, datetime-local, number и range могут иметь атрибуты min и max. Эти атрибуты задают диапазон допустимых значений, которые пользователь может вводить в поле. В зависимости от того, попадает ли введённое значение в диапазон, будут применяться стили для псевдоклассов :in-range и :out-of-range.
- Если в поле не введено никакого значения, то срабатывает псевдокласс :in-range.
- Если атрибуты min и max не заданы, то при пустом поле сработает :in-range, а при введённом значении ни один из псевдоклассов не сработает.
- Если нужно, чтобы при пустом поле не срабатывал :in-range, можно расширить селектор псевдоклассом :placeholder-shown.
- Псевдоклассы :in-range и :out-of-range можно использовать в более сложных селекторах, чтобы, например, показать ошибку ввода.*/
