//# :PLACEHOLDER-SHOWN (ЭЛЕМЕНТЫ С PLACEHOLDER)
// Псевдокласс :placeholder-shown выбирает на странице все <input> или <textarea>, у которых показывается подсказка (плейсхолдер).
// Нужно проверить совместимость.

//# ПРИМЕР
input {
  border: 1px solid black;
}

input:placeholder-shown {
  border-color: teal;
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* Если полю ввода задан атрибут placeholder с каким-то значением, то внутри поля будет показана текстовая подсказка. Она пропадёт, если пользователь введёт хотя бы один символ. По сути псевдокласс :placeholder-shown будет применять стили к пустым полям ввода.
- Псевдокласс :placeholder-shown — это не то же самое, что псевдоэлемент ::placeholder. Псевдокласс применит стили к самому полю ввода. А стили, применённые к псевдоэлементу ::placeholder, изменят внешний вид текста-подсказки, но никак не затронут само поле ввода.*/
