//# @media
/*
- Директива, которая позволяет задавать разные стили для разных параметров экрана — ширины, высоты, ориентации и даже типа устройства.
- При вёрстке адаптивных сайтов часто нужно, чтобы какой-то набор стилей применился только при соблюдении определённых условий. Например, текст должен стать зелёным только при горизонтальной ориентации смартфона. Или блок займёт всю ширину родителя, если ширина экрана больше или равна 1500 пикселям. Для подобных случаев и существуют медиавыражения. Они помогают адаптировать вёрстку под разные экраны и устройства и при этом не писать лишний код.
- Медиавыражения можно вкладывать в медиавыражения и другие директивы.
*/

//# Синтаксис
/*
@media [тип устройства] [характеристика устройства] {
  [CSS-правила]
}
*/

//# Пример
@media (hover: none) and (width < 1440px), (hover: hover) and (width < 1448px) {
  .block {
    display: flex;
  }
}

//# Операторы
//* and (если верны оба условия)
@media print and (min-width: 900px) {
  .block {
    display: flex;
  }
}

//* , (если верно любое из условий, первое или второе)
@media (orientation: landscape), (max-width: 960px) {
  .text {
    color: tomato;
  }
}

//# Значения [тип устройства]
// В большинстве случаев, когда вы пишете стили только для экрана, указывать типы screen или all не нужно. Реальное практическое использование есть только у типа print.

//* @media all (по умолчанию)
// Медиавыражение применится ко всем устройствам. Если не задать никакой тип, по умолчанию применится этот.

//* @media print
// Cтили внутри такого медиавыражения применятся при печати на принтерах или экспорте в PDF, в том числе в режиме предпросмотра документа.

//* @media screen
// Cтили для устройств с экранами.

//* @media speech
// Cтили для синтезаторов речи (пока не поддерживается ни одним браузером).

//# Значения [характеристика устройства] Характеристики страницы и окна браузера
//* @media (width > 900px)
// Ширина окна браузера.

//* @media (width: 900px)
// Ширина окна браузера.

//* @media (min-width: 900px)
// Минимальная ширина окна браузера.

//* @media (max-width: 900px)
// Максимальная ширина окна браузера.

//* @media (height: 900px)
// Высота окна браузера.

//* @media (min-height: 900px)
// Минимальная высота окна браузера.

//* @media (max-height: 900px)
// Максимальная высота окна браузера.

//* @media (aspect-ratio: 16/9)
// Соотношение между шириной и высотой окна.

//* @media (min-aspect-ratio: 16/9)
// Минимальное соотношение между шириной и высотой окна.

//* @media (max-aspect-ratio: 16/9)
// Максимальное соотношение между шириной и высотой окна.

//* @media (orientation: landscape)
/* Ориентация устройства:
- landscape (альбомная, горизонтальная)
- portrait (портретная, вертикальная)
*/

//* @media (overflow-block: scroll)
/* Проверка, как устройство вывода обрабатывает содержимое, которое выходит за пределы области просмотра по оси блока:
- none (cодержимое, выходящее за пределы оси блока, не отображается)
- scroll (cодержимое, выходящее за пределы оси блока, можно увидеть, прокрутив его)
- optional-paged (cодержимое, выходящее за пределы оси блока, можно увидеть, прокрутив его до него, но разрывы страниц можно активировать вручную (например break-inside, с помощью и т. д.), чтобы на следующей странице отображался следующий контент)
- paged (Содержимое разбито на отдельные страницы; контент, выходящий за пределы одной страницы по оси блока, отображается на следующей странице)
*/

//* @media (overflow-inline: scroll)
/* Проверка, можно ли прокручивать содержимое, выходящее за пределы области просмотра по встроенной оси:
- none (Содержимое, выходящее за пределы встроенной оси, не отображается)
- scroll (Содержимое, выходящее за пределы встроенной оси, можно увидеть, прокрутив до него)
*/

//# Значения [характеристика устройства] Качество отображения
//* @media (environment-blending: opaque)
/* Метод для определения внешнего окружения устройства, такого как тусклое или слишком яркое освещение:
- opaque (документ отображается на непрозрачном носителе, например на традиционном мониторе или бумаге. Черный — темный, а белый — на 100% светлый).
- additive (дисплей смешивает цвета холста с реальным миром с помощью аддитивного смешивания. Черный цвет полностью прозрачен, а белый на 100% светлый. Например: проекционный дисплей в автомобиле)
- subtractive (Дисплей смешивает цвета холста с реальным миром, используя субтрактивное смешивание. Белый цвет полностью прозрачен, а темные цвета наиболее контрастны. Например: ЖК-дисплей, встроенный в зеркало в ванной)
*/

//* @media (display-mode: browser)
/* Проверка режима браузера, используется в PWA:
- fullscreen (полноэкранный режим без интерфейса браузера)
- standalone (как нативное приложение)
- minimal-ui (минимальный интерфейс браузера)
- browser (обычное окно браузера)
*/

//* @media (grid: 0)
/* Проверка, является ли экран сеточным (как старые телефоны или текстовые терминалы):
- 0 (false)
- 1 (true)
*/

//* @media (resolution: 150dpi)
// Разрешение устройства в dpi или dpcm.

//* @media (min-resolution: 150dpi)
// Минимальное разрешение устройства в dpi или dpcm.

//* @media (max-resolution: 150dpi)
// Максимальное разрешение устройства в dpi или dpcm.

//* @media (scan: progressive)
/* Процесс сканирования устройства вывода:
- interlace (указывает, что устройство поочередно рисует нечетные и четные линии. Некоторые телевизоры используют чересстрочную развертку)
- progressive (указывает, что устройство рисует все линии последовательно. Все компьютерные экраны используют прогрессивную развертку)
*/

//* @media (update: slow) {
/* Скорость обновления экрана:
- none (не обновляется)
- slow (медленно)
- fast (быстро)
*/

//# Значения [характеристика устройства] Цвет
//# Значения [характеристика устройства] Взаимодействие
//# Значения [характеристика устройства] Характеристики с префиксом video-
//# Значения [характеристика устройства] Скрипты
//# Значения [характеристика устройства] Пользовательские настройки
//# Значения [характеристика устройства] Устаревшие
