//# background-image (Картинка, градиент)
/* Свойство background-image задаёт элементу фоновую картинку.
- Разные браузеры могут отображать фоновую картинку по-разному. Например, если вы задаёте фоновую картинку внутри таблицы для одной строки целиком, то Chrome и Safari продублируют эту картинку в каждой ячейке, тогда как остальные растянут картинку на всю строку.
- Если задаём фоновую картинку для блока со светлым текстом, то обязательно задаём и фоновый цвет, если при загрузке страницы картинка будет долго загружаться или вообще не загрузится, то светлый текст на белом будет совершенно не виден. */

//# значения
.element {
  background-image: none;                  // сбрасывает фоновую картинку (по умолчанию)
  background-image: url('адрес-картинки'); // адрес картинки, он пишется в кавычках внутри скобок
}

//# картинка плюс цвет
// Элементу желательно задать одновременно и цвет фона background-color, и фоновую картинку. Если картинка не загрузится, то вместо неё пользователь увидит фоновый цвет.
.element {
  background-image: url('background.png');
  background-color: #09ff00;
}

//# несколько фоновых картинок
// Фоновых картинок можно задать сколько угодно. Они будут накладываться друг на друга, причём сверху будет та, которая указана в списке первой. Если у картинки прозрачный фон, то под ней будет видна следующая. И так до бесконечности.
.element {
  background-image: url('confetti.png'), url('landscape.jpg');
  background-color: gray;
}

//# линейный градиент (меняются вдоль линии, задающей направление)
.element {
  //* в самом простом случае указывают два цвета — начальный и конечный (браузер сделает между ними плавный переход, по умолчанию браузер отрисовывает линейный градиент сверху вниз)
  background-image: linear-gradient(#0078ff, #c2e3e3);

  //* повернёт градиент на 90 градусов
  background-image: linear-gradient(90deg, #0078ff, #c2e3e3);

  //* для самых используемых направлений существуют специальные параметры, которыми можно заменять указатель в градусах
  background-image: linear-gradient(to top, #0078ff, #53f675);
  background-image: linear-gradient(to left, #0078ff, #53f675);
  background-image: linear-gradient(to right, #0078ff, #53f675);
  background-image: linear-gradient(to bottom, #0078ff, #53f675);

  //* для построения более сложных градиентов можно использовать более одного цвета
  background-image: linear-gradient(#0b2337, #126ddc, #76c2e0, #d1dc9d, #f09174);

  //* после указания каждого цвета можно задать интервал, в котором нужно применить цвет (первое значение - начальная точка указанного направления, второе - финальная точка указанного направления)
  background-image: linear-gradient(#0078ff 0px 100px, #b4deef 100px 200px, #ff5a0a 200px 300px);

  //* можно определять точки перелома в процентах или пикселях
  background-image: linear-gradient(#0078ff 20%, #c2e3e3 100%);
}

//# радиальный градиент (изменения цвета расходятся от заданного центра, а сам градиент может принимать форму круга или эллипса)
.element {
  //* самый простой радиальный градиент
  background-image: radial-gradient(#0078ff, #c2e3e3);

  //* по умолчанию центр градиента находится в середине блока (его можно сместить, задав позицию ключевым словом at (в такой-то точке), в примере поместим центр градиента на 40 пикселей правее левого края блока и на 50 пикселей ниже верхнего края.)
  background-image: radial-gradient(at 40px 50px, #0078ff, #c2e3e3);

  //* после указания каждого цвета можно задать интервал, в котором нужно применить цвет (первое значение - начальная точка указанного направления, второе - финальная точка указанного направления)
  background-image: radial-gradient(#0078ff 0px 100px, #b4deef 100px 200px, #ff5a0a 200px 300px);

  //* можно определять точки перелома в процентах или пикселях
  background-image: radial-gradient(#0078ff 20%, #c2e3e3 100%);

  //* можно задать ширину и высоту первыми параметрами в скобках, эллипс растянется или сожмётся
  background-image: radial-gradient(40px 100px, #0078ff, #c2e3e3);
}
