//# background-position (Позиционирование)
/* При помощи свойства background-position можно управлять положением фоновой картинки внутри элемента.
- Если фоновая картинка (background-image) меньше, чем элемент, и автоматическое повторение фона (background-repeat) отключено, то по умолчанию она расположится в левом верхнем углу.
- Свойство положения фона не наследуется.
- Ключевые слова можно указывать в любом порядке. В остальных случаях первая величина — это позиция по горизонтали, а вторая, если есть — по вертикали.
- Если указано только одно значение, то второе подставляется автоматически и равняется 50%. То есть значение 100% расположит картинку по центру правого края.
- Если картинка больше блока, то разница их размеров, от которой отсчитываются проценты, оказывается отрицательной, поэтому они сдвигают картинку не вправо и вниз, а влево и вверх. Но 50% 50% и в этом случае совмещает центр картинки с центром элемента, а 100% 100% — правый нижний угол картинки с правым нижним углом элемента.
- Если картинка занимает всё пространство блока, то background-position с ключевыми словами или в процентах не возымеет никакого действия (проценты будут отсчитываться от нуля). Но его принято указывать, чтобы в случае замены картинки новое изображение располагалось по центру блока.
- Изменение положения фона можно анимировать при помощи свойства transition. */

//# значения
.element {
  //* в процентах (ось X, ось Y)
  // Для этого свойства проценты рассчитываются необычным для CSS образом: от разницы между размером элемента и размером самой фоновой картинки. Сдвиг картинки на 50%, то есть на половину этой разницы, центрирует её по соответствующей оси. Значение 0% 0% ставит картинку в левый верхний угол, а 100% 100% — в правый нижний.
  background-position: 0% 0%;         // левый верхний угол (по умолчанию)
  background-position: 100% 100%;     // правый нижний угол
  background-position: 50% 50%;       // центр-центр
  background-position: 15% 5%;        // слева 15%, сверху 5%
  // (слева от картинки 15% свободного места, а справа — оставшиеся 85%, над картинкой 5% свободного места, а под ней — оставшиеся 95%)

  //* при помощи ключевых слов (ось X, ось Y)
  background-position: left top;      // левый верхний угол
  background-position: center;        // центр-центр (второе слово center можно опустить)
  background-position: center bottom; // по центру по горизонтали и у нижнего края

  //* пиксели или другие единицы измерения длины (ось X, ось Y)
  background-position: 10px 150px;    // 10 px от левого края и 150 px от верхнего края
  background-position: 1rem;          // 1 rem от левого края и по центру между верхом и низом
  background-position: 15vw 25vh;     // 15 единиц ширины от левого края и 25 единиц высоты от верха

  //* при помощи ключевых слов и пикселей
  background-position: right 20px bottom 10px;
  // отступ будет отсчитываться не от верхнего левого угла, а от указанной при помощи ключевого слова стороны
  // (в данном случае картинка будет расположена в двадцати пикселях от правого края и в десяти пикселях от нижнего края)
}
