//# background-size (Размер)
/* Свойство background-size управляет размерами картинки внутри элемента, для которого эта картинка задана фоном.
- Размеры в единицах измерения или процентах можно комбинировать с ключевым словом auto. Первое значение будет отвечать за ширину фонового изображения, а второе — за высоту.
- Значение свойства не наследуется.
- Чаще всего используется значение cover. Второе по популярности значение — contain. Также часто можно увидеть значение 100% 100%, но с ним следует быть аккуратным. Точные размеры фона указываются крайне редко. Не принято оставлять значение по умолчанию.
- Свойство размера фона можно анимировать при помощи свойства transition. */

//# значения
.element {
  //* ключевые слова
  background-size: auto;        // размер изображения остаётся неизменным (по умолчанию)
  background-size: cover;       // изображение масштабируется без изменения пропорций так, чтобы закрыть фон всего элемента.
  // Короткая сторона изображения подстраивается под соответствующую сторону элемента.
  // А длинная сторона закрывает длинную сторону элемента, а остальное, что не попало в поле видимости, обрезается.
  background-size: contain;     // изображение масштабируется без изменения пропорций так, чтобы полностью поместиться в элемент.

  //* точный размер в любых единицах измерения, доступных в вебе (ширина, высота)
  background-size: 220px 400px; // 220 пикселей по ширине, 400 - по высоте

  //* проценты, размер в процентах будет рассчитываться от размеров элемента (ширина, высота)
  background-size: 100% 100%;   // 100%  по ширине, 100% - по высоте
}
