//# :active (Элемент используется сейчас)
/*
- Псевдокласс :active позволяет задать стили для элемента, с которым происходит взаимодействие прямо сейчас. Например, можно задать кнопке стиль, который будет виден в тот краткий миг, когда на кнопке зажата клавиша мыши.
- Смену стилей между состояниями можно анимировать при помощи transition.
- Часто, если дизайнер не позаботился об отрисовке состояния :active для кнопок, можно задать стили сразу и для наведения курсора и для активного состояния.
- Если вы задаёте стили для разных состояний ссылок, то следует придерживаться определённого порядка в объявлении стилей:
:link — :visited — :focus — :hover — :active.
*/

//# пример
button {
  padding: 2.5rem;
  border: 0;
  border-radius: 2.5rem;
  font-size: 2.5rem;
  background-color: #bada55;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:active {
  color: white;
  background-color: purple;
}
