//# :FOCUS (ЭЛЕМЕНТ В ФОКУСЕ)
// При переключении клавишей Tab элементу добавляется псевдокласс :focus, и мы можем задать для него красивые стили.

//# ПРИМЕР
button:focus {
  outline: 2px solid #ffffff;
  outline-offset: 3px;
}

//# ОБЩАЯ ИНФОРМАЦИЯ
/* Смену стилей между состояниями можно анимировать при помощи transition.
- В браузер встроены дефолтные стили для фокуса.
- Нельзя полностью удалять стили для фокуса, заменяйте их на свои, если дефолтные не нравятся.*/
