//# -OF-TYPE
// Псевдоклассы -of-type позволяют выбирать из группы элементы одного уровня вложенности на основании их порядка.

// :first-of-type — первый;
// :last-of-type — последний;
// :nth-of-type(n-число) — каждый n-й элемент;
// :nth-last-of-type(n-число) — каждый n-й элемент с отсчётом «с конца».
// :nth-of-type(2 of .class) — выберет второй элемент с классом class

//# ПРИМЕР
.element:first-of-type {
  color: #ffffff;
}
.element:last-of-type {
  color: #ffffff;
}
.element:nth-of-type(1) {
  color: #ffffff;
}
.element:nth-last-of-type(1) {
  color: #ffffff;
}

//# шпаргалка
// 1	1	Первый элемент, является синонимом псевдокласса :first-child
// 5	5	Пятый элемент
// 2n	2, 4, 6, 8, 10,…	Все чётные элементы, аналог значения even
// 2n+1	1, 3, 5, 7, 9,…	Все нечётные элементы, аналог значения odd
// 3n	3, 6, 9, 12, 15,…	Каждый третий элемент
// 3n+2	2, 5, 8, 11, 14,…	Каждый третий элемент, начиная со второго
// n+4	4, 5, 6, 7, 8,…	Все элементы, кроме первых трёх
// -n+3	3, 2, 1	Первые три элемента
// 5n-2	3, 8, 13, 18, 23,…	—
// even	2, 4, 6, 8, 10,…	Все чётные элементы
// odd	1, 3, 5, 7, 9,…	Все нечётные элементы