//# font-style (Стиль начертания)
// Определяет начертание шрифта: обычное, курсивное или наклонное.

//# значения
.element {
  //* обычное начертание текста (по умолчанию)
  font-style: normal;

  //* курсивное начертание
  font-style: italic;

  //* наклонное начертание
  font-style: oblique;
}

//# общая информация
// Касаемо наклонного шрифта, который задаётся через font-style: oblique - он очень похож на курсив, но по сути, это его имитация, которую используют, если у выбранного шрифта нет курсивного написания. Нужно помнить, что oblique может выглядеть хуже по качеству, чем курсивный шрифт. Это особенно заметно при печати страницы.
