//# text-align (Выравнивание текста)
// Выравнивает текст по горизонтали внутри блока.

//# значения
.element {
  text-align: left; // по левому краю (по умолчанию)
  text-align: right; // по правому краю
  text-align: center; // по центру
  text-align: justify; // по ширине
  text-align: start; // по тому краю, по которому принято в текущем языке (RU - по левому краю)
  text-align: end; // по противоположному краю для текущего языка (RU - по правому краю)
}

//# общая информация
/*
- Если это свойство не задано, то текст выравнивается по левому краю.
- Значение свойства наследуется.
- Хотите отцентровать блок, не меняя выравнивание внутри него? Добавьте левый и правый отступ margin со значением auto: например, margin: auto, margin: 0 auto, margin-left: auto margin-right: auto.
- Выравнивание текста нельзя анимировать при помощи transition.
- Свойство text-align можно использовать не только для выравнивания текста в строчных элементах, но и для выравнивания строчно-блочных (inline-block) элементов внутри родителя.
*/
