//# font-stretch (font stretch: Растягивание шрифта)
// Свойство font-stretch устанавливает узкое, нормальное или широкое начертание шрифта. Как и в случае font-weight, браузер не меняет рисунок шрифта, а выбирает из доступных шрифтов подходящие начертания, если они описаны в @font-face или есть в системном шрифте.

//# значения
.element {
  font-stretch: normal;          // нормальная или «текстовая» ширина шрифта (по умолчанию)
  font-stretch: 100%;            // можно указывать проценты
  font-stretch: ultra-condensed; // = 50%
  font-stretch: extra-condensed; // = 62.5%
  font-stretch: condensed;       // = 75%
  font-stretch: semi-condensed;  // = 87.5%
  font-stretch: normal;          // = 100%
  font-stretch: semi-expanded;   // = 112.5%
  font-stretch: expanded;        // = 125%
  font-stretch: extra-expanded;  // = 150%
  font-stretch: ultra-expanded;  // = 200%
}

//# общая информация
/*
- Некоторые шрифты имеют дополнительные начертания, в которых символы могут быть у́же (condensed) или шире (expanded) нормальной ширины.
- Если используемый вами шрифт не предполагает таких начертаний, то свойство font-stretch действовать не будет.
- Не все браузеры поддерживают вариативность шрифтов.
- Некоторые шрифты поддерживают не все значения.
- Проценты: отрицательные значения недопустимы. Границы диапазона зависят от того, какие значения поддерживает шрифт.
*/
