//# text-decoration (Декоративные линии)
// Свойство text-decoration позволяет добавить декоративные линии тексту. Текст можно подчеркнуть, перечеркнуть или добавить линию над текстом. Это шорткат, включает в себя: text-decoration-style, text-decoration-line, text-decoration-color.

//# значения
.element {
  //* Можно использовать хоть все значения (underline, overline, line-through)
  text-decoration: none;         // ничего не меняется (по умолчанию)
  text-decoration: underline;    // нижнее подчёркивание
  text-decoration: overline;     // линия над текстом
  text-decoration: line-through; // зачеркнутый текст

  //* Оформление декоративной линии
  text-decoration-style: solid;  // сплошная линия (по умолчанию)
  text-decoration-style: double; // двойная линия
  text-decoration-style: dotted; // точечная линия
  text-decoration-style: dashed; // пунктирная линия
  text-decoration-style: wavy;   // волнистая линия

  //* Тип декоративной линии
  text-decoration-line: none;         // декорация отсутствует (по умолчанию)
  text-decoration-line: underline;    // подчеркнутый текст
  text-decoration-line: overline;     // линии над текстом
  text-decoration-line: line-through; // зачеркнутый текст

  //* Цвет декоративной линии
  text-decoration-color: currentColor; // цвет такой же, что и у текста (по умолчанию)
  text-decoration-color: red;        // цвет красный
}

//# общая информация
/*
- Цвет линии по умолчанию совпадает с цветом текста, для которого задаётся свойство text-decoration.
- Свойство не наследуется.
- Значение по умолчанию для обычного текста — none. Но для ссылок (<a>) значение по умолчанию — underline.
- Свойство text-decoration целиком нельзя анимировать при помощи свойства transition, но можно анимировать цвет линии.
- Нельзя управлять толщиной и точным положением линии, заданной при помощи text-decoration.
- Если по дизайну требуется задать тексту или ссылке подчёркивание, отличающееся от стандартного по толщине или положению, а также если нужно анимировать появление / пропадание линии, то используй псевдоэлементы ::before или ::after.
*/