//# 0-1-0. Атрибут
//* атрибут checked
input[checked] {
  font-size: 14px;
}

//# Равно value
//* значение атрибута в точности равно value
a[href='www.yandex.ru'] {
  font-size: 14px;
}
//* значение атрибута в точности равно value или содержит value в своём (разделённом пробелами) списке значений
a[href~='www'] {
  font-size: 14px;
}
//* значение атрибута в точности равно value или начинается с value, за которым сразу следует дефис
a[href|='.pdf'] {
  font-size: 14px;
}

//# Содержит value
//* значение атрибута начинается с value
a[href^='.pdf'] {
  font-size: 14px;
}
//* значение атрибута заканчивается на value
a[href$='.pdf'] {
  font-size: 14px;
}
//* значение атрибута содержит value, независимо от его положения внутри строки
a[href*='.pdf'] {
  font-size: 14px;
}
