//# Селекторы Комбинированные (Объединенные)
/*
- Иногда может потребоваться выбрать элементы, которые одновременно удовлетворяют сразу нескольким условиям.
- В CSS есть запись, которая фактически выполняет операцию логического умножения, «И». Селекторы, применяемые к одному элементу, в этом случае пишутся без пробелов.
- В программировании похожую операцию часто обозначают как &&.
*/

//* Выберет элемент по тегу с классом .element
h1.element {
  font-size: 14px; // 0-1-1
}

//* Выберет элемент c двумя классам
.element.element {
  font-size: 14px; // 0-2-0
}

//* Выберет все теги <li>, которые НЕ являются первыми и последними в их родителе.
li:not(:first-child):not(:last-child) {
}
