//# Какие стили сбрасываем

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

input {
  margin: 0; // margin в принципе можно не сбрасывать, т.к. по умолчанию - 0em
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit;
}

img {
  vertical-align: middle;
}