//# Какие стили сбрасываем

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

input {
  // margin в принципе можно не сбрасывать, т.к. по умолчанию - 0em
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit;
}

img {
  vertical-align: middle;
}

audio {
  // Значение свойства display у тега <audio> по умолчанию inline, а значит внизу может появиться отступ, который зависит от высоты строки.
  display: block;
}

address {
  font-style: inherit;
}