//# Какие стили сбрасываем

body {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

input {
  // margin в принципе можно не сбрасывать, т.к. по умолчанию - 0em
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit;
}

img {
  vertical-align: middle;
}

audio {
  // Значение свойства display у тега <audio> по умолчанию inline, а значит внизу может появиться отступ, который зависит от высоты строки.
  display: block;
}